<!-- Modal -->
<div class="modal fade" id="addGroupChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Group Message Thread</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class='mobileBlocker'></div>
                <div class='mobileCourses'>
    
                    <div class='add-tutoring-wrapper'>
                        <div class='add-tutoring-sub-wrapper'>
                            <form class='add-tutoring-form'>
                                <p class='add-tutoring-label'>Chat Name</p>
                                <div class='input-container-add-tutoring'>
                                    <input class='add-tutoring-input name' type='text' placeholder='Enter Chat Name' />
                                </div>
                                <p class='add-tutoring-label'>Category (Optional)
                                </p>
                                <div class='input-container-add-tutoring'>
                                    <input name='category' class='add-tutoring-input1' type='text'
                                        placeholder='Select Category' />
                                </div>
                            <input type='submit'
                                    class='btn btn-primary add-tutoring-btn addChatBtn' value='Add Chat' />
                            </form>
                            <div class="spinner-container1 add-tutor-loading">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </div>
                                <span class="loading-span">Loading</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>