<div class="groupThreads">
    <div class="group-images">
        <div class="group-images-container">
            <ul class="group-images-list">
                <li class="go-home-item">
                    <a href="/home" data-toggle="tooltip" data-placement="right" title="Home">
                        <img class="go-home-groups" src="../assets/img/tutorBadge.svg"/>
                    </a>
                </li>
            </ul>
            
        </div>
       
    </div>
    <div class="thread-container">
        <h3 class="group-message-heading">Group Messages</h3>
        <div class="message-thread-container">
            <p class="text-light">Title</p>
        </div>
</div>
</div>

