<div class="overlay">
</div>
<div class="story-wrapper">
    <div class="story-container">
       
            
        <div class="content-area">
           <div class="content-container">
            <div class="content-header-container">
            <div class="progress-container">
            </div>
            <p class="text-light group-story-title">
            <img class="group-story-image" src="<%=groupImg%>"/>
            <span class="group-story-title-text"><%=studyGroup.GroupName%></span>
            </p>
          </div>
          <input type="hidden" name="storyId" value=""/>
          <input type="hidden" name="storyType" value=""/>
            <input id="iterator" type="hidden" name="iterator" value="0"/>
            
              <div class="right-div"></div>
              <div class="left-div"></div>
              <div class="story-img-div"></div>
              <div class="story-text-div"></div>
            </div>
            
          </div>
          
       
    </div>
</div>