<!DOCTYPE html>

    <head>
        <title>Messages</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
        <link href="assets/css/toggle.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">
        <link href="assets/css/userHeader.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="assets/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        
    </head>
    <% if(session.theme === 'bg-dark'){%>
        <body class="bodyClass">
    <%}else{%>
        <body class="bg-light">
    <%}%>
        <div class="page-container">
            <% include partials/sideBar.ejs%>
            <div id="horizontalHeader">
                    <h1 id="pageTitle"><a href="/userProfile"><img class="headerLinkImg" src="assets/img/chat.svg" alt="Connect"/><span class="headerLinkTitle">Messages</span></a></h1>
                <ul id="horizontalMenu">
                    <li></li>
                    <li><p>Current</p></li>
                    <li><p>Completed</p></li>
                    <li> 
                    </li>
                </ul>
                    <div class="userHeaderWrapper">
                        <div class="userHeader">
                            <div>
                                <img class="userProfileImg" src="<%=session.img%>" alt="Profile Picture" />
                            </div>
                            <div>
                                <h1 class="userProfileName"><%=session.name%><span><img src='assets/img/dropdown.svg' alt='dropdown' id="dropdown"/></span></h1>
                            </div>
                            <% include partials/userProfileDropdown.ejs %>
                        </div>
                    </div>
            </div>
            <div class="homeContainer bg-dark">
                <div class="contentBlock "> 
                    <h1>Update RSVP Status</h1>
                    <form method="POST" action="/userProfile">
                        <input type="button" class="btn-success" name="yes" value="Yes"/>
                        <input type="button" class="btn-danger" name="no" value="No"/>
                        <input type="button" class="btn-info" name="maybe" value="Maybe"/>
                    </form>
                </div>
            </div>
        </div>
        <audio id="pop">
                <source src="assets/sounds/Blop-Mark_DiAngelo-79054334.mp3" type="audio/mpeg">
            </audio>
    </body>
</html>