<!DOCTYPE html>

<head>
    <title>Contact | degreeMe </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
    <!-- StyleSheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="assets/css/header.css" rel="stylesheet">
    <link href="assets/css/footer.css" rel="stylesheet">
    <link href="assets/css/contact.css" rel="stylesheet">
    <link href="../assets/css/index.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="../assets/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="assets/js/showPopOutMenu.js"></script>



</head>
    

<body>
    <!-- <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon</h3> -->
    <div class="page-container">
        <div id="headerContainer">
            <%-include ('partials/header.ejs') %>
            <%-include ('partials/popout-menu.ejs') %>
        </div>
        <div class="homeContainer">
            <div class="contentBlock">
                <div class="contactUsText">
                    <h2>CONTACT US </h2>
                    <h4>If you have questions, suggestions, <br>concerns or need assistance please contact us at:</h4>
                    <p> DegreeMe LLC <br>
                        degreeme@degreeme.io <br>
                        christian.hithe@degreeme.io <br>
                        connor.boothe@degreeme.io</p>
                </div>
            </div>

        </div>
    </div>
    </div>
    <%- include ('partials/footer.ejs') %>
</body>


</html>