<!DOCTYPE html>

<head>
    <title>Careers | degreeMe </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
    <!-- StyleSheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="assets/css/header.css" rel="stylesheet">
    <link href="assets/css/footer.css" rel="stylesheet">
    <link href="assets/css/jobs.css" rel="stylesheet">
    <!-- Scripts -->
    <!-- <script type="text/javascript" src="assets/js/loginHamburgerMenu.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon</h3>
    <div class="page-container">
        <div id="headerContainer">
            <%-include ('partials/header.ejs') %>
        </div>

        <div class="homeContainer">
            <div class="contentBlock">
                <div id="aboutContainer">
                    <div id="aboutWrapper">
                        <h1 class=" jobsHeading">We're looking for developers to join our team.</h1>
                        <h2 class=" jobsHeading2">What's in it for you?</h2>
                        <div id="benefits-wrapper">
                            <div id="benefits-container">
                                <table>
                                    <tr>
                                        <td class="borderRight">
                                            <div class="jobsItem"><img class="jobsImg"
                                                    src="assets/img/dollarWhite.svg" /><br>
                                                <p class="text-light jobsList">Equity</p>
                                            </div>
                                        </td>
                                        <td class="borderRight">
                                            <div class="jobsItem "><img class="jobsImg"
                                                    src="assets/img/briefCase.svg" /><br>
                                                <p class="text-light jobsList">Experience</p>
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="jobsItem"><img class="jobsImg"
                                                    src="assets/img/calendarWhite.svg" /><br>
                                                <p class="text-light jobsList">Flexibility</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" borderRight perksItem">Earn Equity in Our Company</td>
                                        <td class=" borderRight perksItem">Wear multiple hats</td>
                                        <td class=" perksItem">Work when you want</td>
                                    </tr>
                                    <tr>
                                        <td class=" borderRight perksItem"></td>
                                        <td class=" borderRight perksItem">Develop real-world applications</td>
                                        <td class=" perksItem">Work where you want</td>
                                    </tr>
                                    <tr>
                                        <td class=" borderRight perksItem"></td>
                                        <td class=" borderRight perksItem">Add value to your resume</td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark borderRight perksItem"></td>
                                        <td class="text-dark borderRight perksItem"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <h2 class=" jobsHeading2">Roles we're looking to fill</h2>
                        <div class="jobsSkills">
                            <div class="jobsItem1"><img class="jobsImg1" src="assets/img/front-end-developer.svg" /><br>
                                <p class="text-light jobsList jobsItemSmall"></p>
                            </div>
                            <p class="jobTitle">Frontend Web Developer</p>

                            <p class="text-light jobsSkillsText">
                                We're looking for an independent thinker with a creative flare to join our team.
                                Applicants must be well-versed
                                in HTML, CSS, and Javascript. Experience working with Javascript libraries such as
                                jQuery, React.js, and Angular.js is preferred. Skills in Adobe Illustrator and Photoshop
                                are preferred.
                                An exceptional eye for design is required. Send your resume along with a letter stating
                                why you want to join the DegreeMe team to connor.boothe@degreeme.io to apply.
                            </p>
                        </div><br>
                        <div class="jobsSkills">
                            <div class="jobsItem1"><img class="jobsImg1" src="assets/img/nodejs.svg" /><br>
                                <p class="text-light jobsList jobsItemSmall"></p>
                            </div>
                            <p class="jobTitle">Backend Web Developer</p>
                            <p class="jobsSkillsText text-light">
                                We're looking for an independent thinker with a creative flare to join our team.
                                Applicants must be well-versed
                                in HTML, CSS, and Javascript. Experience working with Javascript libraries such as
                                jQuery, React.js, and Angular.js is preferred. Skills in Adobe Illustrator and Photoshop
                                are preferred.
                                An exceptional eye for design is required. Send your resume along with a letter stating
                                why you want to join the DegreeMe team to connor.boothe@degreeme.io to apply.
                            </p>
                        </div><br>
                        <div class="jobsSkills ">
                            <div class="jobsItem1"><img class="jobsImg2" src="assets/img/Mobile.svg" /><br>
                                <p class="text-light jobsList jobsItemSmall"></p>
                            </div>
                            <p class="jobTitle">Mobile Application Developer</p>
                            <p class="jobsSkillsText text-light">
                                We're looking for an independent thinker with a creative flare to join our team.
                                Applicants must be well-versed
                                in HTML, CSS, and Javascript. Experience working with Javascript libraries such as
                                jQuery, React.js, and Angular.js is preferred. Skills in Adobe Illustrator and Photoshop
                                are preferred.
                                An exceptional eye for design is required. Send your resume along with a letter stating
                                why you want to join the DegreeMe team to connor.boothe@degreeme.io to apply.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<% include partials/footer.ejs %>

</html>