<!DOCTYPE html>

<head>
    <title>Rule Policy | degreeMe </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
    <!-- StyleSheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="assets/css/header.css" rel="stylesheet">
    <link href="assets/css/footer.css" rel="stylesheet">
    <link href="assets/css/policies.css" rel="stylesheet">
    <!-- Scripts -->
    <!-- <script type="text/javascript" src="assets/js/loginHamburgerMenu.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class="">
    <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon</h3>
    <div class="page-containerPriv ">
        <div id="headerContainer">
            <%-include ('partials/header.ejs') %>
        </div>
    <div class="containerPrivacy">   
        <div id="privacyTitle">
            <h1>DegreeMe
                Rule Policy <br>
                <h2>Last updated [June 28, 2020]</h2>
            </h1>
        </div>
        <br>
        <div id="intro">
            
            <h3>We are not affilated with the University of North Carolina at Charlotte.</h3>
            <br>
            <h3>This site is only for college students.
                A valid college email address is used only
                for login purposes to keep non-collegiate, 
                people off the site. Your individual privacy 
                is fully protected and will not be disclosed
                to any university, college, business, non-collegiate or collegiate person.</h3>
            </h3>
            <br>
            <h2>INTRODUCTION</h2>
            <p> This Rule Policy explains the rules every user must abide by while using the Site.
                DegreeMe is providing a wholesome environment for our users that is free
                from cyber-bullying, theft, dishonesty, or fraud. It is a violation of this policy for any user
                that engages in cyber-bullying, online theft/fraud, or dishonesty. </p>
            <br>
            <h2>Cyber-Bullying</h2>
            <p>
                “Cyber-bullying” is defined as bullying through the use of technology or any electronic communication,
                which includes but is not limited to any transfer of signs, signals, writing, images, sounds, data or
                intelligence of any nature transmitted in whole or in part by such things as electronic mail, internet
                communications, instant message, text message or facsimile. Cyber6 bullying includes (i) the creation of
                a web page or blog in which the creator assumes the identity of another person or (ii) the knowing
                impersonation of another person as the author of posted content or messages, if the creation or
                impersonation
                is a violation under the law. Cyber-bullying also includes the distribution by electronic means of a
                communication to more than one person or the posting of material on an electronic medium that may be
                accessed by one or more persons, if the distribution or posting is a violation of the law.
            </p>
            <p>
                It is the responsibility of every user to recognize acts of cyber-bullying and retaliation.
                Any user that believes that he or she has been the victim of cyber-bullying should report
                to DegreeMe on the contact page immediately.
            </p>
            <h2>Online Theft/Fraud</h2>
            <p>
                "Online theft/fraud" is also referred to as ecommerce fraud. It
                occurs when a criminal leverages stolen payment information or
                fraudulently acquired bank or credit card accounts to attempt to buy an
                online tutoring transactions without the account owner's knowledge.
                <br>
                <br>
                "Online theft/fraud" is also defined as a tutor or a tutee false claiming
                wrongful actions that occur during a tutor session, in hopes of a refund
                or non-payment transaction. Dishonesty will not be tolerated by the
                tutor or tutee.
            </p>
            <h2>Complaints</h2>
            <p>
                Complaints filed against the tutor or tutee, will be reviewed and handled
                according to complaint. All user accounts have a three strike rule. Three
                rightfully accused complaints against any user account, that account
                will be reviewed and subject to termination effective immediately after
                being reviewed.
            </p>
            <h2>Termination</h2>
            <p>
                Any violations of these rules, a user account will be reviewed and
                subject to termination of their account effective immediately after
                being reviewed.

            </p>
            <br>
            <br>
            <br>
            <h2>CONTACT US </h2>
            <h3>If you have questions or comments about this Rule Policy, please contact us at: </h3>
            <p> <span class="degreeMe-title">DegreeMe LLC</span> <br>
                christian.hithe@degreeme.io <br>
                connor.boothe@degreeme.io <br>
                degreeme@degreeme.io </p>
        </div>
    </div>
</div>
</body>
<%- include ('partials/footer.ejs') %>
</html>