<!DOCTYPE html>

<head>
    <title>Privacy Policy | degreeMe </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
    <!-- StyleSheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="assets/css/header.css" rel="stylesheet">
    <link href="assets/css/footer.css" rel="stylesheet">
    <link href="assets/css/privacy.css" rel="stylesheet">
    <link href="../assets/css/index.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="../assets/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="assets/js/showPopOutMenu.js"></script>


        <!-- <script type="text/javascript" src="assets/js/loginHamburgerMenu.js"></script> -->
</head>

<body class="">
    <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon</h3>
    <div class="page-containerPriv ">
        <div id="headerContainer">
            <%-include ('partials/header.ejs') %>
            <%-include ('partials/popout-menu.ejs') %>
        </div>
    <div class="containerPrivacy">
        <div id="privacyTitle">
            <h1>DegreeMe 
                Privacy Policy <br>
                <h2>Last updated [June 28, 2020]</h2>
            </h1>
        </div>
        <br>
        <div id="intro">
            <h3>We are not affilated with the University of North Carolina at Charlotte.</h3>
            <br>
            <h3>This site is only for college students.
                A valid college email address is used only
                for login purposes to keep non-collegiate, 
                people off the site. Your individual privacy 
                is fully protected and will not be disclosed
                to any university, college, business, non-collegiate or collegiate person.</h3>
            </h3>
            <br>
            <h2>INTRODUCTION</h2>
            <p> DegreeMe respects the privacy of our users. This Privacy Policy explains how we collect, use, disclose,
                and safeguard your information when you visit our website degreeme.io, including any other media form,
                media channel, mobile website, or mobile application related or connected thereto DegreeMe. Please read
                this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not
                access the site.

                We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will
                alert you about any changes by updating the “Last Updated” date of this Privacy Policy. Any changes or
                modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you
                waive the right to receive specific notice of each such change or modification.

                You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be
                deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes
                in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy
                Policy is posted.
            </p>
            <br>
            <h2>COLLECTION OF YOUR INFORMATION</h2>
            <h3> We may collect information about you in a variety of ways. The information we may collect on the Site
                includes:</h3>
                <br>
            <h2>Personal Data</h2>
            <p>Personally identifiable information, such as your name, email address, and telephone number,
                and demographic information major, and interests, that you voluntarily give to us
                when you register with DegreeMe. You are under no obligation to provide us with personal information
                of any kind, however your refusal to do so may prevent you from using certain features of the site.</p>
            <h2>Derivative Data</h2>
            <p>Information our servers automatically collect when you access the Site, such as your IP address,
                your browser type, your operating system, your access times, and the pages you have viewed directly
                before and after accessing the site.</p>
            <h2>Financial Data</h2>
            <p>Financial information, such as data related to your payment method (e.g. valid credit card number,
                card brand, expiration date) will not be collect when you purchase, order, return, or request
                information
                about our services from our site. Otherwise, all financial information is stored by our payment
                processor,
                Stripe, and you are encouraged to review their privacy policy and contact them directly for responses to
                your
                questions.</p>
            <h2>Third-Party Data </h2>
            <p>Information from third parties, such as personal information or network friends, if you connect your
                account to the third party and grant the Site permission to access this information.</p>
            <h2>Data From Contests, Giveaways, and Surveys</h2>
            <p>Personal and other information you may provide when entering contests or giveaways and/or responding to
                surveys.</p>
        </div>
        <br>
        <div id="intro2">
            <h2>USE OF YOUR INFORMATION </h2>
            <h3>Having accurate information about you permits us to provide you with a smooth, efficient, and customized
                experience. Specifically, we may use information collected about you via the Site to: </h3>
            <ul class="privList">
                <li> Administer sweepstakes, promotions, and contests. </li>
                <li> Assist law enforcement and respond to subpoena.</li>
                <li> Compile anonymous statistical data and analysis for use internally or with third parties. </li>
                <li> Create and manage your account.</li>
                <li> Email you regarding your account or order.</li>
                <li> Enable user-to-user communications.</li>
                <li> Fulfill and manage purchases, orders, payments, and other transactions related to the Site.</li>
                <li> Generate a personal profile about you to make future visits to the Site.</li>
                <li> Monitor and analyze usage and trends to improve your experience with the Site.</li>
                <li> Notify you of updates to the Site.</li>
                <li> Offer new products, services, and/or recommendations to you.</li>
                <li> Perform other business activities as needed.</li>
                <li> Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.</li>
                <li> Process payments and refunds.</li>
                <li> Request feedback and contact you about your use of the Site.</li>
                <li> Resolve disputes and troubleshoot problems.</li>
                <li> Respond to product and customer service requests.</li>
                <li> Send you a newsletter.</li>
                <li> Solicit support for the Site.</li>
            </ul>
            <h2>DISCLOSURE OF YOUR INFORMATION</h2>
            <h3>We may share information we have collected about you in certain situations. Your information may be
                disclosed as follows: </h3>
            <h2>By Law or to Protect Rights </h2>
            <p>If we believe the release of information about you is necessary to respond to legal process,
                to investigate or remedy potential violations of our policies, or to protect the rights, property,
                and safety of others, we may share your information as permitted or required by any applicable
                law, rule, or regulation. This includes exchanging information with other entities for fraud
                protection and credit risk reduction. </p>
            <h2>Third-Party Service Providers </h2>
            <p>We may share your information with third parties that perform services for us or on our behalf,
                including payment processing, data analysis, email delivery, hosting services, customer service, and
                marketing assistance. </p>
            <h2>Marketing Communications</h2>
            <p>With your consent, or with an opportunity for you to withdraw consent, we may share your information
                with third parties for marketing purposes, as permitted by law.</p>
            <h2>Interactions with Other Users </h2>
            <p>If you interact with other users of the Site, those users may see your name, profile photo, and
                descriptions of your activity, including sending invitations to other users, chatting with other
                users, liking posts, following blogs. </p>
            <h2>Online Postings</h2>
            <p>When you post comments, contributions or other content to the Site, your posts may be viewed by
                all users and may be publicly distributed outside the Site in perpetuity. </p>
            <h2>Business Partners </h2>
            <p>We may share your information with our business partners to offer you certain products, services or
                promotions. </p>
            <h2>Other Third Parties</h2>
            <p>We may share your information with advertisers and investors for the purpose of conducting general
                business analysis. We may also share your information with such third parties for marketing purposes, as
                permitted by law. </p>
            <h2>Sale or Bankruptcy </h2>
            <p>If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another
                entity, we may transfer your information to the successor entity. If we go out of business or enter
                bankruptcy, your information would be an asset transferred or acquired by a third party. You acknowledge
                that such transfers may occur and that the transferee may decline honor commitments we made in this
                Privacy Policy.
                <br>
                <br>
                We are not responsible for the actions of third parties with whom you share personal or sensitive data,
                and we have no authority to manage or control third-party solicitations. If you no longer wish to
                receive
                correspondence, emails or other communications from third parties, you are responsible for contacting
                the third party directly.</p>
            <h2>SECURITY OF YOUR INFORMATION</h2>
            <p>We use administrative, technical, and physical security measures to help protect your personal
                information. While we have taken reasonable steps to secure the personal information you provide to us,
                please be aware that despite our efforts, no security measures are perfect or impenetrable, and no
                method
                of data transmission can be guaranteed against any interception or other type of misuse. Any information
                disclosed online is vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot
                guarantee complete security if you provide personal information.</p>
            <h2>POLICY FOR CHILDREN</h2>
            <p>We do not knowingly solicit information from or market to children under the age of 13. If you become
                aware of any data we have collected from children under age 13, please contact us using the contact
                information provided below. </p>
        </div>
        <div id="intro3">
            <h2>OPTIONS REGARDING YOUR INFORMATION</h2>
            <h3>Account Information </h3>
            <p>You may at any time review or change the information in your account or terminate your account by:</p>
            <ul class="privList">
                <li>Logging into your account settings and updating your account </li>
                <li>Contacting us using the contact information provided below </li>
            </ul>
            <p>Upon your request to terminate your account, we will deactivate or delete your account and information
                from our active databases. However, some information may be retained in our files to prevent fraud,
                troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal
                requirements. </p>
            <h3>Emails and Communications </h3>
            <p>If you no longer wish to receive correspondence, emails, or other communications from us, you may opt-out
                by: </p>
            <ul class="privList">
                <li>Noting your preferences at the time you register your account with the Site </li>
                <li>Logging into your account settings and updating your preferences </li>
                <li> Contacting us using the contact information provided below</li>
            </ul>
            <p>If you no longer wish to receive correspondence, emails, or other communications from third parties,
                you are responsible for contacting the third party directly. </p>
            <br>
            <br>
            <h2>CONTACT US </h2>
            <h3>If you have questions or comments about this Privacy Policy, please contact us at: </h3>
            <p> <span class="degreeMe-title">DegreeMe LLC</span> <br>
                christian.hithe@degreeme.io <br>
                connor.boothe@degreeme.io <br>
                degreeme@degreeme.io </p>
        </div>
    </div>
</div>
</body>
<%- include ('partials/footer.ejs') %>
</html>