<!DOCTYPE html>
<head>
  <title>Sign Up | degreeMe</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,viewport-fit=cover">
  <!-- StyleSheets -->
  <link rel="icon" href="assets/img/favicon.png" type="image/png" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link href="assets/css/header.css" rel="stylesheet">
  <link href="assets/css/schoolSuggestions.css" rel="stylesheet">
  <link href="assets/css/SignUp.css" rel="stylesheet">
  <link href="../assets/css/index.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/js/croppie/croppie.css" />
  <!-- Scripts -->
  <script src="assets/jquery/dist/jquery.js"></script>
  <script src="assets/jquery/jquery.session/jquery.session.js"></script>
  <script type="text/javascript" src="assets/js/signUpFormValidation.js"></script>
  <script type="text/javascript" src="assets/js/schoolSuggestions.js"></script>
  <script src="../assets/js/croppie/croppie.min.js"></script>
  <script type="text/javascript" src="assets/js/crop.js"></script>
  <script type="text/javascript" src="assets/js/showPopOutMenu.js"></script>


</head>

<body class="bg-light">
  <div class="blocker"></div>
  <div class="overlay"></div>
  <div class="page-container ">
    <div id="headerContainer">
      <%- include ('partials/header.ejs') %>
      <%-include ('partials/popout-menu.ejs') %>
    </div>
    <div class="signup-container">
      <div id="signUpWrapper">
        <div id="signup-form" class="">
          <h3 class="text-light">Join degreeMe</h3>
          <h2 class="signup-msg"><%=qs.msg%></h2>
          <form method="POST" action="/SignUp" enctype="multipart/form-data" id="form">
            <div class="name">
              <div class="input-container3">
                <p class="loginLabel1">First Name</p>
                <input name="first_name" id="first" type="text" class="input-field1 focus:outline-none"
                  spellcheck="false" autocomplete="autocomplete_off_hack_xfr4!k" style="text-transform: capitalize;"  />
                <p id="firstTxt"></p>
              </div>
              <div class="input-container4 ">
                <p class="loginLabel1">Last Name</p>
                <input name="last_name" id="last" type="text" class="input-field1" spellcheck="false"
                  autocomplete="autocomplete_off_hack_xfr4!k" style="text-transform: capitalize;" />
                <p id="lastTxt"></p>
              </div>
            </div>
            <div class="name">
              <div class=" input-container3">
                <p class="loginLabel1">School</p>
                <input id="schoolSignUp" name="school" type="text" class="input-field1" value="UNC Charlotte"
                  spellcheck="false" readonly autocomplete="autocomplete_off_hack_xfr4!k" />
                <div id="schoolSuggestions" class="input-container2 text-dark">
                  <ul>
                    <li><span class="schoolTxt btn btn-light">University of North Carolina at Charlotte</span></li>
                  </ul>
                </div>
              </div>
              <div class="input-container4">
                <p class="loginLabel1">University Email</p>
                <input id="emailSignUp" name="email" type="email" class=" input-field1"
                  autocomplete="autocomplete_off_hack_xfr4!k" />
                <p id="emailTxt"></p>
              </div>
            </div>
            <div class="name">
              <div class="input-container3 majorContainer">
                <p class="loginLabel1">Major</p>
                <input name="major" id="major" type="text" class=" input-field1 focus:outline-none" spellcheck="false"
                  autocomplete="off" />
                <p id="majorTxt"></p>
                <div class="major-autocomplete">
                  <ul class="major-list">
                    <p class='emptySearch'>Search Majors</p>
                  </ul>
                </div>
              </div>
              <div class="input-container4">
                <p class="loginLabel1">Class Standing</p>
                <select class="classStanding-select">
                  <option></option>
                  <option>Freshman</option>
                  <option>Sophomore</option>
                  <option>Junior</option>
                  <option>Senior</option>
                  <option>Graduate Student</option>
                </select>
                <p id="classTxt"></p>
                <div class="standing-autocomplete">
                  <ul class="major-list">
                    <p class='emptySearch'>Search Majors</p>
                  </ul>
                </div>
              </div>
            </div>
            <div class=" input-container2">
              <p class="loginLabel1">Username</p>
              <input name="handle" id="handle" type="text" class="input-field1 " spellcheck="false"
                autocomplete="off" />
              <p id="handleTxt"></p>
            </div>
            <div class="form-group">
              <div class="input-container2">
                <p class="loginLabel1">Password</p>
                <input autocomplete="off" name="password" id="passwordSignUp" type="password" class=" input-field1">
                <p id="pwTxt"></p>
              </div>
            </div>
            <div class="form-group">
              <div class="input-container2">
                <p class="loginLabel1">Retype Password</p>
                <input id="retypePasswordSignUp" name="retypePW" type="password" class=" input-field1">
                <p id="ReTypeTxt"></p>
              </div>
            </div>
            <div class="fileUpload">
            </div>
            <div class="img-btn-container">
              <div class="btn btn-info" id="img-btn">Upload Photo</div>
              <div id="result1"></div>
            </div>
            <small id="imgTxt"></small>
            <div id="img-upload-container">
              <div id="img-secondary-wrapper">
                <input type='hidden' name='img1' id='croppedImg' value="" required />
                <input type="file" id="upload" class="upload-file" value="Upload an Image"
                  accept="image/gif, image/jpeg, image/png"><span class="picX"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                  </svg></span>
                <div id="upload-demo"></div>
                <input type="hidden" id="imagebase64" name="imagebase64">
                <div class="upload-result btn-primary">Use</div>
              </div>
            </div>
            <div class="disclaimerText">
              <h3><strong>DegreeMe is not affiliated with any university.</strong> Your school email address
                is only required to keep students that do not go to your school off the website. Your privacy is secured
                and protected.
              </h3>
            </div>
            <button type="submit" class="btn btn-primary createAccount" id="loginBtnSignUp">Create Account</button>
          </form>
          <br>
          <br>
          <br>
          <br>
          <input style="display:none" id="session" value="<%=session.theme%>" />
        </div>
      </div>
    </div>
  </div>
</body>
</html>