<!DOCTYPE html>

<head>
    <title>Forgot Password | degreeMe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- StyleSheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="assets/css/header.css" rel="stylesheet">
    <link href="assets/css/updatePassword.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="assets/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="assets/js/emailCodeValidation.js"></script>
</head>

<body>
    <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon.<br> Please access CollegeTutor via laptop/desktop.
    </h3>
    <h3 class="mobileMsg"></h3>
    <div class="page-container">
        <div id="headerContainer">
            <%-include ('partials/header.ejs') %>
        </div>
        <div class="homeContainer">
            <div class="contentBlock">
                <div class="forgot-pwordImage">
                    <img src="/assets/img/undraw_my_password_d6kg.svg">
                </div>
                <h3 class="text-light confirmationHeader">Password Reset Tool</h3><br>
                <h3 class="emailSent text-light"><%=qs.message%></h3>
                <form method="POST" action="sendPWEmail">
                    <input name="email" type="text" class="confirmInput" placeholder="Enter your email" /><br>
                    <small id="emailTxt" class="text-danger"></small><br><br>
                    <input id="submitPword" type="submit" value="Send Email"
                        class="btn btn-primary loginLink confirmSubmit" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>