.connectionHeader{
    margin-right:200px!important;
}
.detailsListItem{
    font-size: 22px;
}
.detailsImg{
    width:20px!important;
    height:20px!important;
}
.CardField{
    color: #d4d4d4!important;
}