<!DOCTYPE html>

    <head>
        <title>Connections</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
        <link href="assets/css/toggle.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">
        <link href="assets/css/userHeader.css" rel="stylesheet">
        <link href="assets/css/update.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
           <!-- Google Tag Manager -->
           <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
            <!-- End Google Tag Manager -->
        <script src="assets/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <script type="text/javascript" src="assets/js/ajaxCalls/userProfile.js"></script>
        <script type="text/javascript" src="assets/js/update.js"></script>
    </head>
    <% if(session.theme === 'bg-dark'){%>
        <body class="bodyClass">
    <%}else{%>
        <body class="bg-light">
    <%}%>
             <!-- Google Tag Manager (noscript) -->
             <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTK9R96"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                <!-- End Google Tag Manager (noscript) -->
        <div class="page-container">
            <% include partials/sideBar.ejs%>
           
            <div id="horizontalHeader">
                    <h1 id="pageTitle"><a href="/userProfile"><img class="headerLinkImg" src="assets/img/connection.svg" alt="Connect"/><span class="headerLinkTitle">Connections</span></a></h1>
                <ul id="horizontalMenu">
                    <li></li>
                    <li><p>Current</p></li>
                    <li><p>Completed</p></li>
                    <li> 
                    </li>
                </ul>
                    <div class="userHeaderWrapper">
                        <div class="userHeader">
                            <div>
                                <img class="userProfileImg" src="<%=session.img%>" alt="Profile Picture" />
                            </div>
                        <div>
                            <h1 class="userProfileName"><%=session.name%><span><img src='assets/img/dropdown.svg' alt='dropdown' id="dropdown"/></span></h1>
                        </div>
                            <% include partials/userProfileDropdown.ejs %>
                        </div>
                    </div>
            </div>
            
            <div class="homeContainer bg-dark">
                <div class="contentBlock " >
                   
                    <div class="tableContainer">
                        <div class="tableWrapper">
                            <h1>AJAX Practice</h1>
                            <p id="addStr">

                            </p>
                            <button id="delete">Button</button>
                        </div>
                    </div>
                   
                        
                </div>
            </div>
        </div>
   
    </body>
</html>