<!DOCTYPE html>
<html>
    <head>
        <title>Connection</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <script src="assets/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <script type="text/javascript" src="assets/js/subjectList.js"></script>
    </head>
    <body>
        <div class="page-container">
            <div id="headerContainer">
                <% include partials/header.ejs %>
            </div>
                <div class="homeContainer" class="bg-dark">
                    <div class="contentBlock">
                        <div id="connect">
                                <h1><%= qs.name%></h1> 
                                <% var tutor = getIndex(qs.name)%>
                                <div id="connectStarContainer">
                                <% for(var i =0; i < tutor.getRating(); i++){ %>
                                    <span class="star">&#9733;</span>
                                <% }%>
                                </div>
                                <div id="rateDiv"><span><strong>$11.50/hour</strong></span></div>
                                <h2>Select a Date and Time</h2>
                                <form method="POST">
                                <ul>
                                    <li>
                                            <label for="Monday">
                                               <div class="dayContainer">
                                                    <h1>Monday</h1>
                                                        <div class="timeContainer">
                                                                <label class="timeLabel">12:00 PM</label><input class="time"  value="9 PM" type="radio" name="time"/>
                                                           </div>
                                               </div>
                                            </label>
                                            <input type="radio" name="day" value="Monday" id="Monday"/>
                                    </li>
                                    <li>
                                            <label for="Tuesday">
                                                    <div class="dayContainer">
                                                        <h1>Tuesday</h1>
                                                        <div class="timeContainer">
                                                                <label class="timeLabel">12:00 PM</label><input class="time" id="12" value="9 PM" type="radio" name="time"/>
                                                           </div>
                                                    </div>
                                            </label>
                                            <input type="radio" name="day" value="Tuesday" id="Tuesday"/>
                                    </li>
                                    <li>
                                            <label for="Wednesday">
                                                <div class="dayContainer">
                                                    <h1>Wednesday</h1>
                                                    <div class="timeContainer">
                                                            <label class="timeLabel">12:00 PM</label><input class="time" id="12" type="radio" name="time"/>
                                                       </div>
                                                </div>
                                            </label>
                                            <input type="radio" name="day" value="Wednesday" id="Wednesday"/>
                                    </li>
                                    <li>
                                            <label for="Thursday">
                                                    <div class="dayContainer">
                                                        <h1>Thursday</h1>
                                                        <div class="timeContainer">
                                                                <label class="timeLabel">12:00 PM - 2:00 PM</label><input class="time" value="11 PM" id="12" type="radio" name="time"/>
                                                           </div>
                                                    </div>
                                            </label>
                                            <input type="radio" name="day" value="Thursday" id="Thursday"/>
                                    </li>
                                    <li>
                                            <label for="Friday">
                                                <div class="dayContainer">
                                                    <h1>Friday</h1>
                                                    <div class="timeContainer">
                                                            <label class="timeLabel">12:00 PM</label><input class="time" value="12 PM" id="12" type="radio" name="time"/>
                                                       </div>
                                                </div>
                                            </label>
                                            <input type="radio" name="day" value="Friday" id="Friday"/>
                                    </li>
                                </ul>
                                <h2><%=qs.name%>'s Locations</h2>
                                <select>
                                    <option>Atkins Library</option>
                                    <option>Pop Martin Student Union</option>
                                </select><br><br>
                                <button class="btn-danger">Create Connection</button>
                                </form>
                        </div>   
                
            </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </body>
</html>