<!DOCTYPE html>
<html>
    <head>
        <title>Connections</title>
        <link rel="icon" href="assets/img/favicon.png" type="image/png" />
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
        <link href="assets/css/header.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="assets/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <script type="text/javascript" src="assets/js/underLineMainNav.js"></script>
    </head>
    <body class="<%=session.theme%>">
        <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon</h3>
        <div class="page-container">
            <div id="headerContainer" class="bg-light">
                <% include partials/header.ejs %>
            </div>
            <div class="homeContainer">
                <div class="">
                        <h2 class="subscriptionHeader">Subscription Plans</h2>
                        <img class="subImg" src="/assets/img/SubscriptionImg.svg" />
                        <div id=" ">
                           
                               
                                
                     
                          
                    
                            
                        </div>
                        <br>
                      
                   
                   
                </div>
            </div>
        </div>
        
    </body>
</html>  