<link href="../assets/css/meetupSideBar.css" rel="stylesheet">
<div class="meetupSideBar">
    <div class="meetupSideBar-container">
       <h1>Members</h1>
           
            
        
    </div>
    
   

</div>