<div class="homeSideBar">
    <div class="homeSideBar-container">
        <h2 class="homeSideBarTitle">Upcoming Tutoring Sessions</h2>
        <ul class="sideBarItemMenu">
            
            
            <li class="sideBarItemMenu-item"><a class="text-primary" href="/meetups">Past Meetups</a></li>
        </ul>
    </div>
    
 

</div>