
<div class="similarStudents-container">
    <div class="">
        <h2 class="text-light sideBarTitle">Students with similar course schedules</h2>
        <ul class>
            <%for(var x = 0; x < 5;x++){%>
                <li class="text-light"><img class="similarStudentsImg" src="../<%=session.img%>" />Fake Student</li>
            
            <%}%>
            
             
       

            
        </ul>
    </div>
</div>