<!DOCTYPE html>
<html>

<head>
    <title>Connection</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="assets/css/main1.css" rel="stylesheet">
    <link href="assets/css/toggle.css" rel="stylesheet">
    <link href="assets/css/userProfile.css" rel="stylesheet">
    <link href="assets/css/userHeader.css" rel="stylesheet">
    <link href="assets/css/details.css" rel="stylesheet">
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="assets/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="assets/css/messageSuccess.css" rel="stylesheet">
    <script src="assets/jquery/dist/jquery.js"></script>

    <script type="text/javascript" src="assets/js/highlightCurrentMenuItem.js"></script>
    <script type="text/javascript" src="assets/js/notification.js"></script>
    <script type="text/javascript" src="assets/js/update.js"></script>
    <script type="text/javascript" src="assets/js/tutorSearch.js"></script>
    <script type="text/javascript" src="assets/js/details.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript" src="assets/js/messages.js"></script>
    

    <script src="https://js.stripe.com/v3/"></script>
    <script src="assets/js/confirm.js"></script>
</head>


<body class="">
    <div class="page-container">
        <% include partials/sideBar.ejs%>
        <% include partials/horizontalHeader.ejs%>

        <div class="homeContainer">
            <div class="contentBlock1">
                <div class="">
                    <div class="connectionList-container connectionList-containerDark">
                        <div class="connectionList ">

                            <ul>

                                <form id="confirm-payment-form">
                                    
                                    <input id="secret" name="secret" type="hidden" value="<%=clientSecret%>" />
                                    <input id="connectedStripeId" name="connectedStripeId" type="hidden" value="<%=stripeId%>" />
                                    <input id="connection" type="hidden" value="<%=connection%>"/>
                                    <div id="card-element" style="width:1000px;background-color:red;">
                                      <!-- Elements will create input elements here -->
                                    </div>
                                    <h2>4242424242424242</h2>
                                  
                                    <!-- We'll put the error messages in this element -->
                                    <div id="card-errors" role="alert"></div>
                                  
                                    <button id="submit" class="btn btn-danger" >Pay <%=amount%></button>
                                  </form>
                                                                                                                                                 
                            </ul>
                                      
                        </div>
                                
                                    
                    </div>
                                
                </div>                      
            </div>
        <!-- </div> -->
    </div>
 </body>



</html>