<!DOCTYPE html>
<html>
    <head>
        <title>My Finances</title>
        <meta charset="UTF-8">
        <link rel="icon" href="assets/img/favicon.png" type="image/png" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link href="assets/css/main1.css" rel="stylesheet">
        <link href="assets/css/toggle.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">
        <link href="assets/css/userHeader.css" rel="stylesheet">
        <link href="assets/css/update.css" rel="stylesheet">
        <link href="assets/css/MyFinances.css" rel="stylesheet">
        
        
        <link rel="stylesheet" href="assets/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="assets/jquery/dist/jquery.js"></script>
      
        
        <script type="text/javascript" src="assets/js/notification.js"></script>
        <script type="text/javascript" src="assets/js/highlightCurrentMenuItem.js"></script>
        <script type="text/javascript" src="assets/js/update.js"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script type="text/javascript" src="assets/js/quiz.js"></script>
        <script type="text/javascript" src="assets/js/hostASessionValidation.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>
        <script type="text/javascript" src=" https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script type="text/javascript" src="assets/js/weeklyEarningsChart.js"></script>
        <script type="text/javascript" src="assets/js/tutorSearch.js"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script type="text/javascript" src="assets/js/messages.js"></script>
        <link href="assets/css/messageSuccess.css" rel="stylesheet">
    </head>
    
      
        <body>
    
        <div class="page-container <%=session.theme%>">
            <% include partials/sideBar.ejs%>
            <% include partials/horizontalHeader.ejs%>
            <div class="homeContainer1 <%=session.theme%>">
                <div class="contentBlock1 <%=session.theme%>">
                    <h1 class="subscribeTitle">Subscriptions Available</h1>
                            <div id="searchBarWrapper">
                                <div id="searchBar" class="active-cyan-3 active-cyan-4 mb-4" >
                                    <form method="GET" autocomplete="off">
                                        <div class="input-container1Light">
                                            <input id="searchInput" class=" input-field ui-autocomplete-input-field" placeholder="Search Courses at UNC Charlotte"/>
                                            <button class="searchBtn"><i class="fa fa-user icon"><img src="/assets/img/search.svg.svg" class="signup-icon"/></i></button>
                                        </div>
            
                                    </form>
                                   
                                </div>
                            </div>
                            <div class="tableContainer">
                            <div class="tableWrapper">
                            <table class="table_">
                                <thead class="">
                                    
                                            <tr>
                                                <th class="text-light">Tutor</th>
                                                <th class="text-light">Class</th>
                                                <th class="text-light">Date</th>
                                                <th class="text-light">Time</th>
                                                <th class="text-light">Building</th>
                                                <th class="text-light">Room</th>
                                                <th class="text-light">Type</th>
                                                <th class="text-light">Status</th>
                                                <th class="text-light"></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                               
                                                <div class="myConnectionsWrapper">  
                                                <tr class="myConnectionContainer">
                                                    <td><span class="btn btn-primary" onclick="location.href='/'">
                                                      </span></td>
                                                    <td class="text-light">Name</td>
                                                    <td class="text-light"></td>
                                                    <td class="text-light"></td>
                                                    <td class="text-light"></td>
                                                    <td class="text-light"></td>
                                                    <td class="text-light"></td>
                                                    <td class="text-light"><button type="button" class=" badge btn-success"></button></td>
                                                   
                                                    <td>
                                                            
                                                                    <a href="/" class="btn btn-info remove">Leave a Review</a>
                                                        
                                                                
                                                            
                                                               
                                                                
                                                               
                                                                
                                                                
                                                    </td>
                                                    <td></td>
                                                   
                                                </tr>
                                                
                                                </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                                
                        </div>
                        
                        <br>
                </div>
            
                
            </div>
       
    </body>
</html>