/*color of page */
body {
    background-color: #191919;
}
.page-containerPriv {
    background-color: #191919;
    margin-left: auto;
    margin-right: auto;
}
.containerPrivacy {
    margin-top: 60px;
    margin-bottom: 70px;
}
#privacyTitle {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#privacyTitle h1{
    color: white;
    position: relative;
    
}
#privacyTitle h2 {
    color: white;
    font-weight: 100;
}
/* parent div of introduction */
#intro {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#intro h2 {
    color: white;
}
#intro p {
    color: white;
    /* width: 30em; */
}
#intro h3 {
    color: white;
    font-weight: 300;
    font-size: 25px;
    width: 30em;
}
/* parent div of intro 2 */
#intro2 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#intro2 h2 {
    color: white;
}
#intro2 h3 {
    color: white;
    font-weight: 300;
    /* width: 30em; */
}
#intro2 p {
    color: white;
    /* width: 30em; */
}

/* parent div of intro 3 */
#intro3 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#intro3 h2 {
    color: white;
}
#intro3 h3 {
    color: white;
    font-weight: 200;
    /* width: 30em; */
}
#intro3 p {
    color: white;
    /* width: 30em; */
}
.degreeMe-title {
    color: #a3a3a3;
}
/* first list on page */
.privList {
    color: white;
    margin-left: 100px;
    text-align: left;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

}