.page-container1 {
    background-color: #191919;
}
#aboutContainer{
    background-color:#191919;
    padding-top: 0px;
    height: 91.6vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* arrow on page */
.scrollArrow {
    color: #007bff;
    position: absolute;
    top: 44%;
    left: 55%;
    margin-left: -100px;
    cursor: pointer;
}

.aboutContainer2{
    background-color: #191919;
    padding-top: 50px;
    height: 100vh;
    background-size: 100% 95%;
    background-repeat: no-repeat;
}
/* text on aboutContainer2 */
.aboutContainer2 h2 {
    color: white;
    text-align: center;
    /* font-family: 'Quicksand', sans-serif; */
    
}
/* grid */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  /* change the size of the entire block content filled with the images */
  .rowParent {
      width: 100%;
      text-align: center;
  }
  .row {
    margin-right: auto;
    margin-left: auto; 
    display: inline;
  }


  .page-container1 {
      background-color: black;
  }
  /* ****** MAY DELETE ***** */
  .wholeScreen {
      background-color: #191919;
  }
  /* styling the parent div for children aboutChild */
  /* .aboutParent {
    width: 580px;
  
    position: absolute;
    left: 70px;
    top: 20px;
  } */
  .aboutUsTitle {
    display: inline-block;
    height: 600px;
    position: relative;
    left: 20px;
    top: 50px;
  }
  .aboutUsTitle img {
    width: 50%;
    float: right;
    position: relative;

  }
  
  /*styling the children of the parent div */
  .aboutChild p {
    color: white;
    height: 150px;

    text-shadow: 1px 1px white;
    font-size: 5em;
    text-align: left;
    padding-top: 60px; 
  }
  .aboutChild h1 {
    font-weight: 100;
    text-align: left;
    font-size: 40px;
    color: white; 
    width: 13em;
  }
  /* styling the graphic  */
  .capsAbout {
      width: 50%;
      top: 7px;
      position: relative;
      left: 670px;
  }
  /* Icons */
  .iconAbout {
      margin-top: 20px;
      width: 150px;
      margin-left: 160px;
  }
  .iconAbout2 {
    margin-top: 20px;
    width: 200px;
    margin-left: 140px;
}
.iconAbout3 {
    margin-top: 20px;
    width: 200px;
    margin-left: 140px;
}

  .column h1 {
      padding-top: 10px;
      color: white;
  }

  .column h2 {
    padding-top: 10px;
    text-align: left;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    font-weight: lighter;
    /* font-family:'Open Sans', sans-serif; */
  }
/* 
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
  
        .aboutUsTitle {
          height: 600px;
          position: relative;
          left: 20px;
          top: 50px;
        }
        .aboutUsTitle img {
          width: 50%;
          float: right;
          position: relative;
      
        }
       
    } */

@media only screen and (max-width: 375px) { 
      /* nav bar set up */
    .socialItem {
      display: none!important;
    }
    #headerLinkContainer ul li:nth-child(2){
      display: none!important;
    } 
    #headerLinkContainer ul li:nth-child(3){
      display: none!important;
    } 
    #headerLinkContainer ul li:not(:first-child) {
      position: relative;
      right: 125px;
    }
    #headerLinkContainer {
      list-style-type: none;
      height: 60px;
      width: 100%;
      padding-top: 15px;
      position: relative;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .login-nav {
      border-radius: 10px!important;
      padding-top: 3px!important;
      padding-bottom: 3px!important;
      box-shadow: 1px 2px #131313;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px!important;
      position: relative;
      left: 50px;
      width: 100px!important;
      margin-left: 0px!important;
    }
    /* end of nav bar design for mobile */
}