.admin-container{
    margin-left:10px;
    text-align:center;
    padding-top:100px;
    padding-bottom:100px;
}
.transcript-img{
    width:300px;
}
.pendingTutorTitle{
    margin-bottom:30px;
}
.courses-tutoring{
    margin-top:50px;
}