#details{
    background-color:white;
    position:absolute;
    display:none;
    width:30%;
    margin-left:500px;
    margin-top:150px;
}
.pay{
    width:50%!important;
    margin-top:50px;
}
.payment-processing-container{
    width:100%;;
    text-align:center;
    padding-top:20px;
    display:none;
}

.detailsImg{
    width: 25px;
    height: 25px;
    float:left;
    margin-top:5px;
    margin-right:20px;
    color:white!important;
}
.timeOption{
    font-size:18px;
}
.detailsImg1{
    width: 25px;
    height: 25px;
    float:left;
    margin-right:10px;
    margin-left:5px;
    color:white!important;
}
.detailsListItem{
    font-size:18px;
    margin-bottom:10px;
    padding-top:5px; 

}
.details-item-label{
    color:#d4d4d4;
    font-weight:400!important;

}
.paymentTxt{
    font-family:Helvetica Neue, Helvetica, sans-serif;
    font-size:22px;
    text-align:center;
    margin-bottom:15px;
}

.notesHeader{
    font-size:22px!important;
    text-align:left;
}
.d-flex {
    width:220px;
    text-align:center;
    z-index:3;
    color:black!important;
    margin-left:auto;
    margin-right:auto;
}
.overlay{
    position:absolute!important;
    background-color:black!important;
    opacity:0.5;
    width:100%!important;
    height:100%!important;
    z-index:2;
}
.payment-status{
    color:white!important;
    font-size:18px;
    padding-top:5px;
    padding-left:5px;

}
.sessionNotes{
    width:90%;
    height:150px;
    border-radius:5px;
    padding-left:10px;
    padding-top:5px;
}
.priceLabel{
    color:#d4d4d4;
}
.checkoutIcon{
    color:white!important;
  
}
.checkout-header{
    background-color:#1d1d1d;
    padding:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    
}
.tutor{
    padding-left:20px;
}
.checkout-subheader{
    text-align:left;
    padding-top:10px;
    color:white;
    margin-left:100px;
    font-size:20px;
    margin-top:20px;
}
.checkout-price-subheader{
    text-align:left;
    padding-top:10px;
    color:white;
    font-size:20px;
}
.checkout-subheader1{
    text-align:left;
    padding-top:10px;
    color:#d4d4d4;
}
.checkout-price{

    text-align:left;
}
.checkout-price-text{
    font-size:27px;
}
.checkout-price span{
    display:block;
}
.subject{
    font-size:16px;
    margin-top:5px;
    margin-right:20px;
    float:right;
}

/* icon edits on checkout page */
.rightSide ul li{
    list-style-type: none;
}
.sessionNotes::-webkit-input-placeholder{
    padding-left:5px;
    padding-top:3px;
}
.sessionNotes::-moz-placeholder{
    padding-left:5px;
    padding-top:3px;
}
.sessionNotes:-ms-input-placeholder{
    padding-left:5px;
    padding-top:3px;
}
.sessionNotes::-ms-input-placeholder{
    padding-left:5px;
    padding-top:3px;
}
.sessionNotes::placeholder{
    padding-left:5px;
    padding-top:3px;
}
.details-list-container{
  width:400px;
    margin-left:100px;
    margin-right:auto;
    margin-top:10px;
}
.stripe-form{
    width: 600px!important;
}
.schoolbadge{
    margin-top:10px;
}
.detailsList li{
    list-style-type:none!important;
}
.connectionHeader{
    text-align:center;
    width:30%;
    margin-bottom:0!important;
    float:left;

}
.connectionHeader li{
   
    margin-bottom:0!important;

}
.profilePicture{
    width:150px!important;
    padding-top:20px;
}
.tutorName a{
    font-size:16px;
    padding-left:5px;
}
.tutorName{
    font-size:16px;
    padding-top:10px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-align:center;
    margin-bottom:0!important;
    margin-top:0!important;
    
}

.StripeElement {
    box-sizing: border-box;
    width:100%;
    margin-left:10%;
    margin-right:20%;
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #1d1d1d;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  .stripe-submit{
    font-family: 'Open Sans', sans-serif;
    margin-top:15px;
    background-color:#242526!important;
    border:2px solid #007bff!important;
    color:white!important;
    width:50%;
    font-size:17px!important;
    margin-left:25%;
    margin-right:20px;
    border-radius:20px;
  }
  .stripe-submit:hover{
    background-color:#007bff!important;

  }
  .date-wrapper{
      margin-left:auto;
      margin-right:auto;
      text-align:center;
      width:260px;
  }
  .openSeats{
      position:relative;
      right:0;
      float:right;
      margin-right:50px;
      font-size:14px!important;
      font-family:"Open sans","sans-serif"!important;
  }
 
  .date-container:hover{
    background-color:#1f1f1f;
  }
  .selectDateTime{
      margin-bottom:5px!important;
      margin-top:5px!important;
      padding-left:15px;
  }
  .selectDateTime svg{
      float:right;
      margin-right:20px;
  } 
 
  
  .timeSlot{
    background-color:#1d1d1d!important;
    border:none!important;
    color:white!important;
    font-size:20px;
    outline:none!important;
    cursor:pointer;
  }
  .StripeElement--webkit-autofill {
    background-color: #1d1d1d !important;
  }
  #card-errors{
      width:100%;
      text-align:center;
      color:#fa755a;
  }
  .checkoutImg{
      width:40px;
  }
  .terms{
    padding-right:25px!important;
}
.termsTxt{
    font-size:14px;
    padding-left:60px;
    padding-top:40px;
}
.termsMsg{
    padding-left:10px;
}
/* desktop */
@media only screen and (min-width: 1000px) {
    .notes{
        width:400px;
        min-height:100px;
        padding:10px;
        margin-left:100px;
        margin-right:75px;
        background-color:#1d1d1d;
        color:white;
        margin-bottom:10px;
        border:none;
    }
    .checkout-container{
        margin-left:auto;
        margin-right: auto;
        width:600px;
        background-color:#242526;
        text-align:left;
        border-radius:10px;
        box-shadow:1px 2px #131313;
        padding-bottom:20px;
    }
    .date-container{
        background-color:#1d1d1d;
        width:400px;
          margin-top:20px;
          padding-top:5px;
          padding-bottom:5px;
          padding-left:5px;
          font-family:"Open sans","sans-serif";
          cursor:pointer;
          z-index:3;
          margin-left:100px;
    }
    .date-select{
        font-family:"Open sans","sans-serif";
        background-color:#1d1d1d;
        width:400px;
        display:none;
        position:absolute;
        z-index:2;
        margin-left:100px;
    }
    .date-select ul li{
        width:100%!important;
        list-style-type:none;
        padding-left:60px;
        padding-top:10px;
        padding-bottom:10px;
        cursor:pointer;
    }
    .date-select ul li:hover{
        background-color:#343a40;
    }
    #card-element{
        background-color:#1d1d1d;
        width:400px!important;
        margin-left:100px;
     }
}


/* mobile */
@media only screen and (max-width: 1000px) {
    #card-element{
        background-color:#1d1d1d;
        width:100%!important;
        margin-left:100px;
     }
    .notes{
        width:100%;
        min-height:100px;
        padding:10px;
        background-color:#1d1d1d;
        color:white;
        margin-bottom:10px;
        border:none;
    }
    .contentBlock1{
        margin-left:0!important;
    }
    .checkout-container{
        margin-left:auto;
        margin-right: auto;
        width:100%;
        background-color:#242526;
        text-align:left;
        border-radius:10px;
        box-shadow:1px 2px #131313;
        padding-bottom:20px;
    }
    .date-container{
        background-color:#1d1d1d;
        width:100%;
          margin-top:20px;
          padding-top:5px;
          padding-bottom:5px;
          padding-left:5px;
          font-family:"Open sans","sans-serif";
          cursor:pointer;
          z-index:3;
          margin-left:100px;
    }
    .date-select{
        font-family:"Open sans","sans-serif";
        background-color:#1d1d1d;
        width:100%;;
        display:none;
        position:absolute;
        z-index:2;
    }
    .date-select ul li{
        width:100%!important;
        list-style-type:none;
        padding-left:60px;
        padding-top:10px;
        padding-bottom:10px;
        cursor:pointer;
    }
    .date-select ul li:hover{
        background-color:#343a40;
    }
}