.comments-wrapper{
    padding-top:55px!important;
}
.addComment-form{
    margin-bottom:50px!important;
}
.comments-actions-list{
    margin-bottom:50px;
    text-align:right;
}
.thumbnail-container {
    width:200px;
    margin-top:30px;
}

.imageAttachment {
    width: 45px;
}
.commentsHeader{
    font-size:18px;
    color:#d4d4d4;
}
.yt-thumbnail {
    width:200px!important;
}
.yt-title {
    width:200px!important;
}
.posting-comment {
    font-size:18px;
}
.attachment-li{
    max-width:800px;
    width:50%!important;
}
.yt-logo {
    width:20px!important;
    float:left!important;

}
.comment-container a{
    color:#d4d4d4;
}
.question-Header{
    font-size:24px;
    text-align:left;
}
.comments-wrapper{
    background-color:#18191a!important;
}
.comment-container p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  }
.comment-img{
    width:200px;
}
   /* button */
   #comments-button {
    border-radius:20px;
    font-family:"Open sans", "sans-serif";
    font-size:16px!important;
    margin-top:-50px;
}
.purple-file-upload{
    background-color: #8a84ff;
    color:white;
    margin-top:30px;
}
.comments-actions-list li{
    list-style-type: none;
    display:inline-block;
    width:40px;
    margin-right:20px;
  
}
.comments-actions-list { 
    position:absolute;
    right:0;
    margin-top:20px;
    width:100%;
    text-align:right;
    margin-bottom:50px;
}
@media only screen and (max-width: 1000px) {
    .comments-container{
        width:90%;
        text-align:center;
        background-color:#18191a!important;
        margin-left:20px;
        margin-right:20px;
        min-height:100vh;
    }
    .comment-container{
        text-align:left;
        width:100%;
        padding:10px;
        padding-bottom: 10px;
    }
    /* button */
    #comments-button {
        position: relative;
        
    }
    .comment-sub-container{
        position: relative;
        display:inline-block;
        margin-top:0px!important;
        width: 100%!important;
    }
    .question-Header{
        font-size:18px;
        font-family:"Helvetica";
        line-height: 1.4;
    }
    .comment-sub-container{
        position: relative;
        display:inline-block;
        margin-top:50px;
        width: 100%;
    }
    /* format text */
    .comments-text {
    padding-left: 0px!important;
    padding-top:10px;
    margin-bottom:5px;
 }
}
@media only screen and (min-width: 1000px) {
    /* format text */
    .comments-text {
    padding-left: 55px!important;
 }
    .question-Header{
        font-size:21px;
    }
    .comment-sub-container{
        position: relative;
        right: 130px;
        display:inline-block;
        margin-top:50px;
        width: 800px;
    }
    .comments-container{
        margin-left:250px;
        width:100%;
        min-height:100vh;
        text-align:center;
        background-color:#18191a;
    }
    
    .comment-container{
        text-align:left;
        width:100%;
        padding:10px;
        padding-bottom: 30px;
    }
    
    #imageUploadLabel{
        border-radius:50px;
        width:45px!important;
        height:45px!important;
        font-size:17px;
        cursor:pointer;
    }
   
}