.contactUsText h2{
  font-size: 35px;
  padding-bottom: 25px;

  
}
.contactUsText h4{
  font-size: 23px;
  padding-bottom: 25px;

}
.contactUsText p {
    font-size: 20px;
    color: white;
}
.contactUsText{
  color:white;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* full screen */
  .homeContainer{
    min-height:85vh;
    padding-top:120px;
    padding-left:15%;
    padding-right:15%;
    color:#a9a9a9;
    background-color:#191919;
  }
}

@media only screen and (max-width: 1000px) {
  .homeContainer{
    
    min-height:100vh;
    padding-top:120px;
    padding-left:15%;
    padding-right:15%;
    color:#a9a9a9;
    background-color:#191919;
  }
  .contactUsText p {
      font-size: 20px;
      padding-top: 10px;
      color: white;
  }
  /* nav bar set up */
  .socialItem {
    display: none!important;
  }
  #headerLinkContainer ul li:nth-child(2){
    display: none!important;
  } 
  #headerLinkContainer ul li:nth-child(3){
    display: none!important;
  } 
  #headerLinkContainer ul li:not(:first-child) {
    position: relative;
    right: 125px;
}
  /* end of nav bar design for mobile */
}
