.contactUsText h2{
  font-size: 35px;
  padding-bottom: 25px;

  
}
.contactUsText h4{
  font-size: 23px;
  padding-bottom: 25px;

}
.contactUsText p {
    font-size: 20px;
    color: white;
}
.contactUsText{
  color:white;
}
.homeContainer{
    
  width:100%!important;
  background-image: url('../img/bg-image.svg');
  background-repeat:no-repeat;
  background-position:fixed;
  background-color:#2196f3;
  height:130vh;
  background-size:1980px;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* full screen */
 
}

@media only screen and (max-width: 1000px) {
 
  .contactUsText p {
      font-size: 20px;
      padding-top: 10px;
      color: white;
  }
  /* nav bar set up */
  .socialItem {
    display: none!important;
  }
  #headerLinkContainer ul li:nth-child(2){
    display: none!important;
  } 
  #headerLinkContainer ul li:nth-child(3){
    display: none!important;
  } 
  #headerLinkContainer ul li:not(:first-child) {
    position: relative;
    right: 125px;
}
  /* end of nav bar design for mobile */
}
