.studentImage{
     width:50px;
     margin-right:10px;
     padding-top:20px;

}


.student-container a{
    color:white;
}
.student-container a:hover{
    color:white;
}


.userQuestion{
    text-align:left;
    color:white;
}
.discImg{
    width:40px;
    margin-right:10px;
}
.disc-main-img{
    width:50px;
}


.courseProfileContainer1{
    margin-left:250px;
    padding-top:20px;
    padding-left:15%;
    padding-right:500px;
    background-color:#1d1d1d;
    height:150px;
 }
.tab-selected{
    border-bottom: 2px solid #007bff;
}
.courseButtons{
    position:relative;
    top:0;
    margin-top:-30px;
 }
.questionTxt{
    overflow-wrap: break-word;
    width:100%;
    background-color:#343a40;
    color:white;
    padding:10px;
    font-size:15px;
    min-height:150px;
    font-family: 'Open Sans', sans-serif;
}
.deleteDiscussion{
    border-radius:15px!important;
    font-size:13px!important;
    margin-left:20px;
}


.question{
    margin-top:30px;
}
.discName{
    font-size:14px;
    color:#d4d4d4;
}

.question-container1{
    background-color:#212121!important;
    margin-bottom:30px;
    padding:10px;
    padding-left:20px;
}
.modal-content{
    background-color:#212121!important;
    color:white!important;
}
input[name="anonymous"]{
    margin-right:10px;
    margin-left:3px;
}
.modal-footer{
    border-top:1px solid white!important;
}

.userName-text{
    font-family:"Open Sans", "sans-serif";
    color:#d4d4d4!important;
    font-size:15px;
}
.userName-text a{
    color:#d4d4d4!important;

}
.response-Header{
    font-size:22px;
    margin-top:50px!important;
    text-align: left; 
}
.commentMsg{
    width:100%;
    min-height:100px;
    background-color: #343a40;
    color: white;
    margin-top:40px;
    padding: 10px;
    border:none;
} 
.sg-img{
    width:40px;
    float:left;
    margin-right:10px;
}
.course-autocomplete, #courseName{
    position:relative;
    z-index:2;
}

.courseCode{
    float:left;
    
}

.courseCodeTxt1{
    color:#a9a9a9;
    font-family: 'Open Sans', sans-serif;
    padding-left:15px;
    
}

.color-dark{
    background-color:#18191a!important;
}
/* separation between the title and subtitle */
.comment-sub-container h3:first-child {
    font-size: 30px;
}
.comment-sub-container h3:not(first-child) {
    margin-top: 20px;
}
/* container around the comments section */
.commentTabs {
    margin-top: 20px;
    margin-bottom: 100px;
}
/* format date */
#text-date {
    float: right;
    font-size: 12px;
    color: #808080!important;
}


.modal-title{
    text-align:left;
    width:100%;
}
.modal, .modal-backdrop{
    position:absolute;
    
}
/* .modal{
    margin-left:43%;
    width:400px;
    height:300px;
} */
.studyGroupMeetup-container{
    min-height:100px;
    background-color:#242526;
    box-shadow:1px 2px #131313;
    margin-right: auto;
    margin-left: 10px;
    margin-bottom:30px;
    margin-top:30px;
    border-radius:5px;
    padding:20px;
    text-align:center;
    width: 300px;
    float: left;
}
.group-name {
    margin-top: 10px;
    font-size:17px;
    margin-left:15px!important;
}

/* delete if dont work */
.checkout-container{
    margin-left:auto;
    margin-right: auto;
    margin-top: 25px;
    width:300px;
    background-color:#242526;
    text-align:left;
    border-radius:10px;
    box-shadow:1px 2px #131313;
    padding-bottom:20px;
}

.checkout-header{
    background-color:#1d1d1d;
    padding-top:8px;
    padding-left:8px;
    height:60px;
    border-top-left-radius:10px;
    border-top-right-radius:10px; 
}

.p-container {
    margin-left: 20px;
    position: relative;
    top: 20px;
}
.prof-badge{
    margin-right:10px;
}
.descriptionLabel{
    font-size:14px;
    margin-bottom:0!important;
    color:#d4d4d4;
}
.group-description{
    font-size:16px;
}
.course-noStudents, .noGroups{
    font-size:18px;
    color:#d4d4d4;
}

@media only screen and (max-width: 1000px) {
    .profile-pic{
        width:80px!important;
        padding-top:10px;
    }
    .viewTutorMobile{
        margin-top:10px;
        font-size:14px!important;
        border-radius:20px;
    }
    .tutorBlockHeader{
        text-align:center;
        margin-bottom:5px;
        margin-top:10px;
        float:left;
        margin-left:10px!important;

    }
    .question{
        padding-bottom:100px;
    }
    .joinCourse{
        font-size:12px!important;
        margin-right:20px;
        margin-top:5px;
    }
    .course-profile-header{
        padding-left:0;
        width:100%;
    }
    .CourseHeader-wrapper{
        width:100%;
        text-align:left;
        border-radius:10px;
    }
    .courseProfileContainer{
        margin-left:0;
        background-color: #18191a;
        padding-left:0!important;
        padding-right:0px!important;
    }
    
    .desktopCount{
        display:none;
    }
    .courseCodeTxt{
        display:none;
    }
    .userProfileHandle1{
        font-size:16px!important;
        font-family: 'Open Sans', sans-serif;
        color:#d4d4d4;
        text-align:center;
        width:100%!important;
        margin-bottom:0px!important;
        margin-top:20px!important;
        
    }
    .CourseTitle{
        margin-top:10px;
    }
    .profile-wrapper{
        background-color: #18191a;
        padding-top:0px;
        height:100%;
        position:relative;
    }
    .CourseTitle .courseName{
        font-size:18px!important;
        width:100%;
    }
    .course-profile-info{
        color:white!important;
        font-size:20px;
        font-family: 'Open Sans', sans-serif;
        width:100%;
        text-align:center;
        margin-left:0px;
        padding-top:50px;
        text-align:center;
        
    }
    .profile-ul{
        margin-bottom:0!important;
        height:100%;
        text-align:left;
        color:#d4d4d4;
        position:relative;
        left:0!important;
       
    }
    .profile-ul li{
        font-family: 'Open Sans', sans-serif;
        font-size:13px!important;
        text-align:center;
        padding-left:5px!important;
        padding-right:5px!important;
        display:inline-block;
        width:85px;
    
        
    }
    .numStudents{
        margin-left:5px;
        font-size:12px!important;
    }
    .CourseTitle{
        margin-top:30px;
        width:100%!important;
    }
    .question-container{
        margin-right:0!important;
    }
    .DiscussionTitle{
        font-size:20px!important;
        margin-bottom:25px;
        margin-top:0px;
        text-align:center;
    }
    .student-container{
        text-align:left;
        margin-left:auto;
        margin-right:auto;
        width:100%;
        padding-bottom:75px;
     
    }
    .student-container h3{
        font-size:16px;
        margin-bottom:0!important;
    }
    .student-container h5{
        font-size:14px;
        padding-left:65px;
        color:#d4d4d4;
        margin-top:-20px;
    
    }
    .followButton{
        float:right;
        margin-top:25px;
        border-radius:40px!important;   
        font-size:12px!important;
        font-family: 'Open Sans', sans-serif;
    }
    .followingButton{
        float:right;
        margin-top:25px;
        border-radius:40px!important;   
        font-size:12px!important;
        font-family: 'Open Sans', sans-serif;
    }
    .bioTxt{
        font-size:14px!important;
        color:#d4d4d4;
        padding-left:50px!important;
    }
    .student-container ul li{
        list-style-type:none;
          background-color:#18191a;
          padding:5px;
          margin-bottom:15px;
          padding-left:15px;
          padding-right:15px;
          border-radius:0px;
         border-bottom:1px solid #a9a9a9;
          cursor:pointer;
      }
      .askQuestion{
          font-size:14px;
      }
      .questionText{
        font-size:14px;
        margin-top:20px;
        margin-right:20px;
    
    }
    .dateText{
        font-size:12px;
        float:right;
        margin-right:40px;
        color:#d4d4d4;
        font-weight:100!important;
        margin-top:15px!important;
    }
    .responseLink{
        font-size:14px!important;
    }
    .hostName{
        font-size:14px!important;
    }
}
@media only screen and (min-width: 1000px) {
    .viewTutorMobile{
       display:none;
    }
    .hostName{
        font-size:16px!important;
    }
    .responseLink{
        font-size:16px!important;
    }
    .dateText{
        font-size:14px;
        float:right;
        margin-right:40px;
        color:#d4d4d4;
        font-weight:100!important;
    }
    .questionText{
        font-size:16px;
        margin-top:20px;
        margin-right:20px;
    
    }
    .student-container h3{
        font-size:18px;
        margin-bottom:0!important;
    }
    .student-container h5{
        font-size:16px;
        padding-left:65px;
        color:#d4d4d4;
        margin-top:-20px;
    
    }
    .student-container{
        text-align:left;
        margin-left:auto;
        margin-right:auto;
        width:500px;
     
    }
    .DiscussionTitle{
        font-size:28px!important;
        margin-bottom:25px;
        margin-top:50px;
        text-align:center;
    }
    .course-profile-info{
        color:white!important;
        font-size:20px;
        font-family: 'Open Sans', sans-serif;
        width:80%;
        text-align:center;
        margin-left:250px;
        padding-left:15%;
        padding-right:15%;
        padding-top:50px;
        padding-bottom:75px!important;
        text-align:center;
        
    }
    .question-container{
        margin-right:10%!important;
    }
    .CourseTitle{
        margin-top:30px;
        max-width:900px!important;
    }
    .profile-wrapper{
        background-color: #18191a;
        padding-top:55px;
        height:200px;
        position:relative;
    }
    .CourseTitle .courseName{
        font-size:24px!important;
    }
    .mobileCount{
        display:none;
    }
    .numStudents{
        margin-left:15px;
        font-size:14px!important;
        float:right;
    }
    .CourseHeader-wrapper{
        width:550px;
        text-align:left;
        border-radius:10px;
 
    }
    .course-profile-header{
        padding-left:0;
        width:800px;
    }
    .followButton{
        float:right;
        margin-top:25px;
        border-radius:40px!important;   
        font-size:14px!important;
        font-family: 'Open Sans', sans-serif;
    }
    .followingButton{
        float:right;
        margin-top:25px;
        border-radius:40px!important;   
        font-size:14px!important;
        font-family: 'Open Sans', sans-serif;
    }
    .bioTxt{
        font-size:16px!important;
        color:#d4d4d4;
        padding-left:50px!important;
    }
    .student-container ul li{
        list-style-type:none;
          background-color:#242526;
          padding:5px;
          margin-bottom:15px;
          padding-left:15px;
          padding-right:15px;
          border-radius:5px;
          box-shadow: 1px 2px black;
          cursor:pointer;
      }
}
