button.followingButton{
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    border-style: none;
    font-family: open sans, sans-serif;
    padding-right: 50px;
    padding-left: 50px;
}
.title{
    color: white;
    
}
.groupName{
    font-size:17px;
    color:white;

}
.nogroup-container{

    text-align:center;
    width:300px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:40%;
}
.no-study-group{
    width:140px!important;
}
.nogroup{
    font-size:22px;
}
.nogroup-text{
    padding-top:20px;
}
.courseTitle{
    color:white;
    margin-bottom:30px;
}
.courseTitle-container{
    float:none;

}
.groupName h3{
   font-size:18px;
    color:white;
}
.numMembers{
    font-size:16px;
    font-weight:200!important;
    color:#d4d4d4!important;
}
.course{
    color: white;
}
.followingGroup{
    color: #007bff;
}
.AllStudyGroupsHeader{
    color: white;
    text-align:center;
}
.professor{
    color: white;
    width: 200px;
    height:50px;
}

.studyGroupItems{
    display:flex;
    margin-bottom:40px;
    width: 225px!important;
    height:250px!important;
    padding-right: 2.5%;
    display: inline-block;
    text-align:center;
    justify-content: space-evenly;
    
}
.studygroupWrapper{
    margin-top:200px;
}
.studygroupsTitle{
    color:#d4d4d4;
    margin-bottom:60px;
}
.createFirst{
    background-color:#6c63ff;
    color:white!important;
    font-family: open sans, sans-serif;
    border-radius:10px!important;
    padding-left:10px;
    padding-right:10px;

}
.join{
    padding-left:15px;
    padding-right:15px;
}
.studyGroupsContentBlock{
    width:80%!important;
    text-align:left;
    position:relative;
    
    margin-top:100px!important;
    margin-left: 250px!important;
    padding-left:5%!important;
    position:absolute;
}
.findGroupSubTitle{
    text-align:center;
    padding-top:10px;
    font-size:35px;
    width:646px;
    margin-left:40px;
}
.createStudyGroup{
    font-size:17px!important;
    text-align:center!important;
    margin-right:0px;
   color:white;
   margin-left:30px;
   border-radius:20px!important;
   font-family: open sans, sans-serif;
}
.createStudyGroup a{
    color:white!important;
}
.StudyGroupsImage{
    /* border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px; */
    
    width: 120px!important;
}

/* button{
    border-radius: 40px!important;
    margin-bottom:20px;
} */
.noFind{
    margin-top:20px;
    margin-bottom:50px;
    color:white;
} 
#course-container{
    align-items: center!important;
}
