/* footer */
footer {
    text-align: center;
    color: white;
    background-color:#202020;
    overflow: hidden;

}
.container-fluid p {
    text-align: center;
}
.container-fluid img {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

.list-unstyled li {
    display: inline-block;
    padding: 7px 7px 7px 7px;
    text-align: center;
}

.list-unstyled li a {
    text-align: center;
}

.list-unstyled {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0!important;
    top: 40px;
    text-align: center!important;
}
.footerLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
} 
