
  ::-webkit-scrollbar {
    width: .5em;
    height: .5em;
    margin-top:50px;

}


.home-wrapper{
    padding-top:50px;
    width:100%;
    margin-left:250px;
}

.timeline{
    width:40%;
    height:100%;
    margin-left:15%;
    overflow-y:auto;
}
.timeline-container-image{
  
    min-height:300px;
    background-color:#2a2f33;
    margin-right:5%;
    margin-bottom:30px;
    margin-top:30px;
    border-radius:10px;

}
.postHandle{
    padding-left:55px!important;
    color:#a9a9a9!important;
    margin-bottom:0!important;
}
.postHandle a{
    color:#d4d4d4;
}
.timelinePost-Image{
    width:40px;
    float:left;
}
.timeline-container-status{
    min-height:100px;
    border-bottom: 2px solid #007bff;
    background-color:#37383b;
    box-shadow:1px 2px #131313;
    margin-right:5%;
    margin-bottom:30px;
    margin-top:30px;
    border-radius:8px;
    
}
.timeline-container-helprequest{
    min-height:100px;
    background-color:#37383b;
    box-shadow:1px 2px #131313;
    border-bottom: 2px solid #28a745;
    margin-right:5%;
    margin-bottom:30px;
    margin-top:30px;
    border-radius:8px;
    padding-bottom:20px;
    
}
/* default image on emptyHome */
.timeline-container-status img {
    width: 35px;
    position: relative;
    top: 6px;
    left: 5px;
}

.info-badge{
    font-family: 'Open Sans', sans-serif!important;
}
.postDate{
    color:#a9a9a9;
    font-size:14px;
    padding-left:20px;

    margin-right:10%;
    margin-top:10px;
    margin-bottom:5px;
}
.bidPlaced{
    text-align:left;
    font-family: 'Open Sans', sans-serif!important;
    display:none;
    width:180px;

}
.bidPlaced svg{
    stroke-width:5!important;
    margin-right:5px;
    margin-top:-4px;
}
.postBids{
    position:relative;
    right:0!important;
    text-align:right!important;
    margin-left:20px;
}
.postRight{
    float:right;
    width:200px;
}
.homeSideBar{
    width:250px;
    position:fixed;
    right:0;
    top:0;
    margin-top:60px;
    padding-top:20px;
    max-height:90%;
    overflow-y:auto;
    margin-right:20px;
}
.rateTutorBtn{
    font-size:12px!important;
    margin-left:60px;
    margin-top:5px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:4px;
    padding-left:4px;
    font-family: 'Open Sans', sans-serif!important;
}
.addCourses, .hideCourseInput{
    margin-left:4px;
    cursor:pointer;
}
.hostImg{
    width:40px;
    padding-top:20px;
}
.hostToolTip:hover{
    text-decoration:none;
}
.roleTxt{
    font-style:italic;
    font-size:15px;
}
.tutoringSessionSideBarName{
    font-size:17px;
    margin-bottom:0!important;

}
.tutoringSessionSideBarName span{
    padding-left:10px;
}
.tutoringSeshDetails{
    padding-left:60px;
    margin-bottom:0!important;
    margin-top:-15px;
}
.tutoringSideBar-container{
    padding-bottom:10px;
}
.homeSideBarTitle{
    color:white;
    font-size:18px;
}
.timeline-title{
    font-size:26px;
    padding-top:30px;
}
.messageNotification{
    
    float:right;
    margin-top:5px;
    margin-right:10%;
    border-radius:5px!important;

    height:18px!important;
    font-family: 'Open Sans', sans-serif;
    
}
.plusTitle{
    color:#007bff;
}
.requestHelpDetails{
    padding-left:60px;
    display:none;
    
}
.priceError{
    color:#dc3545;
    position:absolute;
    margin-top:-18px;
    font-size:14px;

}
.postBtn{

    position:relative;
    float:right;
    right:0;
    margin-left:60px;
    margin-right:10%;
    margin-top:-40px;
}
.postBtn button{
    position:relative;
    right:0;
    width:100px;
}
.requestHelp{
    width:80%;
    background-color:#242526;
    border-bottom:2px solid #3a3b3c;
    color:#d4d4d4;
    border-radius:10px;
    margin-top:10px;
    margin-left:60px;
    padding:5px;
    cursor:text!important;
    font-weight:480;
}
.priceContainer{
    background-color:#242526;
    border-bottom:2px solid #1d1d1d;
    width:60%;
    padding-left:3px;
}
.anonRadio{
    margin-top:20px;
    
}
.anonRadio .secondLabel{
    margin-left:10px;
}
.request-input-container{
    margin-bottom:2px;
    margin-top:20px;
}
.tagCourse{
    position:relative;
    right:0;
    width:40%;
    background-color:#242526;
    color:white;
    border:none;
    z-index:2;
    margin-top:2px;

}

.request-input-container .courseLi{
    width:50%;
}
.request-input-container li{
    display:inline-block;
    width:40%;
}
.askingPrice, .dueDate{
    width:85%;
    background-color:#242526;
    color:white;
    border:none;
}
.dueDate{
    border-bottom:2px solid #1d1d1d;
}
.userNameLink{
    color:white;
}
.userNameLink:hover{
    color:white;
}
.helpReqTxt{
    padding-left:55px!important;
    margin-bottom:0!important;
    color:#d4d4d4;
}
.price{
    width:250px;
    margin-right:20px;
}
.help-course{
    margin-left:20px;
}
.tagCourse-wrapper{
    width:40%!important;
    position:relative;
    display:none;
    z-index:2;

}
.tagCourse-loading{
    text-align:center;
}
.tagCourse-container{
    background-color:#242526;
    min-height:20px;
    margin-right:15px;
    position:absolute;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:2px solid #1d1d1d;
}

.request-help-container{
    padding-bottom:15px;
    min-height:75px;
    background-color:#37383b!important;
}
.requestHelpTxt{
    font-size:18px;
    width:100%;
    background-color:#3a3b3c;
    outline:none;
    border:none;
    resize:none;
    border-radius:10px;
    padding:5px;
    cursor:text!important;
}
.requestHelpTxt::placeholder{
    color:#d4d4d4;
}
.input{
    outline:none;
    width:100%!important;
    font-size:17px;
    cursor:text!important;
    min-height:50px!important;
    padding-left:5px;
    color:white;
    font-weight:500!important;
}
.spanSpace{
    display:none!important;
}
.help-text-container{
    min-height:25px;
    
 
}
.textarea[contenteditable]:empty::before {
    /* content: "Request help from the degreeMe community"; */
    color: #d4d4d4;
    cursor:text!important

  }

.likeCount{
    color:#a9a9a9;
    font-size:14px;
    float:right;
}
.homeSideBar-container{
    min-height:100px;
    border-bottom:.5px solid #a9a9a9;
    overflow-y: auto;
}
.homeSideBar-container:last-of-type{
    border-bottom:none!important;
}
.homeSideBarTitle{
    padding-top:10px;
}
.timelineItemsLoaded{
    color:#a9a9a9!important;
    text-align:center;
    font-size:16px;
    font-family: 'Open Sans', sans-serif!important;
}
.myCoursesText{
    font-size:14px;
    font-family: 'Open Sans', sans-serif!important;
    padding-left:20px;
    color:white;
    margin-bottom:3px!important;
}
.myCoursesSubText{
    font-size:14px;
    font-family: 'Open Sans', sans-serif!important;
    padding-left:20px;
    color:#d4d4d4;
    margin-bottom:3px!important;
}
.myCoursesWrapper{
margin-bottom:20px;
padding-right:10px;
}
.addMyCoursesWrapper{
    margin-left:20px;
    margin-bottom:20px;
}
.myCourse-container{
     margin-left:20px;
}
.dots{
    right:0;
    cursor:pointer;
    border-radius:20px;
    padding:5px;
    width:30px!important;
    margin-right:50px;
}
.dots:hover{
    background-color:black;
}
.dots-btn{
    float:right;
    background-color:#242526!important;
    margin-top:-25px;
}
.popoverUl li{
    color:white;
    list-style-type:none!important;
    margin-bottom:15px;
    margin-top:15px;
}
.leaveCourse{
    
    padding:2px;
    border-radius:5px;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
 
}
.leaveCourse{
    background-color:#dc3545;
    color:white!important;
}

.askQuestionBtn{
    background-color:#007bff;
    color:white!important;
    width:150px!important;
    padding:5px;
    border-radius:5px;
    margin-bottom:10px;

}
.leaveCourse:hover{
    background-color:#df2739;
}
.joinButton{
    font-family: 'Open Sans', sans-serif!important;
    font-size:14px;
}
.popover{
    width:150px!important; 
    background-color:black!important;
}
.arrow::before, .arrow::after {
    border-left-color:black!important; 
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
}
.placeBid{
    float:right;
    margin-top:-10px;
}
.bid-input{
    background-color:#1d1d1d;
    border:none;
    padding-bottom:7px;
    padding-top:5px;
    width:80%;
    color:white;
}
.bid-input-container{
    background-color:#1d1d1d;
    float:left;
    color:white;
    font-family: 'Open Sans', sans-serif!important;
    width:100px;
    margin-right:20px;
    border-radius:5px;
}
.help-dollar-text{
    padding-left:10px!important;
}
.startGroup{
    font-size:13px!important;
    padding-top:2px!important;
    padding-bottom:2px!important;
    padding-left:4px!important;
    padding-right:4px!important;
    margin-top:10px;
    font-family: 'Open Sans', sans-serif!important;
}
.courseActions svg{
    font-size:60px!important;
    width:10px!important;
}
.dots{
    width:20px;
}
.addCourseSearch{
    width:15px;
    float:left;
    margin-top:7px;
    margin-left:10px;
}
.addCourseName{
    font-size:14px;
    color:white;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:3px;
    font-family: 'Open Sans', sans-serif!important;
}
.addBtn{
    margin-left:20px;
    font-size:12px!important;
    padding-top:2px!important;
    padding-bottom:2px!important;
}
.addPaymentInfo{
    color:#d4d4d4!important;
    font-family: 'Open Sans', sans-serif!important;
    font-size:13px;
    margin-right:10px;
}
.emptyNotifications{
    font-size:17px;
    color:#d4d4d4;
    padding-left:20px;
    padding-right:20px;
    font-family: 'Open Sans', sans-serif!important;
}
.addCourseCode{
    font-size:12px;
    color:#a9a9a9;
    padding-left:10px;
    text-align:left;
    margin-top:2px;
    margin-bottom:0px;
    font-family: 'Open Sans', sans-serif!important;
}

.addCourseCountainer{
    padding-bottom:5px;
}
.tagCourseCountainer{
    padding-bottom:5px;
}
.tagCourseCountainer:hover{
    background-color:black;
    cursor:pointer;
}

.course-wrapper{
    background-color:#2a2f33;
    width:80%;
    margin-left:30px;
    display:none;
}
.scheduleHeader{
    font-size:25px;
}
.stepNumber{
    font-size:30px;
    text-align:left;
    padding-left:15px;
    border-radius:40px;
}
.autocomplete-addCourse{
    background-color:#2a2f33;
    position:absolute;
    z-index:5!important;
    min-height:200px;
    max-height:400px;
    display:none;
    width:80%;
}
.courseCountainer1{
    cursor:pointer;
}
.courseCountainer1:hover{
    background-color:black;
}
.courseSideBar{
    position:absolute;
    background-color: #242526;
    height:500px;
    width:200px;
    margin-left:50px;
    margin-top:80px;
    

}
.sideBarItemMenu-item{
    color:#d4d4d4;
    list-style-type:none;
    padding-left:10px;
    font-size:16px!important;
    text-align:left!important;
    padding-bottom:3px;

    
}
.sideBarItemMenu-item a{
    color:white;
    
}
.sideBarItemMenu-item a:hover{
    color:#d4d4d4;
    
}

.heartIcon{
    font-size:22px;
    font-weight:50!important;
    color:#a9a9a9;
    
    cursor:pointer;
}
.commentIcon{
    font-size:22px;
    font-weight:50!important;
    color:#a9a9a9;
    
    cursor:pointer;
}
.comment-button{
    background-color: #161616;
    width:60px;
    border:none!important;
    position:absolute;
    margin-left:60px;
}
.like-button{
    width:60px;
    border:none!important;
    position:absolute;
    background-color:#37383b;  
    
}
.like-help{
    background-color:#37383b;  
}
.like-nonhelp{
    background-color: #37383b;
}
.hasLiked .likeCount, .hasLiked path{
    color:#dc3545!important;
}
.sideBarItemMenu-listing{
    color:white;
    list-style-type:none;
    padding-left:10px;
    padding-bottom:10px;
}

.listingItemHeader{
    color:white!important;
    font-size:14px!important;
    padding-left:5px;
    font-family: 'Open Sans', sans-serif!important;

}
.timelineImage{
    width:100%;
    padding-top:10px;
}
.postHeader{
    width:100%;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px!important;
}
.helpRequestSuccess{
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    text-align:center;
    padding-top:10px;
    width:100%;
    display:none;


}
.helpRequest-body{
    width:100%;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px!important;
}
.helpRequest-body img{
    margin-top:4px;
}
.helpRequestSuccessImg{
    width:150px!important;
    margin-bottom:20px;
}
.respondBtn{
    margin-right:50px;
    font-family: 'Open Sans', sans-serif!important;
    font-size:14px;
}
.timelinePost-username{
    color:white;
    font-family: 'Open Sans', sans-serif!important;
    margin-bottom:0!important;
    margin-left:55px;
    font-size:16px;
}
.timelinePost-help{
    color:white;
    font-family: 'Open Sans', sans-serif!important;
    margin-bottom:0!important;
    margin-left:55px;
    font-size:16px;
}
.view-timeline-btn{
    padding-top:2px;
    padding-bottom:2px;
    font-size:14px!important;
    margin-left:20px;
    font-family: 'Open Sans', sans-serif!important;
}
.caption{
    color:white!important;
    margin-left: 20px;
    margin-top:5px;
    font-size:17px;
    font-family: 'Open Sans', sans-serif!important;
}
.price-nonhelp{
    margin-left:20px;
    font-size:14px;
}
.helpRequestDetails{
    padding-left:30px;
}
.caption1{
    color:white!important;
    padding-left: 30px;
    margin-top:10px;
    font-size:17px;
}
.captionAnon{
    color:white!important;
    padding-left: 30px;
    margin-top:20px;
    font-size:17px;
}
.askPrice{
    font-family: 'Open Sans', sans-serif!important;
}
.caption a{
    color:white!important;
}
.like-image{
    width:30px;
    margin-left:20px;
}
.postActions{
    padding-bottom:20px;
    padding-top:10px;
    padding-left:20px;
}
.postDetailsItem{
    display:inline-block;
    margin-right:5px!important;
    
}
.postDetailsItem p{
    font-size:15px!important;
}

/* search css. move to different file */
.courseName{
    font-size:15px;
    color:white;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:3px;
    font-family: 'Open Sans', sans-serif!important;
}
.courseName1{
    font-size:14px!important;
    color:white;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:3px;
    font-family: 'Open Sans', sans-serif!important;
}
.postDetailsList{
    padding-left:20px!important;
    margin-bottom:0!important;
}
.description{
    font-size:16px;
    color:#a9a9a9;
    padding-left:20px;
}
.emptySearch{
    text-align:center;
    font-size:15px;
}
.courseCode{
    font-size:12px;
    color:#a9a9a9;
    padding-left:10px;
    text-align:left;
    margin-top:2px;
    margin-bottom:0px;
    font-family: 'Open Sans', sans-serif!important;
   
}
.searchMenuUnderLine{
    border-bottom:2px solid #007bff!important;
}
.resultsLabel{
    font-family: 'Open Sans', sans-serif!important;
    font-size:16px;
    padding-left:10px;
    
}
.courseCountainer{
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
   
}
.studyGroupSubject{
    color:#a9a9a9;
    font-size:14px;
    padding-left:8px;
}
.noMatch{
    text-align:center;
    font-size:14px;
    color:#a9a9a9;
}
.courseCountainer:hover{
  background-color:black!important;
}
.searchUser{
    width:27px;
    margin-right:10px;
    float:left;
    margin-bottom:0!important;
    margin-top:5px;

}
.userHandle{
    font-size:14px!important;
    padding-left:40px;
    color:#a9a9a9;
    margin-bottom:0!important;
}
.searchName{
    font-size:16px;
    color:white;
    margin-bottom:2px;
}
.searchTab{
    display:inline-block;
    font-size:15px;
    padding-bottom:5px;
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
    font-family: 'Open Sans', sans-serif!important;
    color:white!important;

}
input[name="searchType"]{
    display:none!important;

}
.tab-container{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:60px;

}
.statusAlert{
    position:absolute!important;
    padding-left:300px!important;
    top:0;
    width:100%!important;
   
} 
 .x-button{
    position:absolute;
    right:0;
}
.joinMeetingText{
    font-size:14px;
    text-align:left;
    padding-left:40px;
    padding-right:40px;
}
.joinMeetingImg{
    width:30px;
}
.joinBtn{
    width:200px!important;
    margin-bottom:20px!important;
    
}
.zoomBtn{
    margin-bottom:20px;
}
.meetingHandle{
    color:white!important;
}
.tutoring{
    color:#d4d4d4;
}
.meetingMembers{
    color:#d4d4d4;
    font-size:17px;
    text-align:left;
   
}
.memberJoined-container{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:300px;
    margin-top:20px;
}
.spinner-container{
    width:100%;
    text-align:center;
    display:none;
}
.spinner-container1{
    width:800px;
    text-align:center;
    display:none;
}
.spinner-border{
    color:white!important;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.loadingMore{
    text-align:center;
}
.requestHelpBtn{
    font-family: 'Open Sans', sans-serif!important;
    font-size:14px;
}
.viewBids-btn{
    padding-top:3px;
    padding-bottom:3px;
    font-size:14px;
    font-family: 'Open Sans', sans-serif!important;

}
.membersList{
    margin-right:auto;
    margin-left:auto;
    width:100%;
    display:inline-block;

}
.membersList li {
    display:inline-block;
}
.meetingImg2{
    width:70px;
    display:inline-block;
    margin-top:0!important;
}
.membersTitle{
    font-size:20px;
}
.hostName{
    font-size:20px;
    margin-top:10px;
}
.bidErrTxt{
    color:white;
    float:right;
    margin-right:20px;
    display:none;
}
.noZoom-div{
    width:100%;
    background-color:#dc3545;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.zoomCreated-div{
    width:50%;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    text-align:center;
    border-radius: 10px;
}
.noZoomText{
    font-size:17px;
    text-align:left;
}
.noZoom-div p {
    text-align:left;
}
.noPay{
    font-size:16px;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
}
.scheduleMeeting {
    font-size:15px;
    margin-top:10px!important;
}
.addMeeting{
    font-size:15px;
}
.zoomLinkMsg{
    text-align:center;
}