
  ::-webkit-scrollbar {
    width: .5em;
    height: .5em;
    margin-top:50px;
    background-color: #18191a;

}


.home-wrapper{
    padding-top:50px;
    width:100%;
    margin-left:250px;
}

#attachment{
    display:none;
}
.purple-file-upload{
    background-color: #8a84ff;
    color:white;
    margin-top:30px;
}
#comments-button {
    border-radius:20px;
    font-family:"Open sans", "sans-serif";
    font-size:16px!important;
    margin-top:-50px;
}
#imageUploadLabel{
    border-radius:50px;
    width:45px!important;
    height:45px!important;
    font-size:17px;
    cursor:pointer;
}
.comments-actions-list li{
    list-style-type: none;
    display:inline-block;
    width:40px;
    margin-right:20px;
  
}
.comments-actions-list{
    margin-bottom:50px;
    margin-top:20px;
    text-align:right;
    margin-right:30px;
}
.timeline-container-image{
  
    min-height:300px;
    background-color:#2a2f33;
    margin-right:5%;
    margin-bottom:30px;
    margin-top:30px;
    border-radius:10px;

}
.postHandle{
    padding-left:55px!important;
    color:#a9a9a9!important;
    margin-bottom:0!important;
    text-align:left;
}

.timelinePost-Image{
    width:40px;
    float:left;
}


/* default image on emptyHome */
.timeline-container-status img {
    width: 35px;
    position: relative;
    top: 6px;
    left: 5px;
}



.bidPlaced{
    text-align:left;
    font-family: 'Open Sans', sans-serif!important;
    display:none;
    width:180px;

}
.bidPlaced svg{
    stroke-width:5!important;
    margin-right:5px;
    margin-top:-4px;
}
.postBids{
    position:relative;
    right:0!important;
    text-align:right!important;
    margin-left:20px;
}
.postRight{
    float:right;
    width:200px;
}
.homeSideBar{
    width:180px;
    position:fixed;
    right:0;
    top:0;
    margin-top:60px;
    padding-top:20px;
    max-height:90%;
    overflow-y:auto;
    margin-right:20px;
}
.toast-body {
    display:none;
}
.rateTutorBtn{
    font-size:12px!important;
    margin-left:60px;
    margin-top:5px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:4px;
    padding-left:4px;
    font-family: 'Open Sans', sans-serif!important;
}
.addCourses, .hideCourseInput{
    margin-left:4px;
    cursor:pointer;
}
.hostImg{
    width:40px;
    padding-top:20px;
}
.hostToolTip:hover{
    text-decoration:none;
}
.roleTxt{
    font-style:italic;
    font-size:15px;
}
.tutoringSessionSideBarName{
    font-size:17px;
    margin-bottom:0!important;

}
.tutoringSessionSideBarName span{
    padding-left:10px;
}
.tutoringSeshDetails{
    padding-left:60px;
    margin-bottom:0!important;
    margin-top:-15px;
}
.tutoringSideBar-container{
    padding-bottom:10px;
}
.homeSideBarTitle{
    color:white;
    font-size:18px;
    padding-left:10px;
}
.timeline-title{
    font-size:26px;
    padding-top:30px;
}
.messageNotification{
    
    float:right;
    margin-top:5px;
    margin-right:10%;
    border-radius:5px!important;

    height:18px!important;
    font-family: 'Open Sans', sans-serif;
    
}
.plusTitle{
    color:#007bff;
}
.requestHelpDetails{
    padding-left:60px;
    display:none;
    
}
.priceError{
    color:#dc3545;
    position:absolute;
    margin-top:-18px;
    font-size:14px;

}
.postBtn{
    position:relative;
    right:0;
    margin-right:10%;
}
.postBtn button{
    position:relative;
    right:0;
    width:100px;
}
.termsMsg{
    color:white;
}
.requestHelp{
    width:80%;
    background-color:#242526;
    border-bottom:2px solid #3a3b3c;
    color:#d4d4d4;
    border-radius:10px;
    margin-top:10px;
    margin-left:60px;
    padding:5px;
    cursor:text!important;
    font-weight:480;
}
.priceContainer{
    background-color:#242526;
    border-bottom:2px solid #1d1d1d;
    width:60%;
    padding-left:3px;
}
.anonRadio{
    margin-top:20px;
    
}
.anonRadio .secondLabel{
    margin-left:10px;
}
.request-input-container{
    margin-bottom:2px;
    margin-top:20px;
}
.tagCourse{
    position:relative;
    right:0;
    width:40%;
    background-color:#242526;
    color:white;
    border:none;
    z-index:2;
    margin-top:2px;

}

.request-input-container .courseLi{
    width:50%;
}
.request-input-container li{
    display:inline-block;
    width:40%;
}
.askingPrice, .dueDate{
    width:85%;
    background-color:#242526;
    color:white;
    border:none;
}
.post-underline{
    border-bottom:2px solid #28a745;
}
.post-container{
    margin-top:12px!important;
    padding-bottom:5px;
    margin-bottom:20px!important;
}
.dueDate{
    border-bottom:2px solid #1d1d1d;
}
.captionEmptyHome{
    padding-bottom:20px;
}
.userNameLink{
    color:white;
}
.post-selection-menu li{
    display:inline-block;
    list-style-type:none;
    color:white;
    padding-left:20px;
    padding-bottom:5px;
    cursor:pointer;
    margin-bottom:10px;
}
.post-selection-menu{
    margin-left:50px;
    padding-top:10px;
}

.userNameLink:hover{
    color:white;
}
.helpReqTxt{
    padding-left:55px!important;
    margin-bottom:0!important;
    color:#d4d4d4;
}
.price{
    width:250px;
    margin-right:20px;
}
.help-course{
    margin-left:20px;
}
.tagCourse-wrapper{
    width:40%!important;
    position:relative;
    display:none;
    z-index:2;

}
.tagCourse-loading{
    text-align:center;
}
.statusUpdateSuccess{
    text-align:center;
    width:95%;
    border-radius:7px;
    box-shadow: 1px 2px black;
    color:white;
    padding-top:4px;
    padding-bottom:4px;
    font-family: 'Open Sans', sans-serif!important;
}
.tagCourse-container{
    background-color:#242526;
    min-height:20px;
    margin-right:15px;
    position:absolute;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:2px solid #1d1d1d;
}

.request-help-container{
    min-height:75px;
    background-color:#37383b!important;
}
.requestHelpTxt{
    font-size:18px;
    width:100%;
    background-color:#3a3b3c;
    outline:none;
    border:none;
    resize:none;
    border-radius:10px;
    padding:5px;
    cursor:text!important;
}
.requestHelpTxt::placeholder{
    color:#d4d4d4;
}
.input{
    outline:none;
    width:100%!important;
    font-size:17px;
    cursor:text!important;
    min-height:50px!important;
    padding-left:5px;
    color:white;
    font-weight:500!important;
}
#inviteFriends{
    cursor:pointer;
}
.inviteMsg{
    width:100%;
    background-color:#343a40;
    height:70px;
    border:none;
    outline:none;
    color:white;
    padding-left:10px;
    font-family: 'Open Sans', sans-serif;

  }
  .addEmailBtn{
    background-color:#343a40;
    color:white;
    padding-right:20px;
  }
  .emails{
    width:95%;
    border:none;
    color:white;
    background-color:#343a40;
    font-family: 'Open Sans', sans-serif;
  }
  .emailErr{
    color:#dc3545;
    margin-top:-20px!important;
    font-size:14px;
    display:none;
    position:absolute;
    font-family: 'Open Sans', sans-serif;
  }
  .appendEmails{
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    background-color:#121212;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:10px;
    color:white;
    margin-left:5px;
  }
.spanSpace{
    display:none!important;
}
.help-text-container{
    min-height:25px;
    
 
}
.textarea[contenteditable]:empty::before {
    /* content: "Request help from the degreeMe community"; */
    color: #d4d4d4;
    cursor:text!important

  }
.status-update-container{
    display:none;

    
}
.status-update-container button{
    border-radius:5px!important;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    font-family: "Open sans", "sans-serif";
    font-size:14px;
    box-shadow: 2px 2px solid black!important;
}
.likeCount{
    color:#a9a9a9;
    font-size:14px;
    float:right;
}
.homeSideBar-container{
    min-height:100px;
    border-bottom:.5px solid #a9a9a9;
    overflow-y: auto;
    background-color:#1f2024;
    padding:10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    text-align:left;
    box-shadow: 2px 4px black;
}
.homeSideBar-container:last-of-type{
    border-bottom:none!important;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
.homeSideBarTitle{
    padding-top:10px;
}
.timelineItemsLoaded{
    color:#a9a9a9!important;
    text-align:center;
    font-size:16px;
    font-family: 'Open Sans', sans-serif!important;
}
.myCoursesText{
    font-size:14px;
    font-family: 'Open Sans', sans-serif!important;
    padding-left:20px;
    color:white;
    margin-bottom:3px!important;
}
.myCoursesSubText{
    font-size:14px;
    font-family: 'Open Sans', sans-serif!important;
    padding-left:20px;
    color:#d4d4d4;
    margin-bottom:3px!important;
}
.myCoursesWrapper{
margin-bottom:20px;
padding-right:10px;
}
.addMyCoursesWrapper{
    margin-left:20px;
    margin-bottom:20px;
}
.myCourse-container{
     margin-left:20px;
}
.dots{
    right:0;
    cursor:pointer;
    border-radius:20px;
    padding:5px;
    width:30px!important;
    margin-right:50px;
}
.dots:hover{
    background-color:#343a40;
}
.dots-btn{
    float:right;
    background-color:#1f2024!important;
    margin-top:-25px;
}
.popoverUl li{
    color:white;
    list-style-type:none!important;
    margin-bottom:15px;
    margin-top:15px;
}
.leaveCourse{
    
    padding:2px;
    border-radius:5px;
    padding-left:10px;
    padding-right:10px;
    cursor:pointer;
 
}
.leaveCourse{
    background-color:#dc3545;
    color:white!important;
}

.askQuestionBtn{
    background-color:#007bff;
    color:white!important;
    width:150px!important;
    padding:5px;
    border-radius:5px;
    margin-bottom:10px;

}
.leaveCourse:hover{
    background-color:#df2739;
}
.joinButton{
    font-family: 'Open Sans', sans-serif!important;
    font-size:14px;
}
.popover{
    width:150px!important; 
    background-color:#18191a!important;
    box-shadow: 2px 2px 2px 2px solid black;
}
.bs-popover-right .arrow::before,  .arrow::after, .bs-popover-right .arrow::after {
    /* border-left-color:black!important; 
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; IE */
    color: #18191a!important;
    background-color:#18191a!important;
}
.placeBid{
    float:right;
    margin-top:-10px;
}
.bid-input{
    background-color:#1d1d1d;
    border:none;
    padding-bottom:7px;
    padding-top:5px;
    width:80%;
    color:white;
}
.bid-input-container{
    background-color:#1d1d1d;
    float:left;
    color:white;
    font-family: 'Open Sans', sans-serif!important;
    width:100px;
    margin-right:20px;
    border-radius:5px;
}
.help-dollar-text{
    padding-left:10px!important;
}
.startGroup{
    font-size:13px!important;
    padding-top:2px!important;
    padding-bottom:2px!important;
    padding-left:4px!important;
    padding-right:4px!important;
    margin-top:10px;
    font-family: 'Open Sans', sans-serif!important;
}
.courseActions svg{
    font-size:60px!important;
    width:10px!important;
}
.dots{
    width:20px;
}
.addCourseSearch{
    width:15px;
    float:left;
    margin-top:7px;
    margin-left:10px;
}
.addCourseName{
    font-size:14px;
    color:white;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:3px;
    font-family: 'Open Sans', sans-serif!important;
}
.addBtn{
    margin-left:20px;
    font-size:12px!important;
    padding-top:2px!important;
    padding-bottom:2px!important;
}
.addPaymentInfo{
    color:#d4d4d4!important;
    font-family: 'Open Sans', sans-serif!important;
    font-size:13px;
    margin-right:10px;
}
.emptyNotifications{
    font-size:17px;
    color:#d4d4d4;
    padding-left:20px;
    padding-right:20px;
    font-family: 'Open Sans', sans-serif!important;
}
.addCourseCode{
    font-size:12px;
    color:#a9a9a9;
    padding-left:10px;
    text-align:left;
    margin-top:2px;
    margin-bottom:0px;
    font-family: 'Open Sans', sans-serif!important;
}

.addCourseCountainer{
    padding-bottom:5px;
}
.tagCourseCountainer{
    padding-bottom:5px;
}
.tagCourseCountainer:hover{
    background-color:black;
    cursor:pointer;
}

.course-wrapper{
    background-color:#2a2f33;
    width:80%;
    margin-left:30px;
    display:none;
    margin-top:15px;
}
.scheduleHeader{
    font-size:25px;
}
.stepNumber{
    font-size:30px;
    text-align:left;
    padding-left:15px;
    border-radius:40px;
}
.autocomplete-addCourse{
    background-color:#2a2f33;
    position:absolute;
    z-index:5!important;
    min-height:200px;
    max-height:400px;
    display:none;
    width:80%;
}
.courseCountainer1{
    cursor:pointer;
}
.courseCountainer1:hover{
    background-color:black;
}
.courseSideBar{
    position:absolute;
    background-color: #242526;
    height:500px;
    width:200px;
    margin-left:50px;
    margin-top:80px;
    

}
.sideBarItemMenu-item{
    color:#d4d4d4;
    list-style-type:none;
    padding-left:10px;
    font-size:16px!important;
    text-align:left!important;
    padding-bottom:3px;

    
}
.sideBarItemMenu-item a{
    color:white;
    
}
.sideBarItemMenu-item a:hover{
    color:#d4d4d4;
    
}

.heartIcon{
    font-size:22px;
    font-weight:50!important;
    color:#a9a9a9;
    
    cursor:pointer;
}
.commentIcon{
    font-size:22px;
    font-weight:50!important;
    color:#a9a9a9;
    
    cursor:pointer;
}
.comment-button{
    background-color: #161616;
    width:60px;
    border:none!important;
    position:absolute;
    margin-left:60px;
}

.addComment:hover{
    color:#d4d4d4;
}

.like-help{
    background-color:#242526;  
}
.like-nonhelp{
    background-color: #242526;
}
.hasLiked .likeCount, .hasLiked path{
    color:#dc3545!important;
}
.sideBarItemMenu-listing{
    color:white;
    list-style-type:none;
    padding-left:10px;
    padding-bottom:10px;
}

.listingItemHeader{
    color:white!important;
    font-size:14px!important;
    padding-left:5px;
    font-family: 'Open Sans', sans-serif!important;

}
.timelineImage{
    width:100%;
    padding-top:10px;
}
.postHeader{
    width:100%;
    padding-left:20px;
    padding-top:10px;
}
.helpRequestSuccess{
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    text-align:center;
    padding-top:10px;
    width:100%;
    display:none;


}
.helpRequest-body{
    width:100%;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px!important;
}
.helpRequest-body img{
    margin-top:4px;
}
.helpRequestSuccessImg{
    width:150px!important;
    margin-bottom:20px;
}
.respondBtn{
    margin-right:50px;
    font-family: 'Open Sans', sans-serif!important;
    font-size:14px;
}

.timelinePost-help{
    color:white;
    font-family: 'Open Sans', sans-serif!important;
    margin-bottom:0!important;
    margin-left:55px;
    font-size:16px;
}

.status-update-success{
    color:white;
    text-align:center;
    font-size:16px;
    margin-top:15px;
    font-family: 'Open Sans', sans-serif!important;

}
.status-update-success svg{
    margin-right:10px;
}


.price-nonhelp{
    margin-left:20px;
    font-size:14px;
}
.helpRequestDetails{
    padding-left:30px;
}
.caption1{
    color:white!important;
    padding-left: 30px;
    margin-top:10px;
    font-size:17px;
    text-align:left;
}
.captionAnon{
    color:white!important;
    padding-left: 30px;
    margin-top:20px;
    font-size:17px;
}
.askPrice{
    font-family: 'Open Sans', sans-serif!important;
}
.caption a{
    color:white!important;
}
.like-image{
    width:30px;
    margin-left:20px;
}
.postActions{
    padding-bottom:20px;
    padding-top:0px;
    padding-left:20px;
    text-align:left;
}
.postDetailsItem{
    display:inline-block;
    margin-right:5px!important;
    
}


/* search css. move to different file */

.courseName1{
    font-size:14px!important;
    color:white;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:3px;
    font-family: 'Open Sans', sans-serif!important;
}
.postDetailsList{
    padding-left:20px!important;
    margin-bottom:0!important;
    width:100%;
    text-align:left;
}
.description{
    font-size:16px;
    color:#a9a9a9;
    padding-left:20px;
}
.emptySearch{
    text-align:center;
    font-size:15px;
    color: white;
}
.courseCode{
    font-size:12px;
    color:#a9a9a9;
    padding-left:10px;
    text-align:left;
    margin-top:2px;
    margin-bottom:0px;
    font-family: 'Open Sans', sans-serif!important;
   
}
.searchMenuUnderLine{
    border-bottom:2px solid #007bff!important;
}
.resultsLabel{
    font-family: 'Open Sans', sans-serif!important;
    font-size:16px;
    padding-left:10px;
    
}


.noMatch{
    text-align:center;
    font-size:14px;
    color:#a9a9a9;
}
.courseCountainer:hover{
  background-color:black!important;
}



input[name="searchType"]{
    display:none!important;

}

.statusAlert{
    position:absolute!important;
    padding-left:300px!important;
    top:0;
    width:100%!important;
   
} 
 .x-button{
    position:absolute;
    right:0;
}
.joinMeetingText{
    font-size:14px;
    text-align:left;
    padding-left:40px;
    padding-right:40px;
}
.joinMeetingImg{
    width:30px;
}
.joinBtn{
    width:200px!important;
    margin-bottom:20px!important;
    
}
.zoomBtn{
    margin-bottom:20px;
}
.meetingHandle{
    color:white!important;
}
.tutoring{
    color:#d4d4d4;
}
.meetingMembers{
    color:#d4d4d4;
    font-size:17px;
    text-align:left;
   
}
.memberJoined-container{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:300px;
    margin-top:20px;
}
.spinner-container{
    width:100%;
    text-align:center;
    display:none;
}
.spinner-container1{
    width:100%;
    text-align:center;
    display:none;
}
.add-tutor-loading{
    color:white;
    margin-top:20px;
}
.add-tutor-loading .loading-span {
    margin-left:10px;
    font-size:16px;
    text-align:left;
}
.spinner-border{
    color:white!important;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.loadingMore{
    text-align:center;
}
.requestHelpBtn{
    font-family: 'Open Sans', sans-serif!important;
    font-size:14px;
    margin-bottom:20px;
}
.viewBids-btn{
    padding-top:3px;
    padding-bottom:3px;
    font-size:14px;
    font-family: 'Open Sans', sans-serif!important;

}
.membersList{
    margin-right:auto;
    margin-left:auto;
    width:100%;
    display:inline-block;

}
.membersList li {
    display:inline-block;
}
.meetingImg2{
    width:40px;
    padding-bottom:5px;
    display:inline-block;
    margin-top:0!important;
}
.addLocation-btn{
    font-size:14px;
}
.addLocation{
    padding-top:20px;
    padding-bottom:10px;
}
.membersTitle{
    font-size:20px;
}
.hostName{
    font-size:18px;
    margin-top:0px;
    max-width:150px;
    padding-bottom:10px;

}
.bidErrTxt{
    color:white;
    float:right;
    margin-right:20px;
    display:none;
}
.noZoom-div{
    width:100%;
    background-color:#dc3545;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.zoomCreated-div{
    width:50%;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    text-align:center;
    border-radius: 10px;
}
.noZoomText{
    font-size:17px;
    text-align:left;
}
.noZoom-div p {
    text-align:left;
}
.noPay{
    font-size:16px;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
}
.scheduleMeeting {
    font-size:15px;
    margin-top:10px!important;
}
.addMeeting{
    font-size:15px;
}
.zoomLinkMsg{
    text-align:center;
}
.zoomErr{
    color:#dc3545;
    font-size:14px;
    display:none;
}
/* .timeline-container-status{
    width:80%;
} */
.terms{
    padding-right:25px!important;
}
.termsTxt{
    font-size:14px;
}
.termsMsg{
    padding-left:10px;
}
.anonTxt{
    display:none;
}
.mobileLogo{
    display:none;
}


.slider-container-header{
    width:60px;
    /* position:relative; */
    margin-left:60px!important;
    z-index:2;
  }
  .question-tag-list li{
    width:50%!important;
    display:inline-block;
  }
  .img-container {
    display:inline-block;
     width:50px;
     margin-left:5px;
     margin-right:5px;
 }
 .image-attachments img{
    width:100%!important;
    padding-bottom:10px;
}
.delete-badge {
    border-radius:20px;
    position:absolute;
    padding:0px!important;
    margin-left:30px;
    border: 2px solid white;
    margin-top:3px;
    cursor:pointer;
}
  /* desktop only */
  @media only screen and (min-width: 1000px) {
    .daySelect-container{
        margin-top:20px;
        margin-bottom:20px;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
    .daySelect-container select{
        background-color:#3a3b3c;
        font-family:"Open sans","sans-serif";
        outline:0;
        color:white;
        border-radius:10px;
        border:none!important;
        font-size:15px;
        padding-left:7px;
        padding-right:7px!important;
    }
    .daySelect-container option{
        padding-left:7px;
        font-size:15px;
        border:none!important;
    }
    .day-container div{
        padding-left:0px!important;
    }
    .day-container{
        padding-left:0px!important;
        padding-bottom:10px;
    }
    .weekOfTxt{
        margin-top:0!important;
        font-size:16px!important;
        text-align:left;
    }
    .day-container{
        padding-left:20px;
        padding-bottom:10px;
    }
    .day-wrapper{
        padding-bottom:10px; 
        padding-top:10px; 
    }
    .calendarLine{
        width:75%;
        background-color:#a9a9a9;
        float:right;
        height:.5px;
        margin-top:15px;
    }
    .calendarLine-selected{
        width:75%;
        background-color:#007bff;
        float:right;
        height:.5px;
        margin-top:15px;
    }
    .tutor-add-autocomplete{
        width:100%;
        background-color:#2a2f33!important;
        min-height:40px;
        border-bottom-right-radius: 10px!important;
        border-bottom-left-radius: 10px!important;
        display:none;
        position:relative;
        z-index:3;

    }
    .add-tutoring-btn{
        font-family: "Open sans", "sans-serif";
        font-size:14px;
        margin-top:40px;
        width:100%;
    }
    .add-tutoring-label{
        text-align:left!important;
        margin-bottom:10px;
        font-size:16px;
        color:white;
        margin-top:10px;
        font-family: "Open sans", "sans-serif";
    }
    .add-tutoring-wrapper{
        margin-left:auto;
        margin-right:auto;
        width:100%;
        text-align:left;
        margin-top:10px;
    }
    .input-container-add-tutoring{
        background-color:#2a2f33;
        width:100%;
        border-radius:10px;
    }
    .add-tutoring-dollar{
        width:8px;
    }
    .pending-tutor-course{
        margin-left:10px;
    }
    .transcript-upload{
        margin-top:20px;
    }
    .add-tutoring-input, .add-tutoring-input1{
        background-color:#2a2f33;
        border:none!important;
        padding:5px;
        border-radius:10px;
        color:white;
        font-size:16px;
        width:80%!important;
        height:40px;
        margin-bottom:30px;
        position:relative;
        z-index:3;

    }
    .transcript-upload{
        font-size:15px!important;
        margin-bottom:20px;
    }
    .icon-add-tutoring{
        float:left;
        margin-top:5px;
        margin-right:5px;
        margin-left:10px;
    }
    .add-tutoring-sub-wrapper{
        margin-left:auto;
        margin-right:auto;
        width:100%;
        text-align:left;
        display:inline-block;
    }
    .add-tutoring-form input{
        display:block;
       
    }
    .modal-content{
        background-color:#1f2024!important;
        color:white!important;
    }
    .add-tutoring-form {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
    .findTutor-course{
        cursor:pointer;
    }
    .add-tutoring-course{
        margin-left:20px;
    }
    .remove-tutor-course{
        display:none;
        font-family: "Open sans", "sans-serif";
        font-size:12px;
        position:absolute;
        padding-top:2px;
        padding-bottom:2px;
        padding-left:4px;
        padding-right:4px;
    }
    .course-search-sub-container span {
        width: 100%!important;
    }
    .optional{
        margin-top:20px!important;
        text-align:left;
        margin-left:30px;
        font-size:14px;
        margin-bottom:0!important;
    }
    .timeline{
        width:40%;
        max-width:600px;
        height:100%;
        margin-left:15%;
        overflow-y:auto;
    }
    .rate-container p{
        font-family: "Open sans", "sans-serif";
        font-size:20px;
        color:#a9a9a9;
    }
    .left-container{
        text-align:center;

    }
    .bookTutor{
        font-family: "Open sans", "sans-serif";
        font-size:15px;
        padding-top:5px;
        padding-bottom:5px;
        padding-left:8px;
        padding-right:8px;
    }
    .tutorList {
        width:100%;
        text-align:center;
    }
    .tutorList li {
        display:inline-block;
        width:40%;
        margin-left:20px;
    }
    .tutor-name{
        font-family: "Open sans", "sans-serif";
        margin-bottom:5px;
        margin-top:5px;
        font-size: 16px;
    }
    .mobile-availability{
        margin-left:10px;
        margin-right:auto;
        padding-left:20px;
        padding-bottom:20px;
        text-align:center;
    }
    .mobile-availability li {
        display:inline-block;
        margin-left:5px;
        margin-right:5px;
        color:white;
    }
    .findTutorMobile-results, .findTutorMobile-results, .findTutorMobile-results-group{
        padding-top:20px;
        cursor:pointer;
        position:absolute;
        z-index:3;
        width:30%!important;
        background-color:#242526;
        display:none;
        margin-left:50px;
    }
    .mobile-tutor-search{
        background-color:#18191a;
        color:white;
        border-right:none!important;
        border-top:none!important;
        border-bottom:none;
        border-left:none!important;
    }
    .course-search-sub-container span {
        width: 100%;
    }
    .course-search-sub-container{
        border-bottom:2px solid #a9a9a9;
        width:300px;
        display:inline-block;
        margin-left:auto;
        margin-right:auto;
    }
    .course-search-container{
        text-align:center!important;
        width:100%;
        margin-top:20px;
    }
    .askQuestion-textarea{
        width:90%;
        height:80px;
        outline:none;
        margin-left:auto;
        margin-right:auto;
        text-align:left;
        padding-left:10px;
        padding-top:5px;
        background-color:#242526;
        color:white;
        border:none;
        border-radius:10px;
    }
    .recentActivity-title{
        font-size:16px;
        padding-left:20px;
        text-align:center;
        font-family: "Open sans", "sans-serif";
        text-align:center;
    }
    .tagACourse, .tagAGroup{
        background-color:#242526;
        border:none;
        color:white;
        margin-top:10px;
        width:80%;
        margin-right:5px;
        height:35px!important;
        display:inline-block;
        border-radius:10px;
    }
.attachFile{
    margin-top:25px;
    text-align:left;
    margin-left:30px;
}
    .askQuestion-file{
        margin-top:5px;
        margin-right:20px;
        margin-left:30px;
        color:white!important;
        padding-left:0px;
    }
    .askQuestion-container{
        text-align:center;
        left:0!important;
        margin-top:40px;
        overflow-x: hidden;
    }
    
      .mobileMenu{
    display:none!important;
}
    .mobile-actions{
        width:100%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:45px;
        margin-bottom:0px;
    }
    .mobile-actions-bottom-border{
        border-bottom: 2px solid #007bff;
    }
    .mobile-actions ul {
        margin-bottom:0;
    }
    .mobile-actions li {
        display:inline-block;
        margin-left:3.5%;
        margin-right:3.5%;
        cursor:pointer;
        height:32px;
        font-family:"Open sans","sans-serif";
    }
    .like-button{
        width:55px;
        border:none!important;
        position:absolute;
        background-color:#1f2024!important;  
        
    }
    .hashtag{
        color:white;
        text-align:left;
        margin-left:30px;
    }
    .pdf-link, .pdf-link:hover{
        text-align:center;
        width:100%!important;
        color:#d4d4d4;
        padding-top:10px;
    }
    .name-link, .name-link:hover{
        color:white;
        font-size:14px;
    }
    .questionLabel{
        margin-left:20px;
        margin-bottom:0;
        text-align:left!important;
    }
    .pdf-iframe{
        width:350px;
        height:350px;
        margin-top:30px!important;
    }
    .question-label-container{
        width:120px;
        text-align:left!important;
    }
    .badge-info, .badge{
        text-align:left!important;
    }
    .question-img{
        width:300px!important;
        margin-top:20px;
    }
    .question-img1{
        width:200px!important;
        margin-top:20px;
        padding-bottom:5px;
    }
    .question-img-container{
        margin-left:auto;
        margin-right:auto;
        display:inline-block;
        text-align:center;
    }
    .timeline-container-helprequest{
        min-height:100px;
        background-color:#242526;
        box-shadow:1px 2px #131313;
        border-bottom: 2px solid #28a745;
        margin-right:5%;
        margin-bottom:30px;
        margin-top:30px;
        border-radius:8px;
        padding-bottom:20px;
        
    }
    .recentActivity-title{
        margin-top:30px;
        text-align: center;
    }
    .backToMenu{
        cursor:pointer;
    }
    .find-tutor-course-title{
        font-size:24px;
        margin-left:10px;
    }
    /* .mobile-actions{
        width:100%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:15px;
        margin-bottom:0px;
    } */
    .day-container div{
        padding-left:20px;
    }
    .day-container label{
        width:50px;
    }
    .connectionBody-container{
        width:500px;
        margin-left:250px;
        text-align:center;
        
    }
    .view-timeline-btn{
        padding-top:2px;
        padding-bottom:2px;
        font-size:14px!important;
        margin-left:20px;
        font-family: 'Open Sans', sans-serif!important;
    }
    .postDate{
        color:#a9a9a9;
        font-size:14px;
        padding-left:20px;
    
        margin-right:10%;
        margin-top:10px;
        margin-bottom:5px;
    }
    .caption-status{
        color:white!important;
        margin-left: 30px;
        margin-top:0px;
        margin-bottom:5px;
        font-size:17px;
        text-align:left;
        font-weight:450;
        font-family: 'Open Sans', sans-serif!important;
        white-space: pre-wrap;
    
    }
    .caption{
        color:white!important;
        margin-left: 20px;
        margin-top:5px;
        text-align:left;
        font-size:17px;
        font-family: 'Open Sans', sans-serif!important;
    }
    .studyGroupSubject{
        color:#a9a9a9;
        font-size:14px;
        padding-left:8px;
    }
    .courseName{
        font-size:15px;
        color:white;
        padding-left:10px;
        padding-right:10px;
        margin-bottom:3px;
        text-align:left;
        font-family: 'Open Sans', sans-serif!important;
    }
    .searchUser{
        width:27px;
        margin-right:10px;
        float:left;
        margin-bottom:0!important;
        margin-top:5px;
    
    }
    .courseCountainer{
        padding-left:20px;
        padding-top:10px;
        padding-bottom:10px;
       
    }
    .userHandle{
        font-size:14px!important;
        padding-left:40px;
        color:#a9a9a9;
        margin-bottom:0!important;
    }
    
    .searchName{
        font-size:16px;
        color:white;
        margin-bottom:2px;
    }
    .searchTab{
        display:inline-block;
        font-size:13px;
        padding-bottom:5px;
        margin-left:5px;
        margin-right:5px;
        cursor:pointer;
        font-family: 'Open Sans', sans-serif!important;
        color:white!important;
    
    }
    .tab-container{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:40px;
    
    }
    .postDate1{
        color:#a9a9a9!important;
        font-size:13px;
        padding-left:15px;
        margin-right:7%;
        margin-top:10px;
        margin-bottom:5px;
    }
    .searchLi, .slider-container-header, .mobileUserImg, .userHeader-mobile{
        display:none!important;
    }
    .userImgLi{
        display:inline-block;
        padding-top:3px;
        height:40px;
    }
    .timelinePost-username{
        color:white;
        font-family: 'Open Sans', sans-serif!important;
        margin-bottom:0!important;
        margin-left:55px;
        font-size:16px;
        text-align:left;
    }
    .postHandle a{
        color:#d4d4d4;
    }
    .mobile-search-container{
        display:none;
    }
    .info-badge{
        font-family: 'Open Sans', sans-serif!important;
    }
    .addComment{
        margin-left:70px;
        color:#d4d4d4;
    }
    #findATutorMobile-wrapper{
        display:none;
    }
    .timeline-container-status{
        min-height:100px;
        /* border-bottom: 2px solid #007bff; */
        /* box-shadow:1px 2px #131313; */
        margin-right:5%;
        margin-bottom:30px;
        margin-top:30px;
        border-radius:8px;
        background-color:#1f2024;
        text-align:center;
        
    }
    .available-selected{
        background-color:#007bff;
        padding-left:6px;
        padding-right:6px;
        border-radius:10px;
    }
    .tutor-results-img{
        width:80px;
    }
    .stars-container span{
        font-size:24px;
    }
  }
  /* mobile */

@media only screen and (max-width: 1000px) {
 
    .findTutor-course{
        cursor:pointer;
    }
    .like-button{
        width:55px;
        border:none!important;
        position:absolute;
        background-color:#18191a!important;  
        
    }
    .stars-container span{
        font-size:20px;
    }
    .tutor-results-img{
        width:50px;
    }
    .rate-container p{
        font-family: "Open sans", "sans-serif";
        font-size:20px;
        color:#a9a9a9;
    }
    .left-container{
        text-align:center;

    }
   
    .bookTutor{
        font-family: "Open sans", "sans-serif";
        font-size:12px!important;
        padding-top:5px;
        padding-bottom:5px;
        padding-left:8px;
        padding-right:8px;
    }
    .tutor-details-li{
        top:0;
        margin-left:20%;
        margin-top:-60px!important;
        position:relative;
    }
    .tutorList {
        width:100%;
    }
    .tutorList li {
        display:inline-block;
        width:40%;
        margin-left:20px;
    }
    .tutor-name{
        font-family: "Open sans", "sans-serif";
        margin-bottom:5px;
        margin-top:5px;
        font-size: 14px;
    }
    .right-container {
        width:30%;        
    }
    .homeWrap{
        width:100%;
        overflow-y:none;
        background-color:#18191a!important;

    }
    .timeline-container-helprequest{
        min-height:100px;
        box-shadow:1px 2px #131313;
        border-bottom: 2px solid #28a745;
        margin-right:5%;
        margin-bottom:30px;
        margin-top:30px;
        border-radius:8px;
        padding-bottom:20px;
        
    }
    .timeline-container-status{
        min-height:100px;
        /* border-bottom: 2px solid #007bff;
        box-shadow:1px 2px #131313; */
        margin-right:auto;
        margin-right:auto;
        margin-bottom:30px;
        margin-top:30px;
        border-radius:8px;
        width:85%;
        min-width:350px;
        display:inline-block;

        
    }
    #calendar1, #calendar2,#calendar3,#calendar4,#calendar5, #calendar6{
        display:none;
    }
    .askQuestion-textarea{
        width:90%;
        height:80px;
        outline:none;
        margin-left:auto;
        margin-right:auto;
        text-align:left;
        padding-left:10px;
        padding-top:5px;
        background-color:#343a40;
        color:white;
        border:none;

    }
    .timeline-wrapper{
        /* background-color:#242526!important; */
        padding-top:20px;
        border-radius:20px;
        padding-bottom:20px;
        text-align:center;
    }
    #findATutorMobile-wrapper{
        width:100%;
        display:none;
    }
    .available-selected{
        background-color:#007bff;
        padding-left:6px;
        padding-right:6px;
        border-radius:10px;
    }
    .recentActivity-title{
        font-size:16px;
        padding-left:20px;
        text-align:left;
        font-family: "Open sans", "sans-serif";
        text-align:center;
    }
    .tagACourse, .tagAGroup{
        background-color:#242526;
        border:none;
        color:white;
        margin-top:10px;
        width:90%;
        height:35px!important;
    }
.attachFile{
    margin-top:25px;
    text-align:left;
    margin-left:30px;
}
    .askQuestion-file{
        margin-top:5px;
        margin-right:20px;
        margin-left:30px;
        color:white!important;
        padding-left:0px;
    }
    .askQuestion-container{
        text-align:center;
        left:0!important;
        margin-top:40px;
        overflow-x: hidden;
    }
    
    .recentActivity-title svg{
        margin-right:10px;
    }
    .mobile-availability{
        margin-left:10px;
        margin-right:auto;
        padding-left:20px;
        padding-bottom:20px;
        text-align:left;
    }
    .mobile-availability li {
        display:inline-block;
        margin-left:5px;
        margin-right:5px;
        color:white;
    }
    .mobile-available-text{
        color:#a9a9a9!important;
    }
    .success-sub-text{
        font-size:15px;
        color:white;
        text-align:left!important;
        margin-left:20px;
        margin-right:20px;
    }
    .success-msg{
        font-size:16px!important;
        margin-top:30px;
        font-family:"Open sans", "sans-serif";
    }
    .mobile-actions{
        width:100%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:15px;
        margin-bottom:0px;
    }
    .mobile-actions-bottom-border{
        border-bottom: 2px solid #007bff;
    }
    .mobile-actions ul {
        margin-bottom:0;
    }
    .mobile-actions li {
        display:inline-block;
        margin-left:3.5%;
        margin-right:3.5%;
    }
    .hashtag{
        color:white;
        margin-left:30px;
        text-align:left;
    }
    .mobile-actions-text{
        font-size:13px;
        text-align:center;
        margin-top:5px;
        font-family:"Open sans", "sans-serif";
        margin-bottom:0;
    }
    .mobile-actions-item{
        width:40px;
        height:40px;
        border-radius:60px;
        background-color:#2a2f33;
        margin-left:auto;
        margin-right:auto;
        display:none;
    }
    .mobile-actions-item svg{
      margin-top:15px;
    }
    .day-container{
        padding-left:20px;
        padding-bottom:10px;
    }
    .day-wrapper{
        padding-bottom:10px; 
        padding-top:10px; 
    }
    .calendarLine{
        width:75%;
        background-color:#a9a9a9;
        float:right;
        height:.5px;
        margin-top:15px;
    }
    .calendarLine-selected{
        width:75%;
        background-color:#007bff;
        float:right;
        height:.5px;
        margin-top:15px;
    }
    .mobile-tutor-search{
        background-color:#18191a;
        color:white;
        border-right:none!important;
        border-top:none!important;
        border-bottom:none;
        border-left:none!important;
    }
    .course-search-container{
        text-align:center!important;
        width:100%;
        margin-top:20px;
    }
    .course-search-sub-container{
        border-bottom:2px solid #a9a9a9;
        width:250px;
        display:inline-block;
        margin-left:auto;
        margin-right:auto;
    }
    .tutor-add-autocomplete{
        width:100%;
        background-color:#2a2f33!important;
        min-height:40px;
        border-bottom-right-radius: 10px!important;
        border-bottom-left-radius: 10px!important;
        display:none;
        position:relative;
        z-index:3;

    }

    .add-tutoring-course{
        font-family: "Open sans", "sans-serif";
        font-size:14px;
        margin-left:20px;
        margin-top:10px;
    }
    .add-tutoring-form label{
        text-align:left!important;
     
    }
    .add-tutoring-label{
        text-align:left!important;
        margin-bottom:10px;
        font-size:16px;
        color:white;
        margin-top:10px;
    }
    .add-tutoring-wrapper{
        margin-left:auto;
        margin-right:auto;
        width:100%;
        text-align:center;
        margin-top:40px;
    }
    .input-container-add-tutoring{
        background-color:#2a2f33;
        width:100%;
        border-radius:10px;
    }
    .add-tutoring-dollar{
        width:8px;
    }
    .remove-tutor-course{
        display:none;
        font-family: "Open sans", "sans-serif";
        font-size:12px;
        position:absolute;
        padding-top:2px;
        padding-bottom:2px;
        padding-left:4px;
        padding-right:4px;
    }
    .add-tutoring-btn{
        font-family: "Open sans", "sans-serif";
        font-size:14px;
        margin-top:40px;
        width:100%;
    }
    .dots-tutor-courses{
        margin-left:10px;
    }
    .pending-tutor-course{
        margin-left:10px;
    }
    .transcript-upload{
        margin-top:20px;
    }
    .add-tutoring-input, .add-tutoring-input1{
        background-color:#2a2f33;
        border:none!important;
        padding:5px;
        border-radius:10px;
        color:white;
        font-size:16px;
        width:80%!important;
        height:40px;
        margin-bottom:30px;
        position:relative;
        z-index:3;

    }
    .transcript-upload{
        font-size:15px!important;
        margin-bottom:20px;
    }
    .icon-add-tutoring{
        float:left;
        margin-top:5px;
        margin-right:5px;
        margin-left:10px;
    }
    .add-tutoring-sub-wrapper{
        margin-left:auto;
        margin-right:auto;
        width:250px;
        text-align:center;
        display:inline-block;
    }
    .add-tutoring-form input{
        display:block;
       
    }
    .add-tutoring-form {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
    .findTutor-course{
        cursor:pointer;
    }
.questionLabel{
    margin-left:20px;
    margin-bottom:0;
    text-align:left!important;
}

    .findTutorMobile-results, .findTutorMobile-results{
        padding-top:20px;
    }
    .optional{
        margin-top:20px!important;
        text-align:left;
        margin-left:30px;
    }
    .pdf-iframe{
        width:100%;
        height:400px;
        margin-top:0!important;
    }
    .day-container label{

        padding-left:10px;
    }
    .connectionBody-container{
        text-align:left;
        padding-top:20px!important;
        width:100%;
        top:0!important;
        right:0;
        margin-top:-200px!important;
        margin-bottom:200px;
        margin-right:20px;
    }
    .addComment{
        margin-left:90px;
        color:#d4d4d4;
        font-size:13px!important;
    }
    .view-timeline-btn{
        padding-top:2px;
        padding-bottom:2px;
        padding-left:4px;
        padding-right:4px;
        font-size:12px!important;
        margin-left:20px;
        font-family: 'Open Sans', sans-serif!important;
    }
    .name-link, .name-link:hover{
        color:white;
    }
    .pdf-link, .pdf-link:hover{
        text-align:center;
        width:100%!important;
        color:#d4d4d4;
        padding-top:10px;
    }
    .question-img1{
        width:100%!important;
    }
    .question-img1{
        width:50%!important;
    }
    .postDate{
        color:#a9a9a9;
        font-size:14px;
        padding-left:20px;
        float:right;
        margin-right:7%;
        margin-top:10px;
        margin-bottom:5px;
    }
    .postDate1{
        color:#a9a9a9!important;
        font-size:13px;
        padding-left:15px;
        margin-right:7%;
        margin-top:10px;
        margin-bottom:5px;
    }
    .caption-status{
        color:white!important;
        margin-left: 30px;
        margin-right: 30px;
        margin-top:0px;
        margin-bottom:5px;
        font-size:15px;
        font-weight:450;
        text-align:left;
        font-family: 'Open Sans', sans-serif!important;
        white-space: pre-wrap;
    
    }
    .info-badge{
        font-family: 'Open Sans', sans-serif!important;
        font-size:13px!important;
    }
    .caption{
        color:white!important;
        margin-left: 20px;
        margin-top:5px;
        font-size:14px;
        font-family: 'Open Sans', sans-serif!important;
    }
    .studyGroupSubject{
        color:#a9a9a9;
        font-size:13px;
        padding-left:8px;
        text-align:left;
    }
    .courseName{
        font-size:13px;
        color:white;
        padding-left:10px;
        padding-right:10px;
        margin-bottom:3px;
        font-family: 'Open Sans', sans-serif!important;
        text-align:left!important;
    }
    .searchUser{
        width:33px;
        margin-right:10px;
        float:left;
        margin-bottom:0!important;
        margin-top:5px;
    
    }
    .courseCountainer{
        padding-left:20px;
        padding-top:5px;
        padding-bottom:3px;
       
    }
    .userHandle{
        font-size:13px!important;
        padding-left:40px;
        color:#a9a9a9;
        margin-bottom:0!important;
        text-align:left;
    }
    
    .searchName{
        font-size:14px;
        color:white;
        margin-bottom:2px;
        text-align:left;
    }
    .searchTab{
        display:inline-block;
        font-size:13px;
        padding-bottom:5px;
        margin-left:5px;
        margin-right:5px;
        cursor:pointer;
        font-family: 'Open Sans', sans-serif!important;
        color:white!important;
    
    }
    .tab-container{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-top:30px;
    
    }
    .mobile-search-container{
        background-color:#242526;
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        z-index:3;
        display:none;
        text-align:center;
    }
    .mobile-home-link{
        color:#a9a9a9;
    }
    .close-mobile-menu, .close-search{
        position:absolute;
        right:0;
        top:0;
        margin-top:10px;
        margin-right:10px;
        cursor:pointer;
    }    
    .postHandle a{
        color:#d4d4d4;
        font-size:14px;
    }
    .timelinePost-username{
        color:white;
        font-family: 'Open Sans', sans-serif!important;
        margin-bottom:0!important;
        margin-left:55px;
        text-align:left;
        font-size:14px;
    }
    .daySelect-container{
        margin-top:20px;
        margin-bottom:20px;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
    .daySelect-container select{
        background-color:#3a3b3c;
        font-family:"Open sans","sans-serif";
        outline:0;
        color:white;
        border-radius:10px;
        border:none!important;
        font-size:15px;
        padding-left:7px;
        padding-right:7px!important;
    }
    .daySelect-container option{
        padding-left:7px;
        font-size:15px;
        border:none!important;
    }
    .dateButtons{
        font-size:15px;
        margin-left:5px!important;
        margin-right:5px!important;
        margin-bottom:0px!important;
        padding:5px!important;
        cursor:pointer;
        border-radius:10px;
        font-family: 'Open Sans', sans-serif;
    }
    .dateButtons p{
        margin-bottom:0!important;
    }
    
    .dateBtn-container{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
    .weekOfTxt{
        font-size:14px!important;
        text-align:left;
    }
    #calendarContainer td{
        display:block!important;
    }
    .post-selection-menu li{
        padding-bottom:0px!important;
        cursor:pointer;
        margin-bottom:0px!important;
    }
    .post-selection-menu{
        margin-left:50px;
        padding-top:10px;
    }
    .requestHelp{
        width:100%;
        background-color:#242526;
        border-bottom:2px solid #3a3b3c;
        color:#d4d4d4;
        border-radius:10px;
        margin-top:10px;
        margin-left:10px;
        margin-right:10px;
        padding:5px;
        cursor:text!important;
        font-weight:480;
    }
    .mobileUserImg{
        padding-top:10px;
        position:relative;
        z-index:2;
    }
    #horizontalHeader{
        background-color:#1f2024!important;
        position:relative!important;
        height:60px!important;
       
    }
    .timeline-title{
        display:none;
    }
    .message{
        background-color:#18191a!important;
        padding-top:0!important;
    }

    .search-container{
        position:absolute;
        margin-right:30px;
        margin-top:3px;

    }
    .searchLi{
        margin-top:-30px!important;
        height:1.5em;
        margin-right:30px!important;
    }
    .mobileMenu{
        display:block;
        width:100%;
        background-color:#18191a;
        color:#d4d4d4;
        position:fixed;
        z-index:3;
        bottom:0;
        text-align:center;
        padding-top:10px;
        padding-bottom:10px;
        border-top: 1px solid #202020;

        -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.75);

        
    }
    .home-wrapper{
        padding-top:10px!important;
    }
    .requestHelp{
        margin-left:50px;
    }
    .mobileMenu ul li{
        display:inline-block;
        font-size:12px;
        font-family: "Open sans","sans-serif";
        cursor:pointer;
        width:23%;
    }
    .mobileMenu ul{
        width:100%;
        margin-bottom:0!important;
        padding-bottom:10px;
    }
    .timeline-container-status, .timeline-container-helprequest{
        margin-left:0px;
        margin-right:0px;
        margin-top:0;
        margin-bottom:0;
        border-radius:0!important;
        /* border-bottom:1px solid #a9a9a9!important; */
    }
    .request-help-container{
        background-color:#18191a!important;
        margin-left:8px;
        margin-right:8px;
        border-radius:20px!important;
        border-bottom:none!important;
        margin-top:10px;
        margin-bottom:10px;
        box-shadow:none!important;
        display:none;
    }
    .helpRequest-body .timelinePost-Image{
        display:none;
    }
    .requestHelp, .post-selection-menu{
        margin-left:0!important;
    }
    .like-button{
        background-color:#18191a;
    }
    .userNameLink{
        font-size:14px!important;
    }
    /* .tl-main-img{
        display:none;
    } */
    .timeline{
        width:100%;
        height:100%;
        margin-left:0px;
        overflow-y:auto;
    }
    .desktopLogo{
        display:none!important;
    }
    .mobile-logo-container{
        position:absolute;
        width:100%!important;
        text-align:center!important;
    }
    .mobile-logo-wrapper{
        margin-left:auto;
        margin-right:auto;
        display:inline-block;
    }
    .mobileLogo{
        margin-left:auto;
        margin-right:auto;
        display:inline-block;
        width:28px;
        margin-top:15px;
    }
    
    #pageTitle{
        margin-left:15px;
        color:#a9a9a9;
        font-size:20px;
        padding-top:0px!important;
        margin-top:0!important;
       
    }
    .headerContainer{
        right:0;
        top:0;
        width:600px!important;
        margin-right:0px!important;
        z-index:2;
        
    }
    .active{
        position:absolute;
        font-size:13px;
        text-align:center;
        width:69px;
        margin-top:-5px;
        
    }

    .headerContainer li{
        display:inline-block;
        margin-right:10px!important;
        color:#d4d4d4!important;
        margin-left:10px;
        margin-top:0;
        padding-top:0;
        padding-right:0!important;
        
     
     }

     #showNotifications{
         width:100%!important;
         height:100vh;
         /* padding-left:10%; */
         position:fixed!important;
         top:0;
         margin-top:0!important;
         margin-left:5px!important;
         margin-right:50px!important;
         border-top-right-radius:20px!important;
         border-top-left-radius:20px!important;
         padding-bottom:120px!important;

         
     }
     .startConversation-button{
         padding-left:0!important;
     }
    .logo{
        margin-right:0;
    }
    .bell{
        margin-right:15px!important;
    }
    .input-container-main, .homeSideBar, .img, .bell, .message, .headerLinkTitle, .userProfileName{
        display:none!important;
    }
    .mobile-input-container-main{
        display: -ms-flexbox; /* IE10 */
    display: inline-block;
    width: 270px;
    background-color:#3a3b3c!important;
    margin-left:auto;;
    margin-right:auto;
    border-radius:20px;
    font-size:16px!important;
    padding-bottom:none!important;
    height:40px;
    background-color:none;
    color:white!important;
    margin-top:15px!important;
    position:relative;
    top:0;
    
    }
    .searchForm{
        height:40px!important;
    }
    .userProfileImg{
        width:40px!important;
        padding-top:10px;
    }
   .userImgLi{
       display:none!important;
   }
    .slider-container-header{
        width:60px;
        position:absolute;
        right:0;
        top:0;
        margin-top:20px;
        margin-right:15px;
        padding:0!important;
        z-index:2;
      }
.desktop-li{
    display:none;
}
}