.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   
  }
  .themeTxt{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-top:-5px;
    float:right;
    margin-bottom:5px;
  }
  /* The container <div> - needed to position the dropdown content */
 .grade-container{
   text-align:left;
   margin-top:30px;
 }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 155px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  .dollar-icon{
      width:10px;
      margin-top:7px;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .pika-lendar{
      width:98%;
  }
  .pika-single{
      width:20%!important;
  }
  .pika-day:hover{
      color:white!important;
      background-color:#007bff!important;
  }
  .datePicker{
      width:100%!important;
  }
  .hostArrow{
      width:12px!important;
      margin-left:4px;
  }
  .signup-icon1{
      width:20px;
  }
  .contentBlockHost{
      padding-left:300px;
      background-color:#18191a;
      padding-bottom:50px!important;
      height:100%;
  }
  .host-session-select{
    background-color:#343a40!important;
    color:white;
    border:none!important;
    font-family: 'Open Sans', sans-serif;
    padding:5px;
    cursor:pointer;
    font-size:14px;
  }
  .gradeText{
      float:right;
      padding-left:10px;
      font-weight:500;
   
      font-size:20px;
      padding-top:3px;
      position:absolute;
  }
  .hours{
      padding-right:80px;
      padding-right:30px;
      color:white;
      font-size:12px;
      margin-top:5px;
      font-family: 'Open Sans', sans-serif;
  }
  
  .dropdown-content label{
      color:white;
      display:block;
      width:100%;
      height:30px;
      margin-bottom:0;
      cursor:pointer;
      border-bottom:1px solid black;
      margin-top:0!important;
      float:none;
      text-align:left;
  }
  .sliderWrapperContainer{
      width:45px!important;
  }
  .dropdown-content label p{
      padding-left:5px;

      
  }
  .input-wrapper small{
      float:right;
  }
  .input-container1{
    margin-bottom:25px!important;
    

  }
  .input-container-hostSession1{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 15%;
    background-color:#343a40!important;
   
   border-collapse: separate; 
    border-radius:20px;
    margin-left:0!important;
    padding-bottom:none!important;
    border:none!important;
    height:35px;
    background-color:none;
  }

  /* debug begin */
  .input-field-hostSession1 {
    border:none!important;
    outline:none!important;
    color:white!important;
    margin-bottom:0!important;
    width: 70px!important;
    background-color:#343a40!important;
    height:100%;
    font-size:20px;
    font-family: 'Open Sans', sans-serif!important;
    
   }
   .input-field-hostSession1::placeholder{
    color:#a9a9a9!important;
   }
  .input-container-hostSession{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 35%;
    background-color:#343a40!important;
   
    margin-right:20%;
    border-collapse: separate; 
    border-radius:20px;
    
    padding-bottom:none!important;
 
    height:35px;
    background-color:none;
    
  }
  #createListing{
    margin-top:30px;
    width:30%;

  }
  .dropdown-content label:hover{
      opacity:.7!important;
  }
  input[type="radio"]{
      display:none;
  }
 label{
    margin-top:5px;
  }
  #first{
    font-size:24px;
  }
  #first, #schoolSignUp{
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    right:0;
    font-size:18px;
    
  }
  .maxStudents-container{
    display:none;
  }
  .listingErrMsg{
    color:#dc3545;
    text-align:center;
    height:50px;
    margin-top:20px;
    width:100%;
    font-weight:500;
  }
  /* debug end */
  #schoolSignUp{
    background-color:#046A38!important;
    max-width:300px;
    padding:5px;
    border-radius:10px;
    margin-left:20px!important;
    font-size:16px!important;
  }
  .listingHead{
    display:inline-block!important;
    width:200px!important;
  }
  .input-containerType{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 50%;
 
    margin-left:30%;
    margin-right:20%;
    
    border-collapse: separate; 
    border-radius:5px;
    
    padding-bottom:none!important;
    margin-bottom:25px;
    height:40px;
    
  }
#hostSession-form{
 margin-left:10%;
  margin-right:13%!important;

  padding-right:70px;
  padding-left:70px;
}
#hostSession-form label{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}
  #subjectText, .hourlyRateTxt{
   
   color:#dc3545;
   position:absolute;
  }
  .editListing-text{
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
  }
  .listingTypeHeader{
    font-size:18px!important;
    font-family: 'Open Sans', sans-serif;
    text-align:left;
    margin-right:20%;
    margin-top:10px;
    color:#d4d4d4;
  }
  .listingDetailsLabel{
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-size:14px!important;
    margin-bottom:0!important;

  }
  .listingDetailsContainer{
    background-color:#343a40;
    min-width:150px;
    padding:5px;
    padding-left:15px;
    margin-bottom:10px;
    float:left;
    margin-right:20px;
    border:2px solid #343a40;
  }
  .listingTypeItem{
    display:inline-block;
    margin-right:20px!important;
    font-family: 'Open Sans', sans-serif;
    font-size:14px!important;
    cursor:pointer;
  }
  .listingTypeItem1{
    display:inline-block;
    margin-right:20px!important;
    font-family: 'Open Sans', sans-serif;
    font-size:14px!important;
    cursor:pointer;
  }
  .hostSesh-button{
    font-size:15px!important;
    color:white;
    border:2px solid #007bff!important;
    border-radius:20px;
    text-align:center;
  }
  .hostSesh-button:hover{
    color:white;
    background-color:#007bff!important;
  }
  .typeInfo{
    text-align:left;
    color:#d4d4d4;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    margin-right:20%;
    margin-bottom:30px;

  }
  .typeInfo1{
    text-align:left;
    color:#d4d4d4;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    margin-right:20%;
    margin-bottom:30px;

  }
  .search-course-container{
    position:relative;
    left:0!important;
    text-align:left!important;
  }
  .earnCash-container{
    margin-left:10%;
    margin-right:20%!important;
  
    padding-right:70px;
    padding-left:70px;
  }
  .earnCash-header{
    width:100%;
    font-size:30px;
    text-align:left;
  
    margin-bottom:20px;
    
  }
  .activeDiv{
    position:relative;
    display:block;
    left:0;
    float:left;
    width:90%;
  }
  .create-listing-button-container{
    width:100%;
    text-align:center;
    margin-top: 150px;
  }
  .disclaimer{
    font-size:16px;
    color:#d4d4d4;
    margin-top:40px;
  }
  .dateTxtHostSession{
    color:#d4d4d4;
    margin-top:3px;
    font-size:14px;
    margin-bottom:0!important;
  }
  .price-container{
    height:120px;
  }
  .price-container-edit{
    height:120px;
    margin-top:30px;
  }
  .location-container{
    display:none;
    float:none!important;
  }
  .first-header{
    margin-top:10px;
    font-size:24px!important;
  }
  .listingTypeList{
    padding-top:5px;
    text-align:left;
    margin-right:20%;
  }
  .createListingDiv{
    background-color:#212121;
    padding:40px;
    margin-bottom:50px;
  }
  .calendar-info{
    text-align:left;
  }
  .saveChanges{
    font-family: 'Open Sans', sans-serif;
    margin-top:50px;
  }
  .timeSlotTxt{
  }
  .userInfoHeading{
    text-align:left;
    font-size:22px;
    color:#d4d4d4;
    margin-bottom:20px;
    margin-top:50px;
  }
  .currentSchedule-container{
    text-align:left;
  }
  .currentSchedule{
    display:inline-block;
    left:0;
    text-align:left;
    font-size:20px!important;
  }
  .userInfoHeading1{
    text-align:left;
    font-size:22px;
    color:#a9a9a9;
    margin-bottom:20px;
    margin-top:30px;
  }
  
#ui-id-3  .ui-menu-item{
  background-color:#343a40!important;
  list-style-type:none;
  color:#a9a9a9;
  cursor:pointer;
  border-radius:none!important;
}
#ui-id-3  .ui-menu-item:hover{
  background-color:#a9a9a9!important;
}
#subject{
  width:100%!important;
}

.leftPriceSliderLabel, .rightPriceSliderLabel{
  color:#a9a9a9;
  font-size:12px;
  font-family: 'Open Sans', sans-serif;
  position:absolute;
}
.editListing{

  width:200px;
  
}
.priceSlider{
  float:right;
  width:70%;
  padding-left:0!important;
}
.slider-container{
  width:60px;
  position:relative;
  padding:0!important;
  z-index:2;
}
.edit-header-container{
  width:240px;
  position:relative;
   z-index:2!important;
   opacity:1!important;
}
.active{
  color: #28a745;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;

}
.durationSlider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 150px!important; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  left:0!important;
}
.durationSliderContainer{
  width:80px;
}
.sessionDuration{
  text-align:left;
  font-size:16px!important;
  font-family: 'Open Sans', sans-serif;
  margin-left:10px;
  margin-top:10px;
}
.scheduleErr{
  color:#dc3545;
  display:none;
  text-align:left;
 font-size:16px;
 margin-left:10px;
  margin-bottom:10px;
}
::-webkit-input-placeholder{
  color:#a9a9a9!important;
  opacity: 1;
}
#courseName{
  position:relative!important;
  left:0!important;
  background-color:#343a40;
  width:60%;
  text-align:left!important;
  height:40px;
  border:none;
  color:white;
  z-index:2;
}
.course-autocomplete{
  position:absolute;
  text-align:left;
  width:60%;
  background-color:#343a40;
  padding-top:20px;
  border-top:1px solid #a9a9a9;
  display:none;
  z-index:2;
}
.today{
  font-size:15px!important;
  margin-top: 5px;
}
.courseCountainer{
  cursor:pointer;
}
.loading-courses{
  text-align:center;
  font-size:14px!important;
  padding-bottom:10px;
}
.course-autocomplete ul li{
  list-style-type:none;
  cursor:pointer;
  padding-bottom:5px;
  padding-top:5px;
}
.location-input{
  width:300px;
  height:40px!important;
  width:100%;
  border:none;
  color:white!important;
 
}
.courseError{
  position:absolute;
}
.location-input-container{

  width:60%;
}
.location-input-wrapper{
  margin-bottom:30px;
}
.hourlyRateTxt-container{
  width:100%;
  text-align:left;
}
.course-autocomplete ul li:hover{
  background-color:black;
}
#courseNameTxt, #maxTxt, #buildingErr, #roomErr{
  position:absolute;
  color:#dc3545;
  margin-top:3px;
}
#hourlyRateTxt{
  color:#dc3545;
  margin-top:3px;
}
.locationLabel{
  font-size:20px;
  text-align:left;
}
.unchangeableDetails{
  display:inline-block;
  width:180px;
  left:0;
  text-align:left;
}
.unchangeable-wrapper{
  width:100%;
  text-align:left;
}
.courseName{
  text-align:left!important;
}
.expirationErr{
  color:#dc3545;
  text-align:left;
  display:none;
}
.expirationTxt{
  text-align:left;
  font-family: 'Open Sans', sans-serif;
  padding-top:10px;
  font-size:14px;
  color:#d4d4d4;
}
.courseCode{
  text-align:left;
}
.terms{
  padding-right:25px!important;
 
}
.termsTxt{
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
  padding-top:30px;
  padding-left:20px;
} 

