/* text on the left side */
.homeTitle {
    padding-top:80px!important;
    margin-right: 0!important;
    height:100vh!important;
}
.homeTitle h1 {
    color: white;
    font-size: 4em;
    text-align:left;
    margin-top:-20px;
}
.homeBody{
    text-align: center;
    display:inline-block;
    position:relative;
    top:0!important;
}
.homeBody h2 {
    color: white;
    
}
.loginLinkList ul li{
    width:50px!important;
    padding-top:0!important;
}
.loginLinkList ul{
    width:50%!important;
}
.loginLi{
    margin-top:-30px;
}
.index-header{
    color: white;
    font-size: 4em;
    text-align:left;
    font-size:35px;
    padding-top:40px;
}
.index-img-sideHustle{
    width:350px;
    margin-left:30px;
}
.index-img-sideHustle1{
    width:350px;
    margin-left:30px;
}
.homeBody h3 {
    font-size: 23px;
    text-align: left;
    color: white;
}
.homeTitle div{
    display:inline-block!important;
}
.homeTitle ul li{
    /* width:400px; */
    display:inline-block!important;
    margin-left:4%;
    margin-right:4%;
    

}
.homeTitle ul{
    width:100%;
}
.join-btn{
    font-family: 'Open Sans', sans-serif;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    border-radius:30px;
    font-size:18px;
}
/* login form */
.formContainer {
    padding-top:50px!important;
    right:0;
    width: 300px;
}
/* image above form */
.lifestyle img{
    width: 300px!important;
}
.index-container{
    height: 95vh;
    width:100%;
    text-align:center;
    /* margin: 0;
    background: yellow           */
 
}
.index-container1{
    height: 80vh;
    width:100%;
    text-align:center;
    /* margin: 0;
    background: yellow           */
}
.index-page-container{
    margin-bottom:0;
    padding-bottom:0;
    color:#a9a9a9;
    background-color:#18191a;
    
}
/** For mobile view **/
@media only screen and (min-width: 375px) and (max-width: 812px) {
    .homeTitle ul li:not(:first-child) {
        display: none!important;
    }
    .page-container {
        background-color: #121212!important;
        width: 812px;
    }
    footer {
        text-align: center;
        color: white;
        background-color: #202020;
        overflow: hidden;
        width: 812px;
    }
    .homeTitle {
        padding-top: 150px!important;
        margin-right: 0!important;
        height: 100vh!important;
    }
    .index-img-sideHustle {
        width: 350px;
        margin-left: 30px;
        margin-top: 40px;
    }
    .index-img-sideHustle1 {
        width: 350px;
        margin-left: 30px;
        margin-top: 30px;
    }
    .index-container1:nth-child(5) {
        position: relative;
        bottom: 50px;
    }
    .full-index-container1 {
        position: relative;
        bottom: 80px;
    }
    /* nav bar set up */
  .socialItem {
    display: none!important;
  } 
  #headerLinkContainer ul li:nth-child(3){
    display: none!important;
  } 
  #headerLinkContainer ul li:not(:first-child) {
    position: relative;
    right: 125px;
}
  #headerLinkContainer {
    list-style-type: none;
    height: 60px;
    width: 100%;
    padding-top: 15px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .logo{
    width:120px;
    margin-top:-7px;
    position: relative;
    right: 80px;
  }
  .login-nav {
    border-radius: 10px!important;
    padding-top: 3px!important;
    padding-bottom: 3px!important;
    box-shadow: 1px 2px #131313;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px!important;
    position: relative;
    left: 50px;
    width: 100px!important;
    margin-left: 0px!important;
  }
  .betaVersion {
    position: fixed;
    color: #585757;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    margin-top: 18px;
    margin-right: 45px;
}
  /* end of nav bar design for mobile */
}