@media only screen and (max-width: 750px) {
    /* #loginPage {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 280px;
    } */
    /* .p {
        width: 20em;
    } */
    .loginLabel {
        text-align: left;
        color: white;
        padding-left: 20px;
        background-color: #18191a!important;
        height: 100%;
        margin-bottom: 0!important;
        padding-top: 5px;
        padding-bottom: 5px!important;
        height: 25px;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        padding-left:0!important;
    }
     /*disclaimer on page */
     .disclaimerText2{
        color: #d4d4d4;
     }
     .disclaimerText2 h3 strong{
        font-weight: 900;
     }
     #loginPage{
        margin-left:10px;
        margin-right:10px;
    }
    .input-field{
        background-color: #242526!important;
        border:none!important;
        border-radius:0!important;
        font-family: 'Open Sans', sans-serif!important;
        outline:0!important;
        color: white!important;
    }
}