#loginPage{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:600px!important;
    margin-top:75px;
}
.homeContainer1{
    width:100%!important;
    text-align:center;
    background-image: url('../img/bg-image.svg');
    background-repeat:no-repeat;
    background-position:fixed;
    background-color:#2196f3;
    height:130vh;
    background-size:1980px;

}
@media only screen and (max-width: 1000px) {
    /* #loginPage {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 280px;
    } */
    /* .p {
        width: 20em;
    } */
    #loginPage{
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        width:60%!important;
        margin-top:75px;
    }
    .homeContainer1{
        width:100%!important;
        text-align:center;
        background-image: url('../img/bg-image.svg');
        background-repeat:no-repeat;
        background-position:fixed;
        background-color:#2196f3;
        height:130vh;
        background-size:1980px;

    }
    .loginLabel {
        text-align: left;
        color: #d4d4d4;
        padding-left: 20px;
        background-color: #18191a!important;
        height: 100%;
        margin-bottom: 0!important;
        padding-top: 5px;
        padding-bottom: 5px!important;
        height: 25px;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        padding-left:10px!important;
    }
     /*disclaimer on page */
     .disclaimerText2{
        color: #d4d4d4;
        text-align:left;
     }
     .disclaimerText2 h3 strong{
        font-weight: 900;
     }
    
    .input-field{
        background-color: #d4d4d4!important;
        border:none!important;
        border-radius:0!important;
        font-family: 'Open Sans', sans-serif!important;
        outline:0!important;
        color: white!important;
    }
}