.meetupList {
    background-color:#242526;
    box-shadow: 1px 2px #131313;
    border-radius:5px;
    width:60%;
    padding:20px;
    padding-left: 30px!important;
    text-align:left;
    display:inline-block;
}
.meetup-courseCode {
    font-size: 28px;
    padding-bottom: 1rem;
}
.datetime{
    font-size:18px!important;
    margin-right:50px;
    margin-top:10px;
}
.course-profile-info{
    margin-left:auto;
    margin-right: auto;
    position:relative!important;
}
.course-profile-info h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
.meetupList svg {
    fill: #d4d4d4;
    margin-right:15px;
    margin-bottom: 3px;
    font-size:20px!important;
}
.meetupList li {
    font-size: 16px;
}

