li{
    cursor: pointer;
}

.meetupsImg{
    width:30px;
    display:inline-block;
}
.meetupsBtn{
    border-radius:10px!important;
    width: 92px;
}
.noMeetups{
    display:none;
    text-align:center;
    width:100%!important;
}