input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #eeeeec inset !important;
    -webkit-text-fill-color: white;
}
::-webkit-scrollbar-track {
    background:#18191a; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #242526!important; 
    opacity: 0.3;
  }
.message-members-container{
    position: fixed;
    left: 0;
    margin-top: 55px;
    height: 100vh !important;
    width: 220px;
    z-index: 1;
    color: #d4d4d4;
    overflow-y: auto;
    padding-bottom: 60px;
}
.thread-images-container { 
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    border-top:1px solid #797777;
    text-align:center;
}
.row {
    width: 80%!important;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.seeAllFiles {
    margin-bottom:4px!important;
    margin-top:4px!important;
    font-size: 13px;
}
.grid-image {
    height:50px;
    margin-left:15px;
}
.messagePageName {
    margin-right: 50px;
    float: left;
    font-size: 15px;
    color: white !important;
}
#attach-file-icon svg {
    cursor: pointer!important;
}
.message-file{
    display:none;

}
.input-container-main {
    margin-left: 500px;
}
.msgSender {
    font-size: 16px !important;
    text-align: left;
    margin-bottom: 4px !important;
    margin-right: 0 !important;
    margin-top: 20px;
}

.msgReceiver {
    font-size: 16px !important;
    text-align: left;
    margin-bottom: 2px !important;
}

.hostImg {
    width: 40px !important;
    padding-right: 10px;
    margin-top: -20px !important;
}

.message-wrapper {
    margin-bottom: 50px;
    width: 50%;
    text-align: right;
}
.message-wrapper1 {
    margin-bottom: 50px;
    width: 80%;
    text-align: right;
}
.headerContainer{
    right:0;
    top:0;
    width:215px!important;
    margin-right:0px!important;
    margin-top:5px;
    z-index:2;
    
}
#pageTitle {
    padding-top:2px!important;
}
.sendMsgImg {
    position: relative;
    right: 0;
    margin-top: 3px;
}

.headerChat {
    font-size: 20px !important;
    margin-right: 5px;
}

.messageHandleAndImage {
    margin-top: 20px;
    margin-bottom: 30px !important;
}

.messageHandle-container {
    margin-top: 10px;
}



.msg-send-btn {
    background-color: #242526;
    border-radius:20px;
    margin-left:10px;
}

.msg-send-btn:hover {
    opacity: .8;
}

.sender_handle {
    font-size: 14px;
    color: #d4d4d4;
    margin-bottom: 6px;
}



.msg_1 {
    left: 0 !important;
}

.msg_ h1 {
    font-size: 22px;
}

.receivedMsg {
    background-color: #2C2F33;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    left: 0;
}

.sentMsg {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    left: 0;

}

.sent-wrapper {
    margin-left: 42%;

}

.sendMsgImg {
    width: 50px;
    position: relative;
    right: 0;
    width: 200px !important
}



#typeMsg:focus {
    border: none;
}

#sendMsg {
    border: none;
    color: #a3a3a3;
    font-size: 20px;
    border-radius: 25px;
    min-height: 40px;
    margin-left: 1%;
}



.msg-date {
    font-size: 12px;
    color: #d4d4d4;
    padding-left: 5px;
    padding-top: 5px;
}

.msg-date-sent {
    text-align: right;
    padding-left: 0px !important;
    padding-right: 5px;
    font-size: 12px;
    color: #d4d4d4;
    font-family: 'Open Sans', sans-serif;

}



.msgInput input::-webkit-input-placeholder {
    color: #a9a9a9;

}

.msgInput input::-moz-placeholder {
    color: #a9a9a9;

}

.msgInput input:-ms-input-placeholder {
    color: #a9a9a9;

}

.msgInput input::-ms-input-placeholder {
    color: #a9a9a9;

}

.msgInput input::placeholder {
    color: #a9a9a9;

}

#sendImg {
    width: 25px;
}

.msgFormTxt {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0 !important;
    padding-left: 10px;
}


#convoTitle {
    text-align: left;
    padding-bottom: 30px;

    font-size: 16px;
    width: 700px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;

}
.member-tooltip {

}
.messageHandle {
    color: white;
    padding-top: 12px;
    padding-bottom: 3px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 15px;
    text-align: left;
    display: block;
    font-family: 'Open Sans', sans-serif;

}

.online {
    background-color: #28a745;

}
.offline {
    background-color: #dc3545;
}
.offline, .online {
    height: 20px;
    /* float: left; */
    position:absolute;
    width: 20px;
    border: 5px solid #242526;
    margin-left:30px;
    border-radius: 20px;
    margin-top: 19px;
    
}
.membersRightSideBar .online p {
    margin-bottom: 0 !important;
    padding-left: 10px;
}

.userHandleTxt {
    font-size: 14px;
    color: #d4d4d4;
    margin-left: 15px;
    opacity: 0.7;
}
#messageHeader {
    background-color:#1f2024;
    width:85%;	    
    height:45px;	    
    padding-top:5px;	
    position:fixed;	    
    z-index:3;	
}
.messageHeader {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}

.messageHandleContainer {
    padding-left: 50px;
}

.messageSideBarImg {
    width: 35px !important;
    margin-left: 5px;
}

.messageImg {
    width: 25px;
    position:absolute;

}

.messageBody {

    margin-bottom: 0 !important;
    font-family: "Helvetica";
    font-weight:540;
}

.sendMsgInput {
    font-family: 'Mulish', sans-serif;
    background-color: #1f2024!important;
    width:85%!important;
    text-align:left;
    left:0!important;
    position:absolute;
    font-size:14px!important;
}
.image-attachments{
   margin-left:50px;
}
.user-disconnected {
    display:none;
    z-index:4;
    width:100%;
    position:absolute;
}
.spinner-border{
    width:20px!important;
    height:20px!important;
    margin-right:5px!important;
}
.message-image img, .message-attachment img{
    width:220px!important;
}
.pdf-iframe{
    height:440px!important;
    width:250px!important;
}
.img-container {
   display:inline-block;
    width:50px;
    margin-left:5px;
    margin-right:5px;
}

.image-attachments img{
    width:100%!important;
    padding-bottom:10px;
}
.delete-badge {
    border-radius:20px;
    position:absolute;
    padding:0px!important;
    margin-left:30px;
    border: 2px solid white;
    margin-top:3px;
    cursor:pointer;
}
.toast-body {
    display:none;
}
.dateStarted {
    color: #d4d4d4;
    margin-bottom: 0;
    margin-top: 10px !important;
    height: 10px !important;
}
#imageUploadLabel{
    right:0!important;
}
.message-title svg {
    margin-right: 6px;
}

.message-title {
    font-size: 14px;
    margin-top: 5px;
}

.sendMsg-btn {
    cursor: pointer;
}

.sent-wrapper {
    text-align: right;
}
.homeContainer {
    padding-top:20px!important;

}
/* mobile only */
@media only screen and (max-width: 1000px) {
    .homeContainer {
        margin-left: 0 !important;
        padding-top:20px!important;
        padding-bottom:100px;
    }

    #messagesContainer {
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 40px;
        padding-bottom: 30px;
        width: 100%;
        text-align: left;
    }

    .membersRightSideBar {
        display: none;
    }
    .msgInput {
        width: 100%;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        color: #a3a3a3;
        margin-top: 5px;
        border-radius: 20px;
        border: none;
        min-height: 40px;
        outline: none;
        background-color: #1f2024!important;
        box-shadow: 2px 3px #131313;
        margin-bottom:80px;
        text-align:left;
    
    }
    .msgInput input {
        width: 60%;
        margin-top: 8px;
        margin-bottom: 4px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        border-radius: 10px;
        border: 0px solid #353030;
        outline: none;
        background-color: #3a3b3c;
        font-size: 16px;
        position: relative;
        left: 0;
    
    }
    #typeMsg {
        width: 100%;
        padding-right:20px;
        padding-left:20px;
        min-height: 40px;
        position: fixed;
        bottom: 0;
        font-size: 20px;
        background-color: #18191a;
    
    }
    .message-title, .headerLinkPageTitle{
        text-align:center;
        margin-top:70px;
        margin-left:5px;
        background-color:#18191a!important;
    }
    div{
        background-color:#18191a!important;

    }
    #convoTitle{
        display:none;
    }
    #horizontalHeader{
        background-color:#18191a!important;
    }
    .containMessageReceived {
        min-height: 40px;
        border-radius: 40px;
        text-align: left;
        color: white;
        padding-left: 20px;
        padding-top: 10px;
        text-align: left;
        text-justify: inter-word;
        font-family: 'Open Sans', sans-serif;
        word-wrap: break-word !important;
        position: relative;
        right: 0 !important;
        margin-right: 40%;
        display: inline-block;
        max-width: 80%;
    
    
    }
    .containMessageSent {

        min-height: 40px;
        min-width: 100px !important;
    
        border-radius: 40px;
        text-align: left;
        color: white;
        padding-left: 20px;
        text-justify: inter-word;
        position: relative;
        font-family: 'Mulish', sans-serif;
        word-wrap: break-word;
        display: inline-block;
        right: 0 !important;
        max-width: 80% !important;
        text-align: left;
    
    }
    .containMessageSentPDF {

        min-height: 40px;
        min-width: 100px !important;
        border-radius: 40px;
        text-align: left;
        color: white;
        padding-left: 20px;
        text-justify: inter-word;
        position: relative;
        font-family: 'Mulish', sans-serif;
        word-wrap: break-word;
        display: inline-block;
        right: 0 !important;
        max-width: 600px !important;
        text-align: left;
    
    }
}

/* desktop only */
@media only screen and (min-width: 1000px) {
    .messageBlock {
        display: inline-block;
        width: 85%;
        text-align: center;
        position: relative;
        margin-top: 30px !important;
        padding-bottom: 0px;
        background-color: #18191a;
        max-height:86vh!important;
        overflow-y: auto;
        padding-right:20px;
    }
   .headerLinkPageTitle{
        text-align:center;
        font-size:15px;
        color:white!important;
    }
.yt-title {
    color:white;
    text-align:center;
    width:200px!important;
}
.message-logo {
    width:23px;
    margin-top:2px!important;
}

.yt-logo {
    width:20px!important;
}
.thumbnail-container{
    width:100%;
    text-align:center;
}
    #messagesContainer {
        margin-bottom: 0px!important;
        padding-bottom: 0px;
        padding-top:10px;
        text-align: left;
    }
    .messageTop {
        width:100%;
        height:1px;
    }
.yt-thumbnail {
    width:200px;
}
.headerContainer{
    margin-top:0!important;
}
    .membersRightSideBar {
        position: fixed;
        right: 0;
        height: 100vh !important;
        width: 15%;
        z-index: 1;
        color: #d4d4d4;
        background-color:#1f2024;
        overflow-y: auto;
        padding-bottom: 60px;
        box-shadow: 1px 1px 1px 1px #a9a9a9;

    }
    .group-images-list{
        margin-left:10px;
    }
    .group-images-list li{
        list-style-type:none;
        margin-top:15px;
        margin-bottom:15px;

    }
    .group-images {
        height: 100%;
        background-color:#23272a;
        width:70px;
        position:absolute;
        z-index:3!important;;
    }
    .groupThreads {
        position: fixed;
        left: 0;
        height: 100% !important;
        width: 250px;
        z-index: 1;
        color: #d4d4d4;
        background-color:#1f2024;
        overflow-y: auto;
    }
    
    .msgInput {
        width: 60%;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        color: #a3a3a3;
        margin-top: 5px;
        margin-left: 15%;
        border-radius: 20px;
        border: none;
        min-height: 20px;
        outline: none;
        background-color: #1f2024;
        box-shadow: 2px 3px #131313;
        text-align:left;
        margin-bottom:10px;
    
    }
    .msgInput input {
        width: 90%;
        margin-top: 8px;
        margin-bottom: 4px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        border-radius: 10px;
        border: 0px solid #6d6d6d;
        outline: none;
        background-color: #3a3b3c;
        font-size: 16px;
        position: relative;
        left: 0;
    
    }
    #typeMsg {
        width: 100%;
        position: fixed;
        bottom: 0;
        font-size: 20px;
        background-color: #18191a;
    
    }
    .containMessageReceived {
        min-height: 40px;
        border-radius: 40px;
        text-align: left;
        color: white;
        padding-left: 20px;
        padding-top: 10px;
        text-align: left;
        text-justify: inter-word;
        font-family: 'Open Sans', sans-serif;
        word-wrap: break-word !important;
        position: relative;
        right: 0 !important;
        margin-right: 60%;
        display: inline-block;
        max-width: 60%;
    
    
    }
    .containMessageSent {

        min-height: 40px;
        min-width: 100px !important;
    
        border-radius: 40px;
        text-align: left;
        color: white;
        padding-left: 20px;
        text-justify: inter-word;
        position: relative;
        font-family: 'Mulish', sans-serif;
        word-wrap: break-word;
        margin-left: 40%;
        display: inline-block;
        right: 0 !important;
        max-width: 80% !important;
        text-align: left;
    
    }
}