html {
    overflow: hidden;
    height: 100%;
  }
  
  body {
    overflow: auto;
    height: 100%;
  }
.page-containerPriv{
    width:100%!important;
    background-image: url('../img/bg-image.svg');
    background-repeat:no-repeat;
    background-position:fixed;
    background-color:#2196f3;
    min-height:130vh;
    background-size:1980px;
}
.containerPrivacy {
    margin-top: 80px;
    padding-bottom: 70px;
}
#privacyTitle {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#privacyTitle h1{
    color: white;
    position: relative;
    
}
#privacyTitle h2 {
    color: white;
    font-weight: 100;
}
/* parent div of introduction */
#intro {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#intro h2 {
    color: white;
}
#intro p {
    color: white;
    /* width: 30em; */
}
#intro h3 {
    color: white;
    font-weight: 300;
    font-size: 25px;
    width: 30em;
}
/* parent div of intro 2 */
#intro2 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#intro2 h2 {
    color: white;
}
#intro2 h3 {
    color: white;
    font-weight: 300;
    /* width: 30em; */
}
#intro2 p {
    color: white;
    /* width: 30em; */
}

/* parent div of intro 3 */
#intro3 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#intro3 h2 {
    color: white;
}
#intro3 h3 {
    color: white;
    font-weight: 200;
    /* width: 30em; */
}
#intro3 p {
    color: white;
    /* width: 30em; */
}
.degreeMe-title {
    color: #a3a3a3;
}
/* first list on page */
.privList {
    color: white;
    margin-left: 100px;
    text-align: left;
}

@media only screen and (max-width: 1000px) {
    #intro h3 {
        color: white;
        font-weight: 300;
        font-size: 20px;
        width: 13em;
    }
    .privList {
        color: white;
        margin-left: 40px;
        text-align: left;
    }
/* nav bar set up */
.socialItem {
    display: none!important;
  }
  #headerLinkContainer ul li:nth-child(2){
    display: none!important;
  } 
  #headerLinkContainer ul li:nth-child(3){
    display: none!important;
  } 
  #headerLinkContainer ul li:not(:first-child) {
    position: relative;
    right: 125px;
}
  /* end of nav bar design for mobile */
}
.termsTxt{
    color:white;
}
.orderList{
    color:white;
}