.followStudents {
    border-radius: 25px;
    background-color: transparent;
    color: #007bff;
    position: relative;
   
    right:0;
    top:0;
    border: .5px solid #007bff;
    font-family: open sans, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    float:right;
    font-size:14px!important;
}
.student-container{
    width:598px!important;
    border: .25px solid #656565;
}
.follow-container{
   
    position:relative;
    right:0;
    margin-top:-80px!important;
    margin-right:20px;
}
.handle {
    margin-bottom: 0;
    color:white!important;
    font-size:15px;
}
#connectionSearchBarContainer h2{
    text-align: center;
}
#connectionSearchBarContainer {
    margin-left: 40px;
}
.studentImage img{
    width: 49px!important;
    
    margin-left: 15px;
    margin-top: 5px;
}
.studentImage{
    float: left;
    margin-top:5px;
}
.studentResult{
    
    margin-right:10px;
    text-align:center;
    font-family: open sans, sans-serif;
    height: 90px;
    width: 100%;
    border-bottom: 0.2px solid #656565!important;
    background-color: transparent;
}
.name{
    color:white!important;
}
.studentName{
    position: relative;
    left: 15px;
    width: 500px;
    margin-top: 10px;
    padding-top:7px;
    text-align: left;
    margin-right:0!important;
}
.bio{
    font-size:14px;
    color:white;
    margin-left:65px;
}
.parent-student {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.input-container2Light {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%!important;
    background-color: #242526;
    border: 1px solid #242526;
    border-collapse: separate; 
    border-radius:20px;
    padding-bottom:none!important;
    position:relative;
    outline:0!important;
    /* z-index:4; */
    height:45px;
    background-color:none;
}
.input-container2Light input{
    font-family:Helvetica Neue, Helvetica, sans-serif;
    color:white!important;
    background-color: white;
  }


