.tutorBtn{
    background-color: #007bff;
}
.tutorButtons a{
    display:inline-block!important;
    
}
.tutorBlock{   
    min-height:210px;
    margin-bottom:20px;
    display: -webkit-inline-box;
    margin-bottom:50px;
    border-radius:10px;
    margin-left:0;
    
}
.reviewBlock{  
        min-height:120px;
        margin-bottom:20px;
        display: -webkit-inline-box;
        margin-bottom:50px;
        border-radius:10px;
        
}
.iconImg{
    float:left;
    margin-right:15px;
    width:10px!important;
}
.iconImg svg {
    fill: #d4d4d4;
    width: 15px;
}
.courseText {
    top: 6px;
}

.hostName{
    color:white;
    
}
.tutorButtons form{
    display:block!important;
    width:10%!important;
    position:absolute;
}

@media only screen and (max-width: 1000px) {
    .courseText{
        font-size:14px!important;
    }
    .tutorBlockBody{
        text-align: left;
        width: 55%;
        margin-bottom: 0;
        margin-top:15px;
        margin-left:0;
        float: right;
        color: #a3a3a3;
    }
    .infoItem{
        width:100%;
        margin-right:0!important;
        margin-bottom:10px;
    }
}
@media only screen and (min-width: 1000px) {
    .tutorBlockBody{
        text-align: left;
        width: 65%;
        margin-bottom: 0;
        margin-top:25px;
        margin-left:0;
        float: right;
        color: #a3a3a3;
    }
    .infoItem{
        width:50%;
        margin-right:0!important;
        margin-bottom:10px;
    }

}