.emailSent{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}
#submitPword{
    width: 350px;
}
.forgot-pwordImage {
    display: inline-block;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}
@media only screen and (max-width: 375px) {
   /* nav bar set up */
   .socialItem {
    display: none!important;
  }
  #headerLinkContainer ul li:nth-child(2){
    display: none!important;
  } 
  #headerLinkContainer ul li:nth-child(3){
    display: none!important;
  } 
  #headerLinkContainer ul li:not(:first-child) {
    position: relative;
    right: 125px;
}
  #headerLinkContainer {
    list-style-type: none;
    height: 60px;
    width: 100%;
    padding-top: 15px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .logo{
    width:120px;
    margin-top:-7px;
    position: relative;
    right: 20px;
  }
  .login-nav {
    border-radius: 10px!important;
    padding-top: 3px!important;
    padding-bottom: 3px!important;
    box-shadow: 1px 2px #131313;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px!important;
    position: relative;
    left: 50px;
    width: 100px!important;
    margin-left: 0px!important;
  }
  /* end of nav bar design for mobile */
  .homeContainer {
    width: 375px!important;
    padding-top: 120px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #a9a9a9;
    background-color: #18191a;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .contentBlock {
    width: 100%;
    text-align: center;
    position: relative;
  }
}