<!DOCTYPE html>

    <head>
        <title>About Us</title>
        <link rel="icon" href="assets/img/favicon.png" type="image/png" />
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
        <link href="assets/css/header.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/about.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <script src="assets/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <script type="text/javascript" src="assets/js/underLineMainNav.js"></script>
        <script type="text/javascript" src="assets/js/about.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body class="<%=session.theme%>">
        <h3 class="mobileMsg">Mobile and Tablet Versions Coming Soon</h3>
        <div class="page-container1">
            <div id="headerContainer">
               
            </div>
            <div class="wholeScreen">
                <div class="contentBlock">  
                    <div id="aboutContainer">
                            <div class="summary">
                                <div class="aboutUsTitle">
                                    <div class="capsAbout">
                                            <img src="assets/img/caps.png" alt="caps"/>
                                    </div>
                                    
                                   
                                </div>
                                <p> Our Mission </p>
                                <h1>Empower Students with Software</h1>
                                    
                                   </div> 
                       
                               
                        <div class="scrollArrow">
                                <svg class="bi bi-chevron-compact-down" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                                  </svg>
                        </div>
                    </div> 
                    <a name="aboutScroll"></a>
                    <div class="aboutContainer2">
                      <!-- <a name="aboutScroll"></a>
                        <h2>Your Keys to Success</h2> -->
                        <div class="rowParent"></div>
                        <div class="row">
                                <div class="column">
                                        <svg class="bi bi-book-half" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
                                            <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869z"/>
                                          </svg>

                                          <h1>Tutor</h1>
                                          <h2>Make extra money by becoming a 
                                              tutor for any previous class
                                              you took. <br>Set your own schedule.
                                          </h2>
<br>
                                          <h2>Set your own rate for individual sessions.</h2>
<br>
                                          <h2>Get the help you need when you need it
                                              by finding a tutor.
                                            </h2>


                                </div>
                                <div class="column">
                                        <svg class="bi bi-plug" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4 5h8v3a4 4 0 0 1-8 0V5z"/>
                                            <path fill-rule="evenodd" d="M6 1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V2a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V2a.5.5 0 0 1 .5-.5zM7.115 13.651c.256-.511.385-1.408.385-2.651h1c0 1.257-.121 2.36-.49 3.099-.191.381-.47.707-.87.877-.401.17-.845.15-1.298-.002-.961-.32-1.534-.175-1.851.046-.33.23-.491.615-.491.98h-1c0-.635.278-1.353.918-1.8.653-.456 1.58-.561 2.74-.174.297.099.478.078.592.03.115-.05.244-.161.365-.405z"/>
                                          </svg>

                                          <h1>Connect</h1>
                                          <h2>Connect with your peers or students around campus.
                                              Find students in your major and classification.
                                            </h2>
 <br>
                                            <h2>Follow students to see what they are posting on their timeline. 
                                              </h2>
<br>
                                            <h2>
                                                Post on the discussion boards on the course profile page. Each course 
                                                page has its own discussion bored to discuss topics related to that course.
                                            </h2>
                                </div>
                                <div class="column">
                                        <svg class="bi bi-people-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                          </svg>

                                          <h1>Study</h1>
                                          <h2>Create study groups for others and your peers to join. 
                                              </h2>
<br>
                                              <h2>Find study groups on your timeline and join them. 
                                                </h2>
<br>
                                              <h2>
                                                  Creating a study group or joining a study group is COMPLETELY FREE.
                                              </h2>
                                </div>
                         </div>
                        </div>
                    </div>
                      
                        <br>
                             
                </div>
            </div>
        </div>
       
    </body>
</html>  