<!DOCTYPE html>
<head>
    <title>Thank you! | degreeMe </title>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="assets/css/main1.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="assets/css/home.css" rel="stylesheet">
    <!-- Script -->
    <script src="assets/jquery/dist/jquery.js"></script>
</head>


<body>

    <div class="page-container">
        <%- include ('partials/sideBar.ejs') %>
        <%- include ('partials/horizontalHeader.ejs')%>
        <div class="homeContainer">
            <div class="feedbackLeftContainer">
                <h1 class="feedback">Thanks for the feedback!</h1>
                <img class="feedbackImg" src="../assets/img/undraw_Notify_re_65on.svg"/>
                <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

            </div>

        </div>

    </div>

</body>

</html>