<!DOCTYPE html>
<head>
    <title>Thank you! | degreeMe </title>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" />
    <link href="assets/css/main1.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="assets/css/home.css" rel="stylesheet">
     <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTK9R96');</script>
    <!-- End Google Tag Manager -->
    <!-- Script -->
    <script src="assets/jquery/dist/jquery.js"></script>
</head>


<body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTK9R96"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->

    <%- include ('partials/mobileComingSoon.ejs')%>
    <div class="homeWrap">
    <div class="page-container">
        <%- include ('partials/sideBar.ejs') %>
        <%- include ('partials/horizontalHeader.ejs')%>
        <div class="homeContainer">
            <div class="feedbackLeftContainer">
                <h1 class="feedback">Thanks for the feedback!</h1>
                <img class="feedbackImg" src="../assets/img/undraw_Notify_re_65on.svg"/>
                <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

            </div>

        </div>
    </div>
    </div>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
</body>

</html>