<!DOCTYPE html>
<head>
    <title>Messages | degreeMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" />
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="../assets/css/main1.css" rel="stylesheet">
    <link href="../assets/css/userProfile.css" rel="stylesheet">
    <link href="../assets/css/userHeader.css" rel="stylesheet">
    <link href="../assets/css/messages.css" rel="stylesheet">
    <link href="../assets/css/home.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
    <!-- End Google Tag Manager -->
    
    <!-- Scripts -->
    <script src="../assets/jquery/dist/jquery.js"></script>
    <script src="../assets/js/scrollMessages.js"></script>
</head>

<body class="bodyClass">
                <!-- Google Tag Manager (noscript) -->
                <%- include('partials/googleTagManager1.ejs') -%>
                <!-- End Google Tag Manager (noscript) -->

    <div class="homeWrap">
        <div class="page-container">
            <div id="messageHeader" class="horizontalDark">
                <div class="blocker"></div>
                <div class="alert alert-danger user-disconnected" role="alert">
                    You have been disconnected from the Messages server. Refresh the
                    page to re-connect!
                  </div>
                <%- include ('partials/messageHeader.ejs') %>
                <div class="toast-body bg-danger text-light">
                    Error: File type not allowed
                  </div>
                <ul id="horizontalMenu">
                </ul>
                <div class="userHeaderWrapper">
                </div>
            </div>
            <%- include ('partials/messageSideBar.ejs') %>
        <div class="homeContainer ">
            <%- include ('partials/messageBody.ejs') %>
    </div>
    </div>
    
    <audio id="pop">
        <source src="../assets/sounds/Blop-Mark_DiAngelo-79054334.mp3" type="audio/mpeg">
    </audio>
    <script src="../assets/js/socket.io.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-storage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.12/dist/browser-image-compression.js">
    </script>
    <script src="../assets/js/firebaseConfig.js"></script>
    
    <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
    <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../assets/js/getNotifications.js"></script>
    <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
    <script type="text/javascript" src="../assets/js/tooltip.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/messageFunctions.js"></script>
    <script type="text/javascript" src="../assets/js/messages.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/getMemberHandles.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/getThreadImages.js"></script>
    <script type="text/javascript" src="../assets/js/Messages/messageScroll.js"></script>


</body>

</html>