<!DOCTYPE html>
    <head>
        <title>Connections</title>
        <meta charset="UTF-8">
        <link href="assets/css/main1.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">
        <link href="assets/css/userHeader.css" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

        <!-- Google Tag Manager -->
	    <script type="text/javascript" src="assets/js/googleTagManager.js"></script>
        <!-- End Google Tag Manager -->
        
        <script src="assets/jquery/dist/jquery.js"></script>
    </head>
        <body class="bodyClass">
            <!-- Google Tag Manager (noscript) -->
            <%- include('partials/googleTagManager.ejs') -%>
            <!-- End Google Tag Manager (noscript) -->

            <%- include ('partials/mobileComingSoon.ejs')%>
            <div class="homeWrap">
   
        <div class="page-container">
            <%- include ('partials/sideBar.ejs') %>
            <%- include ('partials/horizontalHeader.ejs')%>
            <div class="homeContainer">
                <div class="noConnectionsContainer" >
                    <h1 class="text-light noConnections">You haven't added any connections.</h1>
                    <a class="btn btn-primary noConnectionsBtn" href="/Connect">Connect with a tutor</a>
                   
                </div>
            </div>
        </div>
    </div>

        <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
        <script type="text/javascript" src="../assets/js/displayMyCourses.js"></script>
        <script src="../assets/js/getNotifications.js"></script>
        <script src="../assets/js/popper.min.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/SiteWideSearch.js"></script>
        <script type="text/javascript" src="../assets/js/highlightCurrentMenuItem.js"></script>
        <script src="../assets/jquery/jquery.session/jquery.session.js"></script>
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

    </body>
</html>