<!DOCTYPE html>
    <head>
        <title>Connections</title>
        <meta charset="UTF-8">
        <link href="assets/css/main1.css" rel="stylesheet">
        <link href="assets/css/userProfile.css" rel="stylesheet">
        <link href="assets/css/userHeader.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="assets/jquery/dist/jquery.js"></script>
    </head>
    <% if(session.theme === 'bg-dark'){%>
        <body class="bodyClass">
    <%}else{%>
        <body class="bg-light">
    <%}%>
        <div class="page-container">
            <%- include ('partials/sideBar.ejs') %>
            <%- include ('partials/horizontalHeader.ejs')%>
            <div class="homeContainer">
                <div class="noConnectionsContainer" >
                    <h1 class="text-light noConnections">You haven't added any connections.</h1>
                    <a class="btn btn-primary noConnectionsBtn" href="/Connect">Connect with a tutor</a>
                   
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../assets/js/Client-DateFunctions.js"></script>

    </body>
</html>