<!DOCTYPE html>
<html>
<head>
	<title>Viewer</title>
	<meta charset="UTF-8" />
	<link href="/styles.css" rel="stylesheet">

	<!-- Google Tag Manager -->
	<script type="text/javascript" src="assets/js/googleTagManager.js"></script>
	<!-- End Google Tag Manager -->
	
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<%- include('partials/googleTagManager.ejs') -%>
    <!-- End Google Tag Manager (noscript) -->
<video playsinline autoplay></video>
<script src="/socket.io/socket.io.js"></script>
<script src="/watch.js"></script>
</body>
</html>