<!-- Footer -->
<footer class="page-footer">

  <!-- <div class="container-fluid text-center text-md-left">
     
       <div id="footerLogo"> 
        <img src="/assets/img/hash.svg" class="footerLogo" />
    

      <ul class="list-unstyled">
         <li>
          <a href="/Jobs">Jobs</a>
        </li>
        <li>
          <a href="/aboutUs">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/privacy">Privacy</a>
        </li>
        <li>
          <a href="/policies">Policies</a>
        </li>
      </ul>

      <div class="footer-copyright text-center py-3">

        <p class="copyright">© DegreeMe 2020 </p>

  </div> -->

  
</footer>