<div class="slider">
    <div>
        <div class="slide-content">
            <div class="slide-image">
                <img class="slider-image" src="assets/img/wallet.svg" alt="Earn image"/>
            </div>
        <div class="slide-text">
            <h1 class="slide-header">Earn on your own time</h1>
            <p class="app-description">Become a tutor for classes you've already taken.</p>
            <p class="app-description">Set your hourly pay rate and earn money on your own time.</p>
            <a href="/SignUp" class="btn btn-primary join-btn" id="">Become a Tutor</a>
        </div>
       </div>
        </div>
        <div>
            <div class="slide-content">
            <div class="slide-image">
                <img class="slider-image" src="assets/img/sharedGoals.svg" alt="Earn image"/>
            </div>
        
            
            <div class="slide-text">
                <h1 class="slide-header">Get help from a student that's been in your shoes</h1>
                <p class="app-description">Get tutored by a UNCC student who has already taken the course you need help with.</p>
               
                <a href="/SignUp" class="btn btn-primary join-btn" id="">Join for free</a>
            </div>
            
           </div>
            </div>
            <div>
                <div class="slide-content">
                    <div class="slide-image">
                        <img class="slider-image" src="assets/img/group.svg" alt="Earn image"/>
                    </div>
                        <div class="slide-text">
                            <h1 class="slide-header">Create groups with students like you</h1>
                            <p class="app-description">Create a group around any topic of interest.</p>
                            <p class="app-description">Talk in group chats and create meetups in person or through Zoom.</p>
                            <a href="/SignUp" class="btn btn-primary join-btn" id="">Start a Group</a>
                        </div>

                </div>
            </div>
                <div>
                    <div class="slide-content">
                        <div class="slide-image">
                            <img class="slider-image" src="assets/img/connected.svg" alt="Earn image"/>
                        </div>
                        <div class="slide-text">
                        <h1 class="slide-header">Stay connected on campus</h1>
                        
                            <p class="app-description">Make new connections with students on campus</p>
                                
                            <p class="app-description">Follow students to see their actions in realtime, post to course discussion boards, find students in any major,
                                send direct messages and create group chats.</p>
                            <a href="/SignUp" class="btn btn-primary join-btn" id="">Start connecting</a>
                        </div>
                    </div>
                    
                    
                   
                    </div>
    



</div>