<div>
    
    <form method="POST" action ="/login">
    <div class="field">
        <p id="emailMsg1"></p>
        <input class="Login--Input" name="email" id="email1" type="text" placeholder=" " spellcheck="false" autocomplete="off" />
        <label class="Login--Label" for="email1">Email</label>
    </div>

    <div class="field">
        <p id="pwMsg1"></p>
        <input class="Login--Input" name="password" id="password1" type="password" placeholder=" " autocomplete="off" />
        <label class="Login--Label" for="password1">Password</label>
    </div>
    
    <button type="submit" class="Login--Submit" id="loginBtn1">Log In</button>
    <ul class="loginLinkList">
        <a href="/UpdatePassword"><small class="forgotPW">Forgot Password?</small></a>
    </ul>
  </form>
</div>