<div id="headerLinkContainer">

    <ul>
        <li class="headerLinks headerMenu">
                <a href="/" class="text-dark"><img src="../assets/img/degreeMeLogo.svg" alt="logo" class="logo"
                        width="20" /></a>
            </a></li>
        <!-- <li class="headerLinks headerMenu"><a class="" href="/searchStudents">Search Students</a></li> -->
        <!-- <li class="headerLinks headerMenu"><a class="" href="/AboutUs">Find Study Groups</a></li> -->
        <li class="headerLinks headerMenu"><a class="menu-item" href="/SignUp">Sign Up</a></li>
        <li class="headerLinks headerMenu"><a class="menu-item" href="/privacy">Terms and Conditions</a></li>
        <li class="socialItem">
            <a href="https://www.instagram.com/degreeme_/"><img class="socialIcon"
                    src="../assets/img/instaLight.svg" /></a>
        </li>
        <li class="socialItem">
            <a><img class="socialIcon" src="../assets/img/youtubeLight.svg" /></a>
        </li> 
        <li>
            <a href="/login" class="btn btn-primary login-nav">Login</a>
        </li>
       
        <!-- <li class="socialItem">
            <a><img class="socialIcon" src="../assets/img/fbLight.svg" /></a>
        </li> -->
        <!-- <li class="socialItem">
            <a><img class="socialIcon" src="../assets/img/twitterLight.svg" /></a>
        </li> -->


    </ul>
</div>
<!-- <div class="secondaryMenu">
    <a href="/login" class="btn btn-primary login-nav">Login</a>
</div> -->