<div id="headerLinkContainer">

    <ul>
        <a href="/" class="text-dark"><img src="../assets/img/degreeMeLogo.svg" alt="logo" class="logo"
            width="20" /></a>
        <!-- <li class="headerLinks headerMenu"><a class="" href="/searchStudents">Search Students</a></li> -->
        <!-- <li class="headerLinks headerMenu"><a class="" href="/AboutUs">Find Study Groups</a></li> -->
        <li class="headerLinks headerMenu"><a class="menu-item" href="/SignUp">Sign Up</a></li>
        <li class="headerLinks headerMenu"><a class="menu-itm" href="/privacy">Terms and Conditions</a></li>
        <li class="socialItem">
            <a href="https://www.instagram.com/degreeme_/"><img class="socialIcon"
                    src="../assets/img/instaLight.svg" /></a>
        </li>
        <li class="socialItem">
            <a><img class="socialIcon" src="../assets/img/youtubeLight.svg" /></a>
        </li> 
        <li>
            <a href="/login" class="btn btn-primary login-nav">Login</a>
        </li>
       
        <!-- <li class="socialItem">
            <a><img class="socialIcon" src="../assets/img/fbLight.svg" /></a>
        </li> -->
        <!-- <li class="socialItem">
            <a><img class="socialIcon" src="../assets/img/twitterLight.svg" /></a>
        </li> -->


    </ul>
</div>
<div id="mobileHeaderLinkContainer">
    <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
    aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
    <svg class="bi bi-list"   viewBox="0 0 16 16" fill="#a9a9a9" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
</button>
    <a href="/" class="text-dark"><img src="../assets/img/degreeMeLogo.svg" alt="logo" class="logo"
        width="20" /></a>
    
        <ul>
            <li class="headerLinks headerMenu">
               
            
            </li>
            <li class="headerLinks headerMenu">
               
                    
                </li>
            
            <!-- <li class="socialItem">
                <a href="https://www.instagram.com/degreeme_/"><img class="socialIcon"
                        src="../assets/img/instaLight.svg" /></a>
            </li>
            <li class="socialItem">
                <a><img class="socialIcon" src="../assets/img/youtubeLight.svg" /></a>
            </li> -->
            <li class="socialItem">
                
                   
            
            </li>
    
    
        </ul>
        <div class="right-mobile-menu">
        <a href="/login" class="btn btn-primary login-nav">Login</a>
    </div>
    
    
</div>