      <!-- Modal -->
      <div class="modal fade " id="updateClassModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
          <div class="modal-content color-dark modal-content-follow">
            <div class="modal-header">
              <h5 class="modal-title text-light" id="exampleModalCenterTitle">Update classification</h5>
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                   <ul class="class-list">
                       <li class="class-list-item">Freshman</li>
                       <li class="class-list-item">Sophomore</li>
                       <li class="class-list-item">Junior</li>
                       <li class="class-list-item">Senior</li>
                       <li class="class-list-item">Post-Grad</li>
                       <li class="class-list-item">Alumni</li>
                   </ul>
                    
                  
            </div>
            
            <div class="modal-footer">
          
            </div>
          </div>
        </div>
      </div>