<div id="myCourses">
    <div class="myCourse-container">
</div>
<div class="text-light myCourseTitle" data-toggle="tooltip"
data-placement="right" title="Add Course">
    <div class="memberImage" data-toggle="modal" data-target="#addCourseModal" >
    <p class="addCourses">
        +
    </p>
</div>
</div>


</div>

