<header>
        
        <a name="top"></a> 
        <div id="mainNav">
            <%- include ('nav1.ejs')%>
        </div>
    </header>
    
    <div class="msg">
            <% for(x in session.handles){%>
            <ul class="userProfileHeaderContainer">
                    
            </ul>
        <%}%>  
    </div>
    <p class="sideBarSchool badge badge-success">UNC Charlotte</p>
    <div id="overlay"></div>
   