<div class="blocker"></div>
<div class="blocker1"></div>
    <div id="horizontalHeader" class="horizontalDark">
        <div class="underline-header"></div>

    <%- include ('last5Notifications.ejs')%>
    <ul id="horizontalMenu">
        
    </ul>
        <div class="userHeaderWrapper">
            <div class="userHeader">
                <%- include ('userProfileDropdown.ejs') %>
            </div>
            <div id="versionTxt">
                  
                </div>
        </div>
</div>
