<div class="membersRightSideBar">
    <p class="messageHeader">People</p>
    <div class="messageHandle-container">
        <% for(x in messages.userHandles){%>
        <div class='messageHandle '>
            <a href="/user/<%=messages.userHandles[x][0]%>">
                <div class="online"></div>
                <img class="messageSideBarImg" src="<%=messages.userHandles[x][1]%>" />
                <span class="userHandleTxt"><%=messages.userHandles[x][0]%></span>
            </a>
        </div>
        <%}%>
</div>
</div>