<div class="membersRightSideBar">
    <p class="messageHeader">MEMBERS</p>
    <div class="messageHandle-container">
        
        
</div>
<div class="thread-images-container">
    <p class="messageHeader">FILES</p>
    <div class="container">

    </div>
    </div>
  </div>
</div>