<div  class="mobileComingSoon">
    <img class="mobileVersionImg" src="../assets/img/degreeMeLogo.svg"/>
    <img class="mobileVersionImg1" src="../assets/img/undraw_Mobile_life_re_jtih.svg"/>
    <p class="mobileVersionTxt">The mobile version of our platform is under construction and will be released in the coming weeks. For now, enjoy degreeMe on any desktop browser.</p>
</div>