<div id="userDropdown" class="<%=session.theme%>">
        
    <ul>
        <a id="" href='/Settings'><li>Settings</li></a>
        <a id="" href='/MyFinances'><li>My Finances</li></a>
        <a id="logout" href='/logout'><li>Log Out</li></a>

    </ul>
</div>