<div class="homeSideBar">
    <div class="homeSideBar-container">
        <h2 class="homeSideBarTitle">Meeting Members</h2>
        <ul class="sideBarItemMenu">
            
                  
            
            
            <li class="sideBarItemMenu-item"><a class="text-primary" href="/meetups">Past Meetups</a></li>
        </ul>
    </div>
    <div class="homeSideBar-container">
        <h2 class="homeSideBarTitle">Your Study Groups</h2>
        <li class="sideBarItemMenu-item"><a href="/startAGroup" class="text-primary">Create Study Group</a></li>
        <ul class="sideBarItemMenu">
        
            
          
        </ul>
    </div>
    <div class="homeSideBar-container">
        <h2 class="homeSideBarTitle">Your Tutor Listings</h2>
       
        <p class="sideBarItemMenu-item"><a class="text-primary" href="/HostASession">Create Tutor Listing</a></p>
    </div>
    <!-- <div class="homeSideBar-container-last">
        <h2 class="homeSideBarTitle">Your Clubs</h2>
         <ul class="sideBarItemMenu">
            <li class="sideBarItemMenu-item">Item 1</li>
            <li class="sideBarItemMenu-item"><a href="#">Find Clubs</a></li>
        </ul>
    </div> -->
   

</div>